.br-chat-wrapper{
    background:rgba(174, 174, 174, 0.61);
    width:295px;
    padding: 20px;
    opacity: 0;
    border-radius: 20px 0 0 20px;
    z-index: -1;;
    font-family: 'Montserrat', sans-serif;
    @include position(absolute,0,0,0,auto);
    &.active{
        z-index: 3;
        opacity: 1;
    }
    .br-title{
        color: $clr-white;
        font-size: 23px;
        font-weight: 500;
        border-bottom: 1px solid #bdbdbd;
        margin-bottom: 20px;

    }
    .br-icon-close{
        
        @include position(absolute,10px,10px,auto,auto);
    }
    .br-msg-list{
        list-style: none;
        max-height: 335px;
        overflow: auto;
        padding: 0;
        >li{
            margin-bottom: 10px;
            .br-avatar{
                display: inline-block;
                width:35px;
                height:35px;
                vertical-align: top;
                border-radius: 50%;
                overflow: hidden;
                object-fit: cover;
                margin: 0;
                >img{
                    width: 100%;
                    object-fit: cover;
                    min-height: 100%;
                    max-width: unset;
                }
            }
            .br-message-dtls{
                display: inline-block;
                width:calc(100% - 40px);
                color: #fff;
                background: rgba(105, 105, 105, 0.6);
                padding: 10px;
                border-radius: 10px;
                .br-name{
                    font-size: 11px;
                    font-weight: 400;
                }
                .br-msg{
                    font-size: 11px;
                    font-weight: 100;
                    font-family: 'Lato', sans-serif;
                }
            }
        }
    }
    .br-submit-msg{
        >textarea{
            
            color: #fff;
            padding: 10px;
            border-radius: 10px;
            border:none;
            resize: none;
            background: rgba(105, 105, 105, 0.8);
            margin-bottom: 10px;
        }
        
        .br-btn{
            background: none;
            color:$clr-white;
            font-size: 11px;
            @include border-radius(25px);
            padding: 8px 19px;
            border:1px solid #00ffff;
            float:right;
        }
    }
}