.br-device-checking-wrapper{
    font-family: 'Montserrat', sans-serif;
    @include bp('min-width :991px') {
        height: 330px;
        margin:auto;
        @include position(absolute,0,0,0,0);
    }
    .br-welcome-title{
        font-size: 46px;
        font-weight: 100;
        margin-bottom:30px;
        color:#414141;
    }
    .br-link{
        color:#212121;
        font-size: 19px;
        font-weight: 400;

    }
    .br-device-checking-area{
        display: inline-block;
        background: #fff;
        @include border-radius(8px);
        @include box-shadow(2px 3px 12px 0px transparentize($clr-black,.6));
    }
    .br-video{
        width:345px;
        height: 259px;
        @include border-radius(8px 8px 0  0);
    }
    .br-footer{
        >a{
            margin:0 10px;
        }
    }

}