.el-profile-wrapper{
    .el-avatar-upload-wrapper{
        figure{
            width:110px;
            height: 110px;
            object-fit: cover;
            object-position: center;
            padding:10px;
            margin:20px auto;
            @include border-radius(50%);
            border: 1px solid $clr-grey-light;
            position: relative;
            img{                
                @include border-radius(50%);
            }
        }
        .el-icon-camera{
            background: $clr-blue;
            padding: 4px;
            width:25px;
            height: 25px;
            color: $clr-white;
            text-decoration: none;
            @include transition(all .5s ease);
            @include border-radius(50%);
            @include position(absolute,auto,0,0,auto);
            &:hover{
                width:28px;
                height: 28px;
                padding: 5px;
            }
        }
    }
    .el-profile-dtls{
        .el-name{
            font-size: 21px;
            color: $clr-black-light;
            font-weight: 500;
        }
        .el-email{            
            font-size: 12px;
            color: $clr-black-light;
        }
        .el-region-wrapper{
            .el-selected{
                font-weight: 500;
                color: $clr-grey;
            }
        }
    }
    .el-change-pw-wrapper{
        .el-title{
            
            font-size: 19px;
            font-weight: 500;
            .el-icon{
                font-size: 20px;
                color: #480fb9;
                margin-right: 10px;
            }
        }
        .form-group{
            .control-label{
                font-family: 'Lato', sans-serif;
                color: #747474;
                font-size: 16px; 
            }
            .el-icon{
                color:$clr-grey-light;
                &:hover{
                    color: $clr-grey;
                }
            }
            .el-btn-primary{
                margin: 20px -30px 30px 0px;
            }
        }
    }
}