.br-invite-user-wrapper{
    z-index: 3;
    width:0px;
    overflow: hidden;
    @include transition(width .3s ease);
    @include position(absolute,auto,0,3vh,auto);
    &.active{
        width:360px;
    }
    >.br-form{

        background: rgba(105, 105, 105, 0.6);
        padding: 10px 30px 9px 10px;
        @include border-radius(27px 0 0 27px);
    }
    .form-control{
        height: 35px;
        width:245px;
        font-size: 9px;
        color: $clr-white;
        margin-right: 10px;
        @include border-radius(25px);
        border:none;
        padding: 2px 15px;
        background: rgba(105, 105, 105, 0.8);
    }
    .br-btn-copy{
        background: none;
        color:$clr-white;
        font-size: 11px;
        @include border-radius(25px);
        padding: 8px 19px;
        border:1px solid #00ffff;
    }
}