.ed-main-header{
    .ed-logo-wrapper{
        float: left;
        position: relative;
        top: -10px;
    }
    .ed-navbar-wrapper{
        float: right;
        max-width: calc(100% - 150px);
        text-align: right;
        >ul{
            display: inline-block;
            &.ed-navbar-left{
                li{
                    width: 70px;
                    padding: 3px;
                    text-align: center;
                    background: #fff;
                    border-radius: 18px;
                    border:1px solid #16b1e4;
                    margin-right: 8px;
                    a{
                        font-size: 19px;
                        color: #16b1e4;
                    }
                }
            }
            &.ed-navbar-right{
                background: #fff;
                height: 50px;
                padding: 0 20px;
                align-items: center;
                display: inline-flex;
                border-radius: 68px 9px 0px 0px;
                position: relative;
                @include box-shadow(3px -3px 5px 0px #ddd);
                &::before{
                    content: '';
                    display:none;                    
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #f6f7fc;
                    position: absolute;
                    left:0;
                    bottom: 0;
                }
                li{
                    width:60px;
                    text-align: center;
                    a{
                        color: #16b1e4;
                    }
                }
            }
        }
    }
}