.el-login{

    .el-left-block{
        .el-logo-wrapper{
            @include position(absolute,20px,auto,auto,50px);
        }
        .el-signin-wrapper{
            width:100%;
            padding:0 125px;
            .el-title{
                color:$clr-blue-dark;
                font-weight: 600;
                font-size: 27px;
                margin-bottom: 18px;
            }
            .el-help-block{
                color:$clr-grey;
                font-size: 13px; 
                font-weight: 300;
                margin-bottom: 20px;
            }
            .form-check-label,.el-frgt-pw{
                font-size: 10px;
                font-weight: 300;
                color: #6c727a;
                line-height: 22px;
                margin:0;
            }
        }
    }
    .el-right-block{
        background: url('../img/bg-login.jpg') center;
        background-size: cover;
    }
}