
.el-reset-pw{

    .el-left-block{
        .el-logo-wrapper{
            @include position(absolute,50px,auto,auto,50px);
        }
        .el-reset-pw-wrapper{
            width:100%;
            padding:0 125px;
            .el-title{
                color:$clr-blue-dark;
                font-weight: 600;
                font-size: 27px;
                margin-bottom: 18px;
            }
            .el-help-block{
                color:$clr-grey;
                font-size: 13px; 
                font-weight: 300;
                margin-bottom: 20px;
            }
            .btn-link{
                color: grey;
                font-size: 10px;
                margin: 3px 0 0 10px;
            } 
        }
    }
    .el-right-block{
        background: url('../img/bg-reset-pw.jpg') center;
        background-size: cover;
    }
}