.ed-sidebar-block{
    height: 45vh;
    position: absolute;
    bottom: 4%;
    left:0;
    right:0;    
    .ed-header-toggle{
        background: #f5f5f5;
        display: flex;
        width:100%;
        a{
            font-size: 22px;
            color: #b8bcbe;
            text-decoration: none;
        }
        >div{

            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            text-align: center;
            border-right: 1px solid #efefef;
            padding:10px;
            cursor: pointer;
            &.active{
                background: #fff;
                a{
                    color: $clr-blue;
                }
            }
            &:last-child{
                border:none;
            }
        }
    }
    .ed-content-wrapper{
        .ed-content{
            display: none;
            &.active{
                display: block;
            }
            .et-title-wrapper{
                background: #fff;
                box-shadow: 0 7px 21px 5px rgba(221, 221, 221, 0.55);
                font-size: 13px;
                font-weight: 500;
                padding: 10px 20px;
                .el-left{
                    width:45%;
                    padding: 5px 0;
                    color: #d2d2d2;
                    border-right: 1px solid #ddd;
                }
                .el-right{
                    color: $clr-black;
                    padding: 5px 0 5px 10px;
                    >div:not(:last-child){
                        margin-right: 5px;
                    }
                    .ed-resize{
                        color: $clr-green;
                    }
                }
            }
            .ed-chat-wrapper{
                position: relative;
                .ed-chat-list{
                    max-height: 30vh;
                    overflow: auto;
                    padding: 30px 20px 50px 20px;

                }
                .ed-chat{
                    margin-bottom: 15px;
                    .ed-avatar-title{
                        display: inline-flex;
                        vertical-align: top;
                        font-size: 16px;
                        font-weight: 600;
                        color: #fff;
                        background: #16b1e4;
                        font-family: 'Lato', sans-serif;
                        width: 35px;
                        text-align: center;
                        height: 35px;
                        align-items: center;
                        border-radius: 50%;
                        justify-content: center;
                    }
                    .ed-chat-content{
                        display: inline-block;
                        max-width: calc(100% - 40px);
                        background: #f4f4f4;
                        border-radius: 7px;
                        padding: 10px;
                        .ed-user-title{
                            font-size: 11px;
                            color: #7b7b7b;
                            font-weight: 500;
                            margin-bottom: 4px;
                            
                        }
                        .ed-msg{
                            font-size: 11px;
                            color: #7b7b7b;
                            font-weight: 300;
                            font-family: 'Lato', sans-serif;

                        }
                    }
                }
                .ed-compose-chat{
                    background: #fff;
                    z-index: 1;
                    @include position(absolute,auto,0,0,0);
                    padding: 10px 20px 0 20px;
                    &:after{
                        content: '';
                        display: table;
                        clear: both;
                        float: none;
                    }
                    .ed-form-control{
                        background: #f3f3f3;
                        float: left;
                        width:190px;
                        max-width:calc(100% - 110px);
                        font-size: 10px;
                        font-weight: 300;
                        color: #9e9e9e;
                        padding: 10px 15px;
                    }
                    .ed-btn{
                        float: right;
                    }
                }
            }
            .ed-contact-list{
                padding:0 10px 0 15px;
                max-height: 37vh;
                overflow: auto;
                .ed-contact{
                    padding:10px 0;
                    position: relative;
                    .ed-avatar-title{                        
                        display: inline-flex;
                        font-size: 16px;
                        font-weight: 600;
                        color: #fff;
                        background: #16b1e4;
                        font-family: 'Lato', sans-serif;
                        width: 35px;
                        text-align: center;
                        height: 35px;
                        align-items: center;
                        border-radius: 50%;
                        justify-content: center;
                        margin-right: 10px;
                    }
                    .ed-title{
                        
                        font-family: 'Lato', sans-serif;
                        font-size: 13px;
                        color: #434343;
                        font-weight: 600;
                    }
                    .ed-tools{
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin: auto;
                        padding: 0 10px 0 40px;
                        background: #fff;
                        z-index: 1;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+28,ffffff+100&0+0,1+28,1+100 */
                        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 28%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 28%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
                        >a{
                            margin:0 2px;
                        }
                        
                    }
                }
            }
        }
    }

}