.el-page-sidebar{
    
    width: 65px;
    @include position(fixed,0,auto,0,0);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5510b9+0,360eba+100 */
    background: #5710b9; /* Old browsers */
    background: -moz-linear-gradient(top,transparentize( #5510b9 , .2) 0%, #360eba 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparentize( #5510b9 , .2) 0%,#360eba 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparentize( #5510b9 , .2) 0%,#360eba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5510b9', endColorstr='#360eba',GradientType=0 ); /* IE6-9 */
    z-index: 101;
    .el-navbar{
        list-style: none;
        padding: 0;
        margin:0;
        li{
            position: relative;
            a{
                display: block;
                display: block;
                padding: 17px 17px;
                color:transparentize($clr-white, .4);
                text-decoration: none;
                font-size: 23px;
                text-align: center;
                &:hover{
                    color: $clr-white;
                }

            }
            &:after{
                content: '';
                display: block;
                height: 1px;
                background: transparentize($clr-white, .9);
                @include position(absolute,auto,10px,0,10px);
            }
            &.active,&:hover{
                a{
                    background: #5011b1;
                }
                &:after,&:before{
                    display: none;
                    content: '';
                    height: 10px;
                    width: 20px;
                    z-index: 1;
                    @include position(absolute,0,0,0,auto);
                }
                &:after{            
                    border-radius: 0 0 0 10px;
                    -moz-border-radius: 0 0 0 10px;
                    -webkit-border-radius: 0 0 0 10px;            
                    -webkit-box-shadow:1px 0 0px 0px #5011b1;
                    box-shadow: 1px 0 0px 0px #5011b1;
                    transform: rotate(-90deg);
                    right: -3px;
                    top: -11px;
                    @include transform(rotate(90deg));
                }
                &::before{
                    top:auto;
                    bottom: 0;
                    border-radius: 0 0 10px 0;
                    -moz-border-radius: 0 0 10px 0;
                    -webkit-border-radius: 0 0 10px 0;
                    -webkit-box-shadow: 10px 0 0 0 #fff;
                    box-shadow: 10px 0 0 0 #fff;
                }
            }
            &.el-signout{
                
                @include position(absolute,auto,0,0,0);
            }
        }
        .el-nav-avatar{
            width:30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            object-fit: cover;
            object-position: center;
            margin: -5px 0 0 0;
        }
    }
}