.ed-sidebar-block{
    height: 45vh;
    position: absolute;
    bottom: 4%;
    left:0;
    right:0;    
    .ed-header-toggle{
        background: #f5f5f5;
        display: flex;
        width:100%;
        a{
            font-size: 22px;
            color: #b8bcbe;
            text-decoration: none;
        }
        >div{

            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            text-align: center;
            border-right: 1px solid #efefef;
            padding:10px;
            cursor: pointer;
            &.active{
                background: #fff;
                a{
                    color: $clr-blue;
                }
            }
            &:last-child{
                border:none;
            }
        }
    }
    .ed-content-wrapper{
        .ed-content{
            display: none;
            &.active{
                display: block;
            }
        }
    }

}