.gm-footer-wrapper {
    color: $clr-white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
    font-size: .8rem;
    font-weight: 600;
    background: rgb(0, 174, 255);
    background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    a {
        color: $clr-white;
    }
    .gm-footer-link {
        li:not(:last-child) {
            padding: 0;
            margin: 0;
            &::after {
                content: '|';
                display: inline-block;
                margin: 0 8px 0 11px;
            }
        }
    }
    .gm-socl-links {
        li {
            background: $clr-white;
            text-align: center;
            @include border-radius(50%);
            border-radius: 50%;
            height: 27px;
            width: 28px;
            text-align: center;
            padding-top: 7px;
        }
        a {
            color: $clr-blue;
            .fa {
                font-size: 1.1rem;
            }
        }
    }
}