// stylesheet for header area
.gm-header-wrapper {
    background: $clr-white;
}

.gm-logo-wrapper {
    
    padding:18px 15px 16px 15px;
    img {
        max-width: 100%;
    }
}

.gm-nav-btn {
    border: none;
    padding: 10px;
    margin-right: 15px;
    @include border-radius(0);
    background: rgb(0, 174, 255);
    background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    >span {
        display: block;
        height: 4px;
        background: $clr-white;
        width: 30px;
        margin-bottom: 5px;
        &:last-child {
            margin: 0;
        }
    }
}

@include bpMax('991px') {
    .gm-header-wrapper {
        >.row {
            justify-content: space-between;
        }
    }
}

.gm-nav-wrapper {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    .navbar {
        width: 100%;
        padding: 20px 0 0 0;
    }
    .nav-item {
        padding: 10px 15px 22px 15px;
    }
    .nav-link {
        color: $clr-black;
        padding: 4px 9px;
        @include border-radius(4px);
        @include transition(all .3s ease);
        @include box-shadow(1px 5px 4px transparentize($clr-white, 0.7));
        &.active, &:hover {
            color: $clr-white;
            background: rgb(0, 174, 255);
            background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            @include box-shadow(1px 5px 4px transparentize($clr-green, 0.7));
        }
    }
    .gm-header-search-btn {
        padding: 0 10px;
        position: relative;
        top:-6px;
    }
    .dropdown:hover>.dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        font-size: 13px;
        padding: 0;
        margin-top: 10px;
        border:none;
        .dropdown-item{
            
            background: none;
            font-weight: bold;            
            padding: 12px 15px;
            .nav-link{
                    
                @include border-radius(4px);
                &.active, &:hover {
                    color: $clr-white;
                    background: $clr-blue;
                    @include box-shadow(none);
                }
            }
        }
        @include bpMin('992px') {
            border: 1px solid rgba(0,0,0,.15);
            @include border-radius(6px);
            @include box-shadow(3px 5px 14px 0px  transparentize($clr-black, 0.9));
            .dropdown-item {
                border-bottom: 1px solid transparentize($clr-text-grey,.7);
                
    
            }
            &:after{
                
                content: '';
                display: block;
                height: 11px;
                @include position(absolute,-11px,0,auto,0);
                margin:auto;
            }
            &:before{
                content: '';
                display: inline-block;
                border-style: solid;
                border-width: 0 7px 7px 7px;
                border-color: transparent transparent $clr-white transparent;
                @include position(absolute,-7px,0,auto,0);
                margin:auto;
                width:7px;
            }
        }
    }
}

.gm-search-icon {
    color: $clr-green;
    font-size: 1.7rem;
}

.gm-page-title-bar-wrapper {
    min-height: 23rem;
    color: $clr-white;
    align-items: flex-end;
    margin-bottom: 30px;
    position: relative;
    &:after {
        content: '';
        display: block;
        z-index: 0;
        @include position(absolute, 0, 0, 0, 0);
        @extend %titleGradient;
    }
    &:before {
        content: '';
        display: block;
        z-index: 1;
        @include position(absolute, 0, 0, 0, 0);
    }
    .col-md-4 {
        z-index: 2;
    }
    .gm-back {
        color: $clr-white;
        .fa {
            -webkit-text-stroke: 1px $clr-blue;
        }
    }
    .gm-page-title {
        font-size: 2rem;
        font-weight: 600;
        border-bottom: 3px solid;
    }
    .gm-title-breadcrumb {
        font-size: 13px;
        a {
            color: $clr-white;
        }
        li:not(:last-child) {
            &:after {
                content: "\f105";
                display: inline-block;
                margin-left: .4rem;
                font: normal normal normal 13px/1 FontAwesome;
            }
            margin-right: .3rem;
        }
    }
}