// stylesheet for header area
.gm-header-wrapper {
    background: $clr-white;
    padding: 10px 15px;
}

.gm-logo-wrapper {
    img {
        max-width: 100%;
    }
}

.gm-nav-btn {
    border: none;
    padding: 10px;
    margin-right: 15px;
    @include border-radius(0);
    background: rgb(0, 174, 255);
    background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    >span {
        display: block;
        height: 4px;
        background: $clr-white;
        width: 30px;
        margin-bottom: 5px;
        &:last-child {
            margin: 0;
        }
    }
}

@include bpMax('991px') {
    .gm-header-wrapper {
        >.row {
            justify-content: space-between;
        }
    }
}

.gm-nav-wrapper {
    .navbar {
        width: 100%;
    }
    .nav-item {
        padding: 0 15px;
    }
    .nav-link {
        color: $clr-black;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 4px 9px;
        @include border-radius(6px);
        @include transition(all .3s ease);
        @include box-shadow(1px 5px 4px transparentize($clr-white, 0.7));
        &.active, &:hover {
            color: $clr-white;
            background: rgb(0, 174, 255);
            background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            @include box-shadow(1px 5px 4px transparentize($clr-green, 0.7));
        }
    }
    .gm-header-search-btn {
        padding: 0 10px;
    }
}

.gm-search-icon {
    color: $clr-green;
    font-size: 1.7rem;
}

.gm-page-title-bar-wrapper {
    min-height: 23rem;
    color: $clr-white;
    align-items: flex-end;
    margin-bottom: 30px;
    position: relative;
    &:after {
        content: '';
        display: block;
        z-index: 0;
        @include position(absolute, 0, 0, 0, 0);
        background: rgb(0, 174, 255);
        background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
        background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    }
    &:before {
        content: '';
        display: block;
        z-index: 1;
        @include position(absolute, 0, 0, 0, 0);
    }
    .col-md-4 {
        z-index: 2;
    }
    .gm-page-title {
        font-size: 2rem;
        font-weight: 600;
        border-bottom: 3px solid;
    }
    .gm-title-breadcrumb {
        font-size: 13px;
        a {
            color: $clr-white;
        }
        li:not(:last-child) {
            &:after {
                content: "\f105";
                display: inline-block;
                margin-left: .4rem;
                font: normal normal normal 13px/1 FontAwesome;
            }
            margin-right: .3rem;
        }
    }
}