.br-innerpage{
    
    background-image: url('../img/meeting-bg.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    .br-browser-support{
        color: $clr-black-light;
        .br-icon{
            color: $clr-off-white;
        }
    }
}

.br-bg-left-btm{
    
    background:  url('../img/meeting-bg-left.png') no-repeat;
    background-position: left bottom;
    @include position(absolute,0,50%,0,0);
    z-index: 0;
    background-size: cover;
}
.br-bg-right-top{
    background:  url('../img/meeting-bg-right.png') no-repeat;
    background-position: right top;
    @include position(absolute,0,0,0,50%);
    z-index: 0;
    background-size: cover;
}