
body{
    background-image: url('../img/landing-01.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $clr-white;
}
.br-home-content-wrapper{
    margin: auto;
    text-align: center;        
    height: 215px;
    @include position(absolute,0,0,0,0);
    .br-logo-wrapper{
        opacity: .8;
    }
    .br-welcome-title{
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        font-size: 26px;
        margin: 10px auto 30px auto;
        max-width:500px;
    }
    .br-start-conference{
        width: 460px;
        background: rgba(0, 0, 0, 0.4);
        margin: 0 auto auto auto;
        padding: 20px 30px;
        .br-sub-title{
            font-weight: 100;
            font-size: 22px;
            margin: 0 0 20px 0;
        }
        .br-btn-outline{
            background: rgba(0, 0, 0, 0.4);
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
        .br-input{
            width: 100%;
            margin-bottom: 20px;
        }
    }
}