.gm-page-acadmy {
    .gm-page-title-bar-wrapper {
        &:before {
            opacity: .1;
            background: url('../img/header-bg-academy.png') no-repeat;
            background-size: 81%;
            background-position: center 40%;
        }
    }
}

.gm-sidebar-left {
    .gm-filter-header {
        font-size: 13px;
        margin-bottom: 30px;
    }
    .gm-filter-status {
        font-weight: 600;
        color: $clr-text-grey;
        padding-right: 15px;
        .gm-off {
            color: transparentize($clr-black, 0.6)
        }
        .gm-on {
            color: $clr-blue;
        }
    }
    .gm-clear-all, .gm-tools {
        color: $clr-black;
        font-weight: 500;
        text-decoration: underline;
    }
    .gm-clear-all {}
    .gm-tools {
        float: right;
        font-size: 13px;
        font-weight: 500;
        margin-top: 5px;
    }
    .gm-filter-block {
        .gm-filter-list {
            list-style: none;
            padding: 0;
            color: $clr-text-grey;
            font-weight: 500;
            font-size: 13px;
            max-height: 220px;
            overflow: auto;
            li {
                margin-bottom: 10px;
                .gm-title {
                    padding: 2px 10px 2px 5px;
                    @include border-radius(3px);
                    max-width: calc(100% - 20px);
                }
                .gm-count {
                    float: right;
                }
                &.active {
                    >.gm-title {
                        background: $clr-blue;
                        color: $clr-white;
                    }
                }
            }
            .gm-tagtitle {
                color: $clr-text-grey;
            }
        }
    }
}

.gm-filter-checkbox {
    cursor: pointer;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked~.gm-checkbox {
            border: 0;
            background: rgb(0, 174, 255);
            background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            &:after {
                display: block;
            }
        }
        &:disabled {
            ~.gm-checkbox {
                opacity: .7;
            }
        }
    }
    .gm-checkbox {
        height: 10px;
        width: 10px;
        display: inline-block;
        background-color: #eee;
        border: 1px solid transparentize($clr-text-grey, .6);
        margin-right: 10px;
        &:after {
            content: "";
            position: absolute;
            display: block;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
        }
    }
    &:hover {
        input:not(:checked):not(:disabled)~.gm-checkbox {
            border: 0;
            background: rgb(0, 174, 255);
            background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
        }
    }
}