.gm-profile-dtls-wrapper {
    margin-bottom: 90px;
    .gm-img-wrapper {
        min-width: 180px;
        width: 180px;
        height: 180px;
        margin: 20px 53px;
    }
    .gm-profile-dtls {
        color: $clr-text-grey;
        font-size: 14px;
        .gm-title {
            font-size: 18px;
            color: $clr-black;
        }
        .gm-sub-title {
            font-size: 16px;
        }
        .gm-designation {
            font-size: 14px;
        }
        .gm-read-more {
            font-size: 13px;
            font-weight: 500;
        }
        .gm-section-title {
            font-size: 14px;
            font-weight: 700;
            color: $clr-black;
        }
    }
    @include bpMin('768px') {
        display: flex;
    }
    @include bpMax('767px') {
        text-align: center;
        .gm-img-wrapper {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.gm-page-faculty-dtls {
    .block-title-style-2 {
        margin-bottom: 40px;
    }
}