.gm-page-videos {
    .gm-video-slider-wrapper {
        background: #1c1d21;
        height: 540px;
        display: flex;
    }
    .gm-video-player {
        iframe {
            display: block;
            margin: auto;
        }
    }
}

.gm-video-slider-wrapper {
    position: relative;
}

.gm-video-carousel-controls {
    .gm-carousel-control {
        margin: auto;
        width: 10%;
        height: 80px;
        max-width: 100px;
        text-align: center;
        @include position(absolute, 0, auto, 0, 0);
        &.right {
            left: auto;
            right: 0;
        }
        .gm-icon {
            font-size: 5rem;
            color: $clr-text-grey;
            -webkit-text-stroke: 4px #1c1d21;
            &:hover {
                color: $clr-text-grey-2;
            }
        }
    }
}

.gm-video-discussion-wrapper {
    .gm-init{
        
        color: $clr-white;
        font-size: 18px;
        font-weight: 500;
        width: 50px;
        min-width: 50px;
        height: 50px;
        text-align: center;
        padding-top: 9px;
        margin-bottom: 5px;
        @include border-radius(50%);
        background: rgb(0, 174, 255);
        background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
        background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
        @include box-shadow(2px 3px 25px transparentize($clr-green, 0.6));
    }
    .gm-author-dtls{
        flex-grow: 1;
        padding-left: 10px;
        .gm-name{
            font-weight: 700;
            font-size: 13px;
        }
        .gm-date{
            
            font-weight: 500;
            font-size: 12px;
            color: $clr-text-grey;
        }
    }
    .gm-video-title{
        margin-top: 20px;
        font-size: 42px;
        font-weight: 600;
    }
    .gm-review-wrapper {
        font-size: 14px;
        display: flex;
        color: $clr-text-grey;
        .fa-star {
            font-size: 33px;
            line-height: 33px;
        }
        >span {
            vertical-align: middle;
            i {
                margin-right: 8px;
            }
            span, i {
                vertical-align: middle;
            }
            .gm-set-rating {
                color: $clr-black;
            }
            &.gm-left {
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid transparentize($clr-text-grey, .5);
                &:after {
                    display: inline-block;
                    margin: 0 5px;
                }
            }
        }   

    }
    hr.gm-header-seperator{
        
        display: block;
        height:3px;
        background: $clr-blue;
        width:80%;
        max-width: 445px;
        margin-left: 0;
        margin-bottom: 25px;
    }
    .gm-video-meta-dtls{
        .gm-title-block{
            margin-bottom: 25px;
        }
        .gm-video-desc{
            font-size: 14px;
            font-weight: 500;
            color: $clr-text-grey;
        }
    }
    .gm-discussion-wrapper{
        .gm-title{
            font-size: 22px;
            padding-bottom: 10px;
            margin-bottom: 40px;
            border-bottom: 3px solid $clr-blue;
            .gm-sub-title{
                color: $clr-text-grey;
            }
        }
        .gm-form-wrapper{
            margin-bottom:40px;
        }
        .gm-field-wrapper{
            .gm-msg-input{
                height: 130px;
            }
            .gm-btn-wrapper{
                button{
                    padding: 13px 20px;
                }
                .gm-seperator{
                    font-size: 12px;
                    color: $clr-text-grey;
                    font-weight: 500;
                    margin:0 15px;
                }
            }
        }
    }
    .gm-comment-list-wrapper{
        list-style: none;
        padding: 0;
        ul{
            list-style: none;
            padding: 0;
            margin-top: 30px;

        }
        .gm-comment-wrapper:not(:last-child) {
            margin-bottom: 30px;
        }
        .gm-discussion-dtls{
            .gm-author-dtls{
                margin-bottom: 15px;
            }
            .gm-comment{
                font-size: 14px;
                font-weight: 500;
                color:$clr-text-grey-2;
                padding-left: 10px;
            }
        }
    }
}
.gm-watch-list-block-wrapper{
    .gm-watch-list-block{
        margin-bottom: 30px;
        .gm-block-title{
            margin:0 auto 10px auto;
            font-size: 14px;
            font-weight: 600;
        }
        .gm-name{
            font-size: 13px;
            font-weight: 600;
            color: $clr-text-grey;
        }
        .gm-date{

            font-size: 12px;
            font-weight: 500;
            color: $clr-text-grey;
        }
    }
}
.gm-back{
    font-size: 13px;
    color: $clr-text-grey-2;
    font-weight: 500;
}