
.br-home{
    background-image: url('../img/landing-01.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $clr-white;
}
.br-home-content-wrapper{
    margin: auto;
    text-align: center;        
    height: 175px;
    @include position(absolute,0,0,0,0);
    .br-welcome-title{
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        font-size: 41px;
        margin: auto  auto 30px auto ;
        max-width:500px;
    }
    .br-start-conference{
        .br-input{
            margin-right: 10px;
            width:450px;
            max-width:100%;
        }
    }
}