.gm-page-colect-dtls {
    .gm-page-title-bar-wrapper {
        &:before {
            opacity: .3;
            background: url('../img/header-bg-clctn-dtls.png') no-repeat;
            background-size: cover;
            background-position: center 5%;
        }
    }
}

.gm-colect-dtls-header {
    .gm-img-wrapper {
        min-width: 120px;
        min-height: 120px;
        max-width: 120px;
        max-height: 120px;
        border-radius: 50%;
    }
    .gm-title-wrapper {
        flex-grow: 2;
    }
    .gm-colect-title {
        font-size: 18px;
    }
    .gm-review-wrapper {
        font-size: 14px;
        display: flex;
        .fa-star {
            font-size: 22px;
            line-height: 25px;
        }
        >span {
            vertical-align: middle;
            i {
                margin-right: 8px;
            }
            span, i {
                vertical-align: middle;
            }
            .gm-set-rating {
                color: $clr-black;
            }
            &.gm-left {
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid transparentize($clr-text-grey, .5);
                &:after {
                    display: inline-block;
                    margin: 0 5px;
                }
            }
        }
    }
}