.gm-page-acadmy {
    .gm-page-title-bar-wrapper {
        &:before {
            opacity: .1;
            background: url('../img/header-bg-academy.png') no-repeat;
            background-size: 81%;
            background-position: center 40%;
        }
    }
}