

#modalCheckingDevice.ed-modal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                h3.modal-title Media Settings
                button.ed-icon-close(type="button" class="close" data-target="#modalCheckingDevice" data-dismiss="modal") x
            .modal-body

                .ed-device-config-wrapper
                    .ed-left-col

                        .ed-preview.text-center
                            video.ed-video( autoplay src="../img/dummy.webm")
                        .text-red.ed-help-block IMPORTANT: Make sure you see movement  in the audio bar below STEP 2 to ensure your MIC is active.
                    .ed-right-col
                        .ed-form-group
                            label.ed-label Browser
                            select.selectpicker(name="")
                                option HP Webcame 1300 (03f0: e 107)
                                option HP Webcame 1300 (03f0: e 107)
                                option HP Webcame 1300 (03f0: e 107)
                            a(href="javascript:;").ed-icon.text-green.icon-mic

                        .ed-form-group
                            label.ed-label Choose Camera
                            select.selectpicker(name="")
                                option HP Webcame 1300 (03f0: e 107)
                                option HP Webcame 1300 (03f0: e 107)
                                option HP Webcame 1300 (03f0: e 107)
                            a(href="javascript:;").ed-icon.text-green.icon-mic
                        .ed-form-group
                            label.ed-label Choose Mice
                            select.selectpicker(name="")
                                option HP Webcame 1300 (03f0: e 107)
                                option HP Webcame 1300 (03f0: e 107)
                                option HP Webcame 1300 (03f0: e 107)
                            a(href="javascript:;").ed-icon.text-green.icon-mic
                        .ed-form-group
                            label.ed-label Choose Speaker
                                a(href="javascript:;").text-green.icon-mic
                            select.selectpicker(name="")
                                option HP Webcame 1300 (03f0: e 107)
                                option HP Webcame 1300 (03f0: e 107)
                                option HP Webcame 1300 (03f0: e 107)
                            a(href="javascript:;").ed-icon.text-red.icon-mic
            .modal-footer
                .ed-form-group.text-right
                    button.ed-btn Save &amp; Continue

                        




