#modalMeetingInfo.ed-modal.modal.fade
    .modal-backdrop
        .modal-dialog.modal-sm
            .modal-content
                .modal-header.shadow
                    h3.modal-title Meeting Info
                    button.ed-icon-close(type="button" class="close" data-target="#modalSessionInfo" data-dismiss="modal") x
                .modal-body
                    .ed-modal-meeting-info-wrapper
                        .ed-row
                            .ed-col-left  Session Name
                            .ed-col-right Sprout Testing
                        .ed-row
                            .ed-col-left  User ID
                            .ed-col-right 650 865
                        .ed-row
                            .ed-col-left  Meeting ID
                            .ed-col-right 8960
                        .ed-row
                            .ed-col-left  Schedule Date
                            .ed-col-right 2018-09-02  18:16:00
                        .ed-row
                            .ed-col-left  Timezone
                            .ed-col-right + 05:30 Asia / Kolkata



#modalSessionInfo.ed-modal.modal.fade
    .modal-backdrop
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.ed-icon-close(type="button" class="close" data-target="#modalSessionInfo" data-dismiss="modal") x
                .modal-body
                    .ed-modal-session-info-wrapper
                        figure
                            img(src="../img/session-info-bg.png")
                        h4.ed-title Your Session will Expire in 10 min
                        .ed-form-group
                            .ed-col-left
                                input(type="text",value="02").ed-form-control
                            .ed-col-middle :
                            .ed-col-right
                                input(type="text",value="02").ed-form-control
                        .ed-btn-wrapper
                            button.ed-btn Extend

#popupChat.ed-popup
    #chat-wrapper.ed-content
        .ed-title-wrapper 
            .ed-left.vcenter Private Chat
            .ed-right.vcenter 
                .vcenter Public Chat
                .vcenter 
                    label.ed-switch
                        input(type="checkbox")
                        span.slider 
                .vcenter 
                    a(href="javascript:;").ed-resize.icon-resize-full
        .ed-chat-wrapper
            ul.ed-chat-list    
                mixin chat 
                    li.ed-chat
                        //- figure(src="../img/")
                        span.ed-avatar-title V
                        .ed-chat-content
                            .ed-user-title Raison ab
                            .ed-msg Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                +chat
                +chat
                +chat
                +chat
            .ed-compose-chat
                input(type="text").vcenter.ed-form-control
                button.ed-btn.vcenter Send
#popupQa.ed-popup.large(style="")
    #qa-wrapper.ed-content
        .ed-qa-wrapper
            .ed-title-wrapper 
                .ed-left.vcenter Open Questions
                .ed-right.vcenter 
                    .vcenter Answered 
                    .ed-tools.vcenter 
                        a(href="javascript:;").vcenter.icon-cog-alt
                        a(href="javascript:;").vcenter.icon-resize-full
            ul.ed-aq-list
                li.ed-qa

                    .ed-avatar-title.vcenter(style="background:orange") L
                    .ed-msg-wrapper.vcenter
                        .ed-title Laura Jennifer
                        .ed-msg What is singleton class and how can we make a class singleton?
                    footer.ed-tools
                        
                        a.text-green.icon-videocam(href="javascript:;")
                        a.text-blue.icon-chaticon(href="javascript:;")
                        a.text-red.icon-mic.ed-disabled(href="javascript:;")
                mixin qaList
                    li.ed-qa

                        .ed-avatar-title.vcenter A
                        .ed-msg-wrapper.vcenter
                            .ed-title Annie Lore 
                            .ed-msg What is singleton class and how can we make a class singleton?
                        footer.ed-tools
                            
                            a.text-green.icon-videocam(href="javascript:;")
                            a.text-blue.icon-chaticon(href="javascript:;")
                            a.text-red.icon-mic(href="javascript:;")
                +qaList
                +qaList
                +qaList
                +qaList
                +qaList
            
            .ed-compose-chat
                .ed-form-group
                    textarea.ed-input(placeholder="Type you Answer here")
                .ed-btn-wrapper
                    button.ed-btn.vcenter Send
                    button.ed-btn.ed-btn-green.vcenter Send All
                    .clearfix
