doctype html
html(lang='en')
    block vars
    head
        title #{pageTitle}
        meta(charset='utf-8')
        link(href="https://fonts.googleapis.com/css?family=Lato:100,300|Montserrat:100,300,400,500" rel="stylesheet" )
        link(rel='stylesheet', href="../assets/fontello/css/fontello.css")
        link(rel='stylesheet', href="../assets/select2/css/select2.min.css")
        link(rel='stylesheet', href="../css/main.css")
    body(class=body_class)
        .ed-main-wrapper
            .ed-left-col
                header.ed-main-header
                    .ed-logo-wrapper
                        img(src="../img/logo.png")
                    .ed-navbar-wrapper
                        ul.ed-navbar-left.list-inline
                            li
                                a(href="javascript:;").icon-webconferencing
                            li
                                a(href="javascript:;").icon-webinar
                            li
                                a(href="javascript:;").icon-virtual-class
                        ul.ed-navbar-right.list-inline
                            li
                                a(href="javascript:;").icon-content-library
                            li
                                a(href="javascript:;").icon-screenshare
                            li
                                a(href="javascript:;").icon-youtube
                            li
                                a(href="javascript:;").icon-fileshare
                            li
                                a(href="javascript:;").icon-chart-bar
                            li
                                a(href="javascript:;").icon-buzzer
                            li.dropdown.caret
                                a(href="javascript:;") ENG
                                 
                            li.dropdown
                                a(href="javascript:;").icon-menu
                    .clearfix
                main.ed-content-area
                    block pageContent
            .ed-right-col
                .ed-video-wrapper
                    header.ed-header
                        ul.list-inline
                            li.dropdown
                                a(href="javascript:;").icon-session-info
                                .dropdown-menu.ed-right-block-dropdown
                                    h4.ed-title.text-center Session info
                                    .ed-timer-red(style="width:150px;height:150px;background:red;border-radius:50%;margin:15px auto;padding:10%;") Timer
                                        .d-n
                                            #canvas-hours.clock-canvas
                                            #canvas-minutes.clock-canvas
                                            #canvas-seconds.clock-canvas
                                            #canvas-days.clock-canvas
                                            .ed-timer-value
                                                span.clock-hours
                                                span.clock-minutes
                                                span.clock-seconds
                                    .text-center
                                        .ed-session-title Pitch Like A Pro!
                                        .ed-author Dan Williams
                                    .ed-time-wrapper
                                        .ed-row
                                            .ed-col-left Started at
                                            .ed-col-right 12.24 PM
                                        .ed-row
                                            .ed-col-left Time Remaining
                                            .ed-col-right 00.02.15
                                        .ed-row
                                            .ed-col-left Duration
                                            .ed-col-right 1 hour
                                    
                                    .text-center.ed-session-footer Extend the Session by   
                                        a(href="#") 30 min
                                    .text-center.ed-session-notice or  End Session
                            li.dropdown
                                a(href="javascript:;").icon-session-timer
                                .dropdown-menu.ed-right-block-dropdown
                                    h4.ed-title.text-center Personal timer
                                    .ed-timer-blue(style="width:150px;height:150px;background:blue;border-radius:50%;margin:15px auto;padding:10%;") Timer
                                        .d-n
                                            #canvas-hours.clock-canvas
                                            #canvas-minutes.clock-canvas
                                            #canvas-seconds.clock-canvas
                                            #canvas-days.clock-canvas
                                            .ed-timer-value
                                                span.clock-hours
                                                span.clock-minutes
                                                span.clock-seconds
                                    .text-center.ed-notice
                                        | This timer is ONLY visible by you
                                        br
                                        | No other preseters can see this
                                        br
                                        | countdown.
                                    .ed-btn-wrapper.text-center
                                        button.ed-btn Set 
                                        div
                                            button.ed-btn.link Cancel
                            li
                                a(href="javascript:;").icon-rec
                            li
                                a(href="javascript:;").icon-buzzer
                    .ed-videos
                        .ed-row.v3
                            .ed-col
                                video(src="../img/dummy.webm")
                            .ed-col
                                video(src="../img/dummy.webm")
                            .ed-col
                                video(src="../img/dummy.webm")
                        .ed-row.v2
                            .ed-col
                                video(src="../img/dummy.webm")
                            .ed-col
                                video(src="../img/dummy.webm")
                    footer.ed-video-footer    
                        a(href="javascript:;").icon-camera
                        a(href="javascript:;").icon-mute
                        a(href="javascript:;").icon-ddfdf
                        a(href="javascript:;" data-toggle="modal" data-target="#modalCheckingDevice").icon-cog-alt
                .ed-sidebar-block.ed-box
                    header.ed-header-toggle
                        .ed-join.active(target="contact-list-wrapper",data-toggle="chat")
                            a(href="javascript:;").icon-participate
                        .ed-join(target="chat-wrapper",data-toggle="chat")
                            a(href="javascript:;").icon-chat
                        .ed-join(target="qa-wrapper",data-toggle="chat")
                            a(href="javascript:;").icon-qestandansw
                    section.ed-content-wrapper
                        #contact-list-wrapper.ed-content.active
                            ul.ed-contact-list
                                li.ed-contact 
                                    span.vcenter.ed-avatar-title(style="background:magenta") E
                                    span.vcenter.ed-title Edward Abraham
                                    .ed-tools
                                        a.text-red.icon-hand-rise(href="javascript:;")
                                mixin contactList
                                    li.ed-contact 
                                        span.vcenter.ed-avatar-title A
                                        span.vcenter.ed-title Angelina jollysa Francese
                                        .ed-tools
                                            a.text-green.icon-videocam(href="javascript:;")
                                            a.text-red.icon-mic(href="javascript:;")
                                            a.text-blue.icon-chaticon(href="javascript:;")
                                            a.text-yellow.icon-cog-alt(href="javascript:;")
                                +contactList
                                +contactList
                                +contactList
                                +contactList
                                +contactList
                                +contactList
                                +contactList
                        #chat-wrapper.ed-content
                            .ed-title-wrapper 
                                .ed-left.vcenter Private Chat
                                .ed-right.vcenter 
                                    .vcenter Public Chat
                                    .vcenter 
                                        label.ed-switch
                                            input(type="checkbox")
                                            span.slider 
                                    .vcenter 
                                        a(href="javascript:;").ed-resize.icon-resize-full
                            .ed-chat-wrapper
                                ul.ed-chat-list    
                                    mixin chat 
                                        li.ed-chat
                                            //- figure(src="../img/")
                                            span.ed-avatar-title V
                                            .ed-chat-content
                                                .ed-user-title Raison ab
                                                .ed-msg Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    +chat
                                    +chat
                                    +chat
                                    +chat
                                .ed-compose-chat
                                    input(type="text").vcenter.ed-form-control
                                    button.ed-btn.vcenter Send
                        #qa-wrapper.ed-content
                            .ed-qa-wrapper
                                .ed-title-wrapper 
                                    .ed-left.vcenter Open Questions
                                    .ed-right.vcenter 
                                        .vcenter Answered 
                                        .ed-tools.vcenter 
                                            a(href="javascript:;").vcenter.icon-cog-alt
                                            a(href="javascript:;").vcenter.icon-resize-full
                                ul.ed-aq-list
                                    li.ed-qa

                                        .ed-avatar-title.vcenter(style="background:orange") L
                                        .ed-msg-wrapper.vcenter
                                            .ed-title Laura Jennifer
                                            .ed-msg What is singleton class and how can we make a class singleton?
                                        footer.ed-tools
                                            
                                            a.text-green.icon-videocam(href="javascript:;")
                                            a.text-blue.icon-chaticon(href="javascript:;")
                                            a.text-red.icon-mic.ed-disabled(href="javascript:;")
                                    mixin qaList
                                        li.ed-qa

                                            .ed-avatar-title.vcenter A
                                            .ed-msg-wrapper.vcenter
                                                .ed-title Annie Lore 
                                                .ed-msg What is singleton class and how can we make a class singleton?
                                            footer.ed-tools
                                                
                                                a.text-green.icon-videocam(href="javascript:;")
                                                a.text-blue.icon-chaticon(href="javascript:;")
                                                a.text-red.icon-mic(href="javascript:;")
                                    +qaList
                                    +qaList
                                    +qaList
                                    +qaList
                                    +qaList
                                

            footer.ed-footer
                .ed-copyright Powered by
                    img(src="../img/logo.png")
        include _device-checking
        script(src="../assets/jquery/jquery-1.11.0.min.js")
        script(src="../assets/select2/js/select2.full.min.js")
        script(src="../js/main.js")
        script(type="text/javascript").