doctype html
html(lang='en')
    block vars
    head
        title #{pageTitle}
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='../assets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='../assets/bootstrap-select/css/bootstrap-select.min.css')
        link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700,800" )
        link(rel='stylesheet', href="../css/main.css")
    body(class=body_class)
    header.gm-header-wrapper.container-fluid
        .gm-search-wrapper
            .gm-input-wrapper
                .gm-icon-wrapper
                    i.gm-search-icon.fa.fa-search
                input.form-control.gm-web-search(type="text")
                .gm-close-btn-wrapper.gm-toggle-search
                    a.gm-close-icon(href="javacript:;")
        .row
            .gm-logo-wrapper.col-xl-3.col-lg-4.col-8
                a(href="home.html")
                    img(src="../img/logo.png" alt="Gemteleversity")   

            .gm-res-btn-wrapper.d-lg-none.d-flex.align-items-center
                button.gm-header-search-btn.btn.btn-link.my-2.my-sm-0.gm-toggle-search
                    i.gm-search-icon.fa.fa-search
                button.gm-nav-btn.navbar-toggler.navbar-dark(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
                    span
                    span
                    span
            .gm-nav-wrapper.col-xl-9.col-lg-8.float-right       
                nav.navbar.navbar-expand-lg.sticky-top.float-right.mt-3.mt-lg-0
                    #collapsibleNavbar.collapse.navbar-collapse.justify-content-md-end.w-100.flex-wrap
                        ul.navbar-nav.mr-lg-3
                            li.nav-item
                                a.nav-link(href='home.html', class=(curnt_menu=='home')? 'active':'') Home
                            li.nav-item
                                a.nav-link(href='academy.html', class=(curnt_menu=='academy')? 'active':'') Unedited Videos
                  
                            li.nav-item
                                a.nav-link(href='collections.html', class=(curnt_menu=='collections')? 'active':'') ELearning
                            li.nav-item
                                a.nav-link(href='faculty.html', class=(curnt_menu=='faculty')? 'active':'') Faculty
                            li.nav-item
                                a.nav-link(href='about.html', class=(curnt_menu=='about')? 'active':'') About
                            li.nav-item
                                a.nav-link.gm-toggle-login(href='javascript:;', class=(curnt_menu=='login')? 'active':'') Login
                        button.gm-header-search-btn.btn.btn-link.my-2.my-sm-0.d-none.d-lg-inline-block.gm-toggle-search
                            i.gm-search-icon.fa.fa-search




    main.gm-content-wrapper
        .gm-page-title-bar-wrapper.container-fluid.d-flex
            .row.flex-grow-1
                .col-md-4.offset-md-1
                    if customTitleBar
                        block TitleBarblock
                    else
                        h1.gm-page-title #{pageTitle}
                        ul.gm-title-breadcrumb.list-inline
                            li.list-inline-item
                                a(href="home.html") Home

                            li.list-inline-item
                                span #{pageTitle}
                            block breadcrumb
        .gm-main-content-area
        block pageContent

    footer.gm-footer-wrapper

        .container
            .row
                .col-lg-7.col-md-8.col-sm-9
                    ul.gm-footer-link.list-inline
                        li.list-inline-item
                            a(href='#') Home
                        li.list-inline-item
                            a(href='#') Unedited Videos
                        li.list-inline-item
                            a(href='#') ELearning
                        li.list-inline-item
                            a(href='#') Faculty
                        li.list-inline-item
                            a(href='#') About
                        li.list-inline-item
                            a(href='#') Login
                    ul.gm-socl-links.list-inline
                        li.list-inline-item
                            a(href='#') 
                                i.fa.fa-facebook
                        li.list-inline-item
                            a(href='#') 
                                i.fa.fa-twitter
                        li.list-inline-item
                            a(href='#') 
                                i.fa.fa-youtube-play
                    p &#169; 2018 All rights reserved
                    ul.gm-footer-link.list-inline
                        li.list-inline-item
                            a(href='#') Privacy policy
                        li.list-inline-item
                            a(href='#') Terms and Conditions


                .col-lg-5.col-md-4.col-sm-3.text-sm-right
                    .gm-footer-img-wrapper.d-inline-block.text-left
                        div Powered  by:
                        a(href="#") 
                            img(src="../img/medikiti-logo-white.png" alt="")

    include _login.pug
    script(src="../assets/jquery/jquery-3.3.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="../assets/bootstrap/js/bootstrap.min.js")
    script(src="../assets/bootstrap-select/js/bootstrap-select.min.js")
    script(src="../assets/typeahead/bootstrap3-typeahead.min.js")
    script(src="../js/main.js")
    block scripts