doctype html
html(lang='en')
    block vars
    head
        title #{pageTitle}
        meta(charset='utf-8')
        link(href="https://fonts.googleapis.com/css?family=Lato:100,300|Montserrat:100,300,400,500" rel="stylesheet" )
        link(rel='stylesheet', href="../assets/fontello/css/fontello.css")
        link(rel='stylesheet', href="../css/main.css")
    body(class=body_class)
        .ed-main-wrapper
            .ed-left-col
                header.ed-main-header
                    .ed-logo-wrapper
                        img(src="../img/logo.png")
                    .ed-navbar-wrapper
                        ul.ed-navbar-left.list-inline
                            li
                                a(href="javascript:;").icon-webconferencing
                            li
                                a(href="javascript:;").icon-webinar
                            li
                                a(href="javascript:;").icon-virtual-class
                        ul.ed-navbar-right.list-inline
                            li
                                a(href="javascript:;").icon-content-library
                            li
                                a(href="javascript:;").icon-screenshare
                            li
                                a(href="javascript:;").icon-youtube
                            li
                                a(href="javascript:;").icon-fileshare
                            li
                                a(href="javascript:;").icon-chart-bar
                            li
                                a(href="javascript:;").icon-buzzer
                            li.dropdown.caret
                                a(href="javascript:;") ENG
                                 
                            li.dropdown
                                a(href="javascript:;").icon-menu
                    .clearfix
                main.ed-content-area
                    block pageContent
            .ed-right-col
                .ed-video-wrapper
                    header.ed-header
                        ul.list-inline
                            li
                                a(href="javascript:;").icon-session-info
                            li
                                a(href="javascript:;").icon-session-timer
                            li
                                a(href="javascript:;").icon-rec
                            li
                                a(href="javascript:;").icon-buzzer
                    .ed-videos
                        .ed-row.v3
                            .ed-col
                                video(src="../img/dummy.webm")
                            .ed-col
                                video(src="../img/dummy.webm")
                            .ed-col
                                video(src="../img/dummy.webm")
                        .ed-row.v2
                            .ed-col
                                video(src="../img/dummy.webm")
                            .ed-col
                                video(src="../img/dummy.webm")
                    footer.ed-video-footer    
                        a(href="javascript:;").icon-camera
                        a(href="javascript:;").icon-mute
                        a(href="javascript:;").icon-ddfdf
                        a(href="javascript:;").icon-cog-alt
                .ed-sidebar-block.ed-box
                    header.ed-header-toggle
                        .ed-join.active(target="contact",data-toggle="chat")
                            a(href="javascript:;").icon-participate
                        .ed-join(target="chat",data-toggle="chat")
                            a(href="javascript:;").icon-chat
                        .ed-join(target="qa",data-toggle="chat")
                            a(href="javascript:;").icon-qestandansw
                    section.ed-content-wrapper
                        #contact.ed-content.active
                            ul.ed-contact-list
                                li.ed-contact 
                                    span.vcenter.ed-avatar-title(style="background:magenta") E
                                    span.vcenter.ed-title Edward Abraham
                                    .ed-tools
                                        a.text-red.icon-hand-rise(href="javascript:;")
                                mixin contactList
                                    li.ed-contact 
                                        span.vcenter.ed-avatar-title A
                                        span.vcenter.ed-title Angelina jollysa Francese
                                        .ed-tools
                                            a.text-green.icon-videocam(href="javascript:;")
                                            a.text-red.icon-mic(href="javascript:;")
                                            a.text-blue.icon-chaticon(href="javascript:;")
                                            a.text-yellow.icon-cog-alt(href="javascript:;")
                                +contactList
                                +contactList
                                +contactList
                                +contactList
                                +contactList
                                +contactList
                                +contactList
                        #chat.ed-content
                            .et-title-wrapper 
                                .el-left.vcenter Private Chat
                                .el-right.vcenter 
                                    .vcenter Public Chat
                                    .vcenter 
                                        label.ed-switch
                                            input(type="checkbox")
                                            span.slider 
                                    .vcenter 
                                        a(href="javascript:;").ed-resize.icon-resize-full
                            .ed-chat-wrapper
                                ul.ed-chat-list    
                                    mixin chat 
                                        li.ed-chat
                                            //- figure(src="../img/")
                                            span.ed-avatar-title V
                                            .ed-chat-content
                                                .ed-user-title Raison ab
                                                .ed-msg Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    +chat
                                    +chat
                                    +chat
                                    +chat
                                .ed-compose-chat
                                    input(type="text").vcenter.ed-form-control
                                    button.ed-btn.vcenter Send
                        #qa.ed-content

            footer.ed-footer
                .ed-copyright Powered by
                    img(src="../img/logo.png")
        script(src="../assets/jquery/jquery-3.3.1.min.js")
        script(src="../js/main.js")
        script(type="text/javascript").