doctype html
html(lang='en')
    block vars
    head
        title #{pageTitle}
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href="https://fonts.googleapis.com/css?family=Lato:100,300|Montserrat:100,300,400,500" rel="stylesheet" )
        link(rel='stylesheet', href="../assets/fontello/css/fontello.css")
        link(rel='stylesheet', href="../css/main.css")
    body(class=body_class)
        .ed-main-wrapper
            .ed-left-col
                header.ed-main-header
                    .ed-logo-wrapper
                        img(src="../img/logo.png")
                    .ed-navbar-wrapper
                        ul.ed-navbar-left.list-inline
                            li
                                a(href="javascript:;").icon-webconferencing
                            li
                                a(href="javascript:;").icon-webinar
                            li
                                a(href="javascript:;").icon-virtual-class
                        ul.ed-navbar-right.list-inline
                            li
                                a(href="javascript:;").icon-content-library
                            li
                                a(href="javascript:;").icon-screenshare
                            li
                                a(href="javascript:;").icon-youtube
                            li
                                a(href="javascript:;").icon-fileshare
                            li
                                a(href="javascript:;").icon-chart-bar
                            li
                                a(href="javascript:;").icon-buzzer
                            li.dropdown.caret
                                a(href="javascript:;") ENG
                                 
                            li.dropdown
                                a(href="javascript:;").icon-menu
                main.ed-content-area
                    block pageContent
            .ed-right-col
                header.ed-sidebar-header
                    ul.list-inline
                        li
                            a(href="javascript:;").icon-session-info
                        li
                            a(href="javascript:;").icon-session-timer
                        li
                            a(href="javascript:;").icon-rec
                        li
                            a(href="javascript:;").icon-buzzer
            footer.ed-footer
                .ed-copyright Powered by
                    img(src="../img/logo.png")
        script(src="../assets/jquery/jquery-3.3.1.min.js")
        script(type="text/javascript").