
.icon-password:before { content: '\e001'; } /* '' */
.icon-plus_button:before { content: '\e002'; } /* '' */
.icon-room_management:before { content: '\e003'; } /* '' */
.icon-session_management:before { content: '\e004'; } /* '' */
.icon-user_room:before { content: '\e005'; } /* '' */
.icon-user_room2:before { content: '\e006'; } /* '' */
.icon-vision-close:before { content: '\e008'; } /* '' */
.icon-vision-open:before { content: '\e009'; } /* '' */
.icon-account-settings:before { content: '\e010'; } /* '' */
.icon-edit-button:before { content: '\e011'; } /* '' */
.icon-help:before { content: '\e012'; } /* '' */
.icon-logout:before { content: '\e013'; } /* '' */
.icon-bell:before { content: '\e014'; } /* '' */