
.icon-chart-bar:before { content: '\e800'; } /* '' */
.icon-videocam:before { content: '\e801'; } /* '' */
.icon-buzzer:before { content: '\e802'; } /* '' */
.icon-chat:before { content: '\e803'; } /* '' */
.icon-camera:before { content: '\e804'; } /* '' */
.icon-chaticon:before { content: '\e805'; } /* '' */
.icon-content-library:before { content: '\e806'; } /* '' */
.icon-cog-alt:before { content: '\e807'; } /* '' */
.icon-fileshare:before { content: '\e808'; } /* '' */
.icon-hand-rise:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-videocamera:before { content: '\e80b'; } /* '' */
.icon-virtual-class:before { content: '\e80c'; } /* '' */
.icon-participate:before { content: '\e80d'; } /* '' */
.icon-qestandansw:before { content: '\e80e'; } /* '' */
.icon-rec:before { content: '\e80f'; } /* '' */
.icon-screenshare:before { content: '\e810'; } /* '' */
.icon-session-info:before { content: '\e811'; } /* '' */
.icon-webconferencing:before { content: '\e812'; } /* '' */
.icon-webinar:before { content: '\e813'; } /* '' */
.icon-youtube:before { content: '\e814'; } /* '' */
.icon-mute:before { content: '\e815'; } /* '' */
.icon-session-timer:before { content: '\e816'; } /* '' */
.icon-novideo-1:before { content: '\e817'; } /* '' */
.icon-mute-1:before { content: '\e818'; } /* '' */
.icon-ddfdf:before { content: '\e819'; } /* '' */
.icon-resize-full:before { content: '\e81a'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */