<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700,800">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body></body>
  <header class="gm-header-wrapper container-fluid">
    <div class="gm-search-wrapper">
      <div class="gm-input-wrapper">
        <div class="gm-icon-wrapper"><i class="gm-search-icon fa fa-search"></i></div><input class="form-control gm-web-search" type="text">
        <div class="gm-close-btn-wrapper gm-toggle-search"><a class="gm-close-icon" href="javacript:;"></a></div>
      </div>
    </div>
    <div class="row">
      <div class="gm-logo-wrapper col-xl-3 col-lg-4 col-8"><a href="#"><img src="../img/logo.png" alt="Gemteleversity"></a></div>
      <div class="gm-res-btn-wrapper d-lg-none d-flex align-items-center"><button class="gm-header-search-btn btn btn-link my-2 my-sm-0 gm-toggle-search"><i class="gm-search-icon fa fa-search"></i></button><button class="gm-nav-btn navbar-toggler navbar-dark"
          type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span></span><span></span><span></span></button></div>
      <div class="gm-nav-wrapper col-xl-9 col-lg-8 float-right">
        <nav class="navbar navbar-expand-lg sticky-top float-right mt-3 mt-lg-0">
          <div class="collapse navbar-collapse justify-content-md-end w-100" id="collapsibleNavbar">
            <ul class="navbar-nav mr-lg-3">
              <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
              <li class="nav-item dropdown"><a class="nav-link" href="academy.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Unedited Videos</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item"><a class="active nav-link" href="#">Library</a></li>
                  <li class="dropdown-item"><a class="nav-link" href="#">Collections</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="collections.html">ELearning</a></li>
              <li class="nav-item"><a class="nav-link" href="faculity-dtls.html">Faculty</a></li>
              <li class="nav-item"><a class="nav-link active" href="about.html">About</a></li>
              <li class="nav-item"><a class="nav-link gm-toggle-login" href="javascript:;">Login</a></li>
            </ul><button class="gm-header-search-btn btn btn-link my-2 my-sm-0 d-none d-lg-inline-block gm-toggle-search"><i class="gm-search-icon fa fa-search"></i></button>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <main class="gm-content-wrapper">
    <div class="gm-page-title-bar-wrapper container-fluid d-flex">
      <div class="row flex-grow-1">
        <div class="col-md-4 offset-md-1">
          <h1 class="gm-page-title">About</h1>
          <ul class="gm-title-breadcrumb list-inline">
            <li class="list-inline-item"><a href="home.html">Home</a></li>
            <li class="list-inline-item"><span>About</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gm-main-content-area"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="gm-about-us-wrapper col-md-10 col-lg-9 col-xl-8 align-center text-center">
          <h2 class="gm-page-sub-title">Our mission is to give everyone <br>a voice and to show them the world.</h2>
          <section class="mb-5">
            <p>Welcome to the new world of Laparoscopic Minimal Access Surgery at your ﬁngertip from Coimbatore to the world by GEM Institute of Laparoscopy and Robotic Surgery. We are bringing the largest repository of content of three decades of
              knowledge and experiences in Minimal Access and Robotic Surgery through the eyes and hands of Prof. C. Palanivelu and his team of excellence.</p>
            <p>It is a ﬁrst of its kind LIVE surgical experience everyday from 8-11 AM IST. Its not just about seeing, but get to interact with the best in the world - from appendectomy to hernias to bariatrics to GI cancers. Here, you get to
              interact LIVE with Worlds most renowned laparoscopic surgeon Prof.C.Palanivelu The man who revolutionised MAS in Asia and also who popularised Lap Whipples. There would be one day CME every month, a MAS Classroom. There is also
              tutorials for Nurses, who are the pillars of surgeons.</p>
          </section>
          <section class="mb-5">
            <div class="gm-img-wrapper mb-4"><img src="../img/logo.png" alt="Gemteleversity"></div>
            <p>The name GEM, GastroEnterology Medical, is derived from its own speciality. Being situated in Coimbatore, the emerging medical capital of India, is Asia’s First and most advanced tertiary health care, in the ﬁeld of Gastroenterology
              and Laparoscopic Surgery. With pioneering surgical and diagnostic techniques and use of the most advanced technologies, GEM Hospital and Research Center has been the most sought after centre for all Gastro-Intestine related pathologies
              and complicated laparoscopic surgeries. The expertise acquired have been utilized for CME and Life Long Lerning of practising surgeons. .GEM Hospital is also the very ﬁrst centre in India to get an ISO 9001:2008 Certiﬁcate in the ﬁeld
              of Gastroenterology and Laparoscopic Surgery. It also got NABH recognition for excellence in medical services. This hospital is providing world class health care with the latest diagnostic and therapeutic facilities and placed on the
              international medical map in the ﬁeld of Laparoscopic surgery.</p>
          </section>
          <section class="mb-5">
            <div class="gm-img-wrapper mb-4"><img src="../img/medikiti-logo.png" alt="Gemteleversity"></div>
            <p>Mediknit is a structured, unbiased Online Professional Medical Education & Open Learning initiative to Educate medical professionals, Enhance their clinical skills & Enable better health outcomes.<br>As an open learning initiative, we
              intend to offer online learning material to any healthcare professional who wants to learn and enable everyone who wants to teach. Our motto is to combine high-quality medical content, mentor knowledge, research, evidence-based
              medicine and continuous feedback to improve learning and transform professional medical education.</p>
          </section>
          <section class="mb-5">
            <div class="gm-doc-blocks">
              <h3 class="page-sub-title">Chief Strategist</h3>
              <div class="gm-doc-block-row">
                <div class="gm-doc-block col-md-4 col-sm-5">
                  <div class="gm-doc-init">P</div>
                  <div class="gm-doc-name">Dr. Parthasarathi R, Ms</div>
                  <div class="gm-doc-dtls">MS, MCh, DNB, FACS, FRCS(Hon)Ed.</div>
                </div>
              </div>
            </div>
            <div class="gm-doc-blocks">
              <h3 class="page-sub-title">Surgical Team</h3>
              <div class="gm-doc-block-row">
                <div class="gm-doc-block col-md-4 col-sm-5">
                  <div class="gm-doc-init">P</div>
                  <div class="gm-doc-name">Dr. Parthasarathi R, Ms</div>
                  <div class="gm-doc-dtls">MS, MCh, DNB, FACS, FRCS(Hon)Ed.</div>
                </div>
                <div class="gm-doc-block col-md-4 col-sm-5">
                  <div class="gm-doc-init">P</div>
                  <div class="gm-doc-name">Dr. Parthasarathi R, Ms</div>
                  <div class="gm-doc-dtls">MS, MCh, DNB, FACS, FRCS(Hon)Ed.</div>
                </div>
                <div class="gm-doc-block col-md-4 col-sm-5">
                  <div class="gm-doc-init">P</div>
                  <div class="gm-doc-name">Dr. Parthasarathi R, Ms</div>
                  <div class="gm-doc-dtls">MS, MCh, DNB, FACS, FRCS(Hon)Ed.</div>
                </div>
                <div class="gm-doc-block col-md-4 col-sm-5">
                  <div class="gm-doc-init">P</div>
                  <div class="gm-doc-name">Dr. Parthasarathi R, Ms</div>
                  <div class="gm-doc-dtls">MS, MCh, DNB, FACS, FRCS(Hon)Ed.</div>
                </div>
                <div class="gm-doc-block col-md-4 col-sm-5">
                  <div class="gm-doc-init">P</div>
                  <div class="gm-doc-name">Dr. Parthasarathi R, Ms</div>
                  <div class="gm-doc-dtls">MS, MCh, DNB, FACS, FRCS(Hon)Ed.</div>
                </div>
              </div>
            </div>
            <div class="gm-doc-blocks">
              <h3 class="page-sub-title">Chief Strategist</h3>
              <div class="gm-doc-block-row">
                <div class="gm-doc-block col-md-4 col-sm-5">
                  <div class="gm-doc-init">P</div>
                  <div class="gm-doc-name">Dr. Parthasarathi R, Ms</div>
                  <div class="gm-doc-dtls">MS, MCh, DNB, FACS, FRCS(Hon)Ed.</div>
                </div>
                <div class="gm-doc-block col-md-4 col-sm-5">
                  <div class="gm-doc-init">P</div>
                  <div class="gm-doc-name">Dr. Parthasarathi R, Ms</div>
                  <div class="gm-doc-dtls">MS, MCh, DNB, FACS, FRCS(Hon)Ed.</div>
                </div>
                <div class="gm-doc-block col-md-4 col-sm-5">
                  <div class="gm-doc-init">P</div>
                  <div class="gm-doc-name">Dr. Parthasarathi R, Ms</div>
                  <div class="gm-doc-dtls">MS, MCh, DNB, FACS, FRCS(Hon)Ed.</div>
                </div>
              </div>
              <div class="gm-doc-block-row">
                <div class="gm-doc-block col-md-4 col-sm-5">
                  <div class="gm-doc-init">P</div>
                  <div class="gm-doc-name">Dr. Parthasarathi R, Ms</div>
                  <div class="gm-doc-dtls">MS, MCh, DNB, FACS, FRCS(Hon)Ed.</div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
  <footer class="gm-footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-9">
          <ul class="gm-footer-link list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Unedited Videos</a></li>
            <li class="list-inline-item"><a href="#">ELearning</a></li>
            <li class="list-inline-item"><a href="#">Faculty</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Login</a></li>
          </ul>
          <ul class="gm-socl-links list-inline">
            <li class="list-inline-item"><a href="#"> <i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"> <i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"> <i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>&#169; 2018 All rights reserved</p>
          <ul class="gm-footer-link list-inline">
            <li class="list-inline-item"><a href="#">Privacy policy</a></li>
            <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-3 text-sm-right">
          <div class="gm-footer-img-wrapper d-inline-block text-left">
            <div>Powered by:</div><a href="#"> <img src="../img/medikiti-logo-white.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="gm-login-wrapper">
    <div class="gm-overlay-bg"></div>
    <div class="gm-content-wrapper">
      <div class="gm-header">
        <h3 class="block-title-style-2">LOGIN<a class="gm-toggle-login" href="javascript:;"></a></h3>
      </div>
      <div class="gm-form-wrapper">
        <form action="#">
          <div class="form-group"><label for="exampleInputEmail1">Email address</label><input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="ex. John@email.com"></div>
          <div class="form-group"><label for="exampleInputPassword1">Password</label><input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password"></div><button class="btn gm-btn-green gm-btn-submit" type="submit">LOGIN<i
              class="fa fa-angle-right"></i></button>
          <div class="gm-footer row">
            <div class="col-sm-6"><label>Fogot password?</label><a href="#">Recover</a></div>
            <div class="col-sm-6 text-right"><label for="">New to Gemtelversity?</label><a href="#">Create account</a></div>
          </div>
        </form>
      </div>
      <div class="gm-other-login-wrapper">
        <div class="gm-sub-title text-center">- OR USE -</div><button class="btn gm-btn-default btn-lg btn-block">Login using Amasi membership</button>
        <div class="row">
          <div class="col-sm-6"> <button class="btn gm-btn-default btn-lg btn-block"> <i class="fa fa-google"></i>Login using Google</button></div>
          <div class="col-sm-6"> <button class="btn gm-btn-default btn-lg btn-block"> <i class="fa fa-linkedin"></i>Login using Linkedin</button></div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <script src="../assets/jquery/jquery-3.3.1.min.js"></script>
  <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../assets/typeahead/bootstrap3-typeahead.min.js"></script>
  <script src="../js/main.js"></script>
</html>