<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/bootstrap-select/css/bootstrap-select.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="el-dashboard">
    <header class="el-page-header">
      <div class="pull-left el-left-block">
        <div class="el-icon">&#xe012;</div>
        <h2 class="d-inline-block el-dashboard-title">New Room</h2>
      </div>
      <div class="pull-right el-right-block">
        <ul class="el-top-link">
          <li><a href="#">
              <div class="el-icon">&#xe012;</div>
            </a></li>
          <li class="el-notification el-unread"><a href="#">
              <div class="el-icon">&#xe014;</div>
            </a></li>
        </ul>
      </div>
    </header>
    <aside class="el-page-sidebar">
      <ul class="el-navbar">
        <li><a href="javascript:;">
            <figure class="el-nav-avatar"><img src="../img/avatar.jpg"></figure>
          </a></li>
        <li class="active"><a href="dashboard_account.html">
            <div class="el-icon">&#xe010;</div>
          </a></li>
        <li><a href="dashboard_room-management.html">
            <div class="el-icon">&#xe003;</div>
          </a></li>
        <li><a href="#">
            <div class="el-icon">&#xe004;</div>
          </a></li>
        <li class="el-signout"><a href="#">
            <div class="el-icon">&#xe013;</div>
          </a></li>
      </ul>
    </aside>
    <main class="el-page-content-wrapper">
      <div class="container-fluid">
        <div class="row flex-xl-nowrap">
          <section class="el-dashboard-sidebar el-room-mgmt-sidebar">
            <form>
              <section class="el-avatar-upload-wrapper">
                <figure><img src="../img/avatar.jpg"><a class="el-icon el-icon-camera" href="javascript:;">&#xe002;</a></figure>
              </section>
              <section class="el-form-controls">
                <div class="el-input-style-3 form-group row"><input class="form-control" type="text" placeholder="Room Name"></div>
                <div class="el-input-style-3 form-group row"><input class="form-control" type="text" placeholder="Moderator Name"></div>
                <div class="el-input-style-3 form-group row"><input class="form-control" type="text" placeholder="Moderator Email"></div>
              </section>
              <section class="el-room-capacity">
                <h4 class="el-title">Room Capacity</h4>
                <ul class="el-room-sizes">
                  <li><a href="javascript:;" data-toggle="room-config" data-target="room-10">10</a>
                    <div class="el-border"></div>
                  </li>
                  <li><a href="javascript:;" data-toggle="room-config" data-target="room-20">20</a>
                    <div class="el-border"></div>
                  </li>
                  <li><a href="javascript:;" data-toggle="room-config" data-target="room-40">40</a>
                    <div class="el-border"></div>
                  </li>
                  <li><a class="active" href="javascript:;" data-toggle="room-config" data-target="room-60"> 60</a>
                    <div class="el-border"></div>
                  </li>
                </ul>
              </section>
              <section class="text-center mt-4"><button class="btn btn-primary el-btn-primary">CREATE ROOM</button></section>
            </form>
          </section>
          <section class="el-dashboard-content-wrapper">
            <div class="el-room-config-wrapper el-box">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="el-title">Room Layout</h3>
                  <div class="el-room-layout-designs el-room-10 d-none" id="room-10">
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11637">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_111926">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_111221">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_111770">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_114725">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_115460">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_118624">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_114888">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11360">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-2 text-center">
                      <div class="el-attende-status"> 1/10</div>
                    </div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112490">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                  </div>
                  <div class="el-room-layout-designs el-room-20 d-none" id="room-20">
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_111214">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_121214">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112146">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122146">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_113432">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_123432">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_113110">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_123110">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112060">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122060">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112250">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122250">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_117294">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_127294">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_1110360">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_1210360">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_116786">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_126786">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-2 text-center">
                      <div class="el-attende-status"> 13/20</div>
                    </div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_1111420">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_1211420">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                  </div>
                  <div class="el-room-layout-designs el-room-40" id="room-40">
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11371">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12371">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13371">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21371">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_111510">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_121510">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_131510">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_211510">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_111332">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_121332">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_131332">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_211332">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11980">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12980">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13980">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21980">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112320">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122320">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_132320">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_212320">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112802">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122802">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_132802">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_212802">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_117840">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_127840">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_137840">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_217840">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_117888">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_127888">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_137888">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_217888">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112250">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122250">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_132250">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_212250">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-2 text-center">
                      <div class="el-attende-status"> 13/40</div>
                    </div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_119510">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_129510">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_139510">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_219510">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                  </div>
                  <div class="el-room-layout-designs el-room-60 d-none" id="room-60">
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11337">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12337">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13337">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21337">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_22337">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_23337">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_111754">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_121754">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_131754">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_211754">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_221754">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_231754">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11699">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12699">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13699">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21699">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_22699">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_23699">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11720">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12720">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13720">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21720">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_22720">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_23720">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112840">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122840">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_132840">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_212840">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_222840">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_232840">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112700">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122700">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_132700">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_212700">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_222700">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_232700">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_111022">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_121022">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_131022">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_211022">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_221022">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_231022">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_116856">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_126856">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_136856">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_216856">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_226856">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_236856">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_1111241">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_1211241">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_1311241">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_2111241">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_2211241">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_2311241">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-2 text-center">
                      <div class="el-attende-status"> 13/60</div>
                    </div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_117710">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_127710">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_137710">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_217710">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_227710">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_237710">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3 class="el-title">Add Attendee</h3>
                  <div class="el-help-block mb-4">Select a seat and insert data of each user :</div>
                  <div class="form-group row"><label class="col-md-5 control-label">Attendee Name</label>
                    <div class="el-input-style-2 col-md-7"><input class="form-control" type="text"></div>
                  </div>
                  <div class="form-group row"><label class="col-md-5 control-label">Attendee E-mail</label>
                    <div class="el-input-style-2 col-md-7"><input class="form-control" type="email"></div>
                  </div>
                  <div class="form-group row my-4">
                    <div class="col-md-8 offset-5"> <button class="btn btn-primary el-btn-primary">Add attendee</button></div>
                  </div>
                </div>
              </div>
              <hr class="el-hr">
              <div class="row">
                <div class="col-md-6">
                  <div class="el-multiple-attendee">
                    <h3 class="el-title">Add Multiple Attendee</h3><textarea placeholder="Name Lastname;user@gmail.com;1"></textarea>
                    <div class="el-btn-wrapper"><span class="el-help-block">eg: Ian Philip;ian@philip.com;6</span><button class="btn btn-primary pull-right el-btn-primary">Add MULTIPLE ATTENDEE</button></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3 class="el-title">Add Bulk Attendee</h3>
                  <div class="text-center mt-5"><button class="btn btn-outline-primary  el-btn-outline-primary">UPLOAD BULK ATTENDEE</button><a class="el-link d-block mt-3" href="javascript:;">
                      <div class="el-icon">&#xe002;</div> Download Sample Excel
                    </a></div>
                </div>
              </div>
            </div>
            <div class="el-attendee-list my-5">
              <div class="table-scrollable">
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th width="10%">Seat No.</th>
                      <th>Name</th>
                      <th>E-mail ID</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <script src="../assets/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('[data-toggle="room-config"]').on('click', function()
      {
        $('.el-room-layout-designs').addClass('d-none');
        $('.el-room-sizes a').removeClass('active');
        $(this).addClass('active');
        $('#' + $(this).attr('data-target')).removeClass('d-none');
      });
    </script>
  </body>
</html>