<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/bootstrap-select/css/bootstrap-select.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="el-dashboard">
    <header class="el-page-header">
      <div class="pull-left el-left-block">
        <div class="el-icon">&#xe012;</div>
        <h2 class="d-inline-block el-dashboard-title">New Room</h2>
      </div>
      <div class="pull-right el-right-block">
        <ul class="el-top-link">
          <li><a href="#">
              <div class="el-icon">&#xe012;</div>
            </a></li>
          <li class="el-notification el-unread"><a href="#">
              <div class="el-icon">&#xe014;</div>
            </a></li>
        </ul>
      </div>
    </header>
    <aside class="el-page-sidebar">
      <ul class="el-navbar">
        <li><a href="javascript:;">
            <figure class="el-nav-avatar"><img src="../img/avatar.jpg"></figure>
          </a></li>
        <li class="active"><a href="dashboard_account.html">
            <div class="el-icon">&#xe010;</div>
          </a></li>
        <li><a href="dashboard_room-management.html">
            <div class="el-icon">&#xe003;</div>
          </a></li>
        <li><a href="#">
            <div class="el-icon">&#xe004;</div>
          </a></li>
        <li class="el-signout"><a href="#">
            <div class="el-icon">&#xe013;</div>
          </a></li>
      </ul>
    </aside>
    <main class="el-page-content-wrapper">
      <div class="container-fluid">
        <div class="row flex-xl-nowrap">
          <section class="el-dashboard-sidebar el-room-mgmt-sidebar">
            <form>
              <section class="el-avatar-upload-wrapper">
                <figure><img src="../img/avatar.jpg"><a class="el-icon el-icon-camera" href="javascript:;">&#xe002;</a></figure>
              </section>
              <section class="el-form-controls">
                <div class="el-input-style-3 form-group row"><input class="form-control" type="text" placeholder="Room Name"></div>
                <div class="el-input-style-3 form-group row"><input class="form-control" type="text" placeholder="Moderator Name"></div>
                <div class="el-input-style-3 form-group row"><input class="form-control" type="text" placeholder="Moderator Email"></div>
              </section>
              <section class="el-room-capacity">
                <h4 class="el-title">Room Capacity</h4>
                <ul class="el-room-sizes">
                  <li><a href="javascript:;" data-toggle="room-config" data-target="room-10">10</a>
                    <div class="el-border"></div>
                  </li>
                  <li><a href="javascript:;" data-toggle="room-config" data-target="room-20">20</a>
                    <div class="el-border"></div>
                  </li>
                  <li><a href="javascript:;" data-toggle="room-config" data-target="room-40">40</a>
                    <div class="el-border"></div>
                  </li>
                  <li><a class="active" href="javascript:;" data-toggle="room-config" data-target="room-60"> 60</a>
                    <div class="el-border"></div>
                  </li>
                </ul>
              </section>
              <section class="text-center mt-4"><button class="btn btn-primary el-btn-primary">CREATE ROOM</button></section>
            </form>
          </section>
          <section class="el-dashboard-content-wrapper">
            <div class="el-room-config-wrapper el-box">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="el-title">Room Layout</h3>
                  <div class="el-room-layout-designs el-room-10 d-none" id="room-10">
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11601">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_111682">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112763">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11515">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_113415">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_114398">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_115642">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_119000">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11342">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-2 text-center">
                      <div class="el-attende-status"> 1/10</div>
                    </div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_115530">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                  </div>
                  <div class="el-room-layout-designs el-room-20 d-none" id="room-20">
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11750">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12750">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112160">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122160">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_113303">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_123303">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112645">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122645">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_114875">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_124875">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_113180">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_123180">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112849">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122849">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_114784">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_124784">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_116732">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_126732">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-2 text-center">
                      <div class="el-attende-status"> 13/20</div>
                    </div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_118950">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_128950">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                  </div>
                  <div class="el-room-layout-designs el-room-40 d-none" id="room-40">
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11170">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12170">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13170">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21170">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11270">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12270">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13270">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21270">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_113012">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_123012">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_133012">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_213012">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112580">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122580">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_132580">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_212580">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_115655">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_125655">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_135655">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_215655">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_116144">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_126144">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_136144">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_216144">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_118631">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_128631">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_138631">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_218631">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11712">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12712">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13712">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21712">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_115805">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_125805">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_135805">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_215805">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-2 text-center">
                      <div class="el-attende-status"> 13/40</div>
                    </div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_116930">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_126930">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_136930">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_216930">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                  </div>
                  <div class="el-room-layout-designs el-room-60" id="room-60">
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11938">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12938">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13938">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21938">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_22938">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_23938">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11136">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12136">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13136">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21136">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_22136">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_23136">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11360">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12360">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13360">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21360">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_22360">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_23360">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_11130">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_12130">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_13130">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_21130">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_22130">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_23130">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_115775">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_125775">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_135775">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_215775">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_225775">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_235775">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_116168">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_126168">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_136168">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_216168">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_226168">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_236168">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_118449">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_128449">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_138449">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_218449">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_228449">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_238449">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_117568">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_127568">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_137568">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_217568">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_227568">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_237568">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_116390">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_126390">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_136390">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_216390">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_226390">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_236390">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                    <div class="el-col-2 text-center">
                      <div class="el-attende-status"> 13/60</div>
                    </div>
                    <div class="el-col-1"><label class="el-user-check"><input type="checkbox" id="chck_112350">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_122350">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_132350">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_212350">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_222350">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label><label class="el-user-check"><input type="checkbox" id="chck_232350">
                        <div class="el-checkmark">
                          <div class="el-icon">&#xe006;</div>
                        </div>
                      </label></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3 class="el-title">Add Attendee</h3>
                  <div class="el-help-block mb-4">Select a seat and insert data of each user :</div>
                  <div class="form-group row"><label class="col-md-5 control-label">Attendee Name</label>
                    <div class="el-input-style-2 col-md-7"><input class="form-control" type="text"></div>
                  </div>
                  <div class="form-group row"><label class="col-md-5 control-label">Attendee E-mail</label>
                    <div class="el-input-style-2 col-md-7"><input class="form-control" type="email"></div>
                  </div>
                  <div class="form-group row my-4">
                    <div class="col-md-8 offset-5"> <button class="btn btn-primary el-btn-primary">Add attendee</button></div>
                  </div>
                </div>
              </div>
              <hr class="el-hr">
              <div class="row">
                <div class="col-md-6">
                  <div class="el-multiple-attendee">
                    <h3 class="el-title">Add Multiple Attendee</h3><textarea placeholder="Name Lastname;user@gmail.com;1"></textarea>
                    <div class="el-btn-wrapper"><span class="el-help-block">eg: Ian Philip;ian@philip.com;6</span><button class="btn btn-primary pull-right el-btn-primary">ADD MULTIPLE ATTENDEE</button></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h3 class="el-title">Add Bulk Attendee</h3>
                  <div class="text-center mt-5"><button class="btn btn-outline-primary  el-btn-outline-primary">UPLOAD BULK ATTENDEE</button><a class="el-link d-block mt-3" href="javascript:;">
                      <div class="el-icon">&#xe002;</div> Download Sample Excel
                    </a></div>
                </div>
              </div>
            </div>
            <div class="el-attendee-list my-5">
              <div class="table-scrollable">
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th width="10%">Seat No.</th>
                      <th>Name</th>
                      <th>E-mail ID</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td class="text-nowrap">
                        <figure class="el-avatar"><img src="../img/avatar.jpg"></figure>
                        <div class="el-title">Annie Paul</div>
                      </td>
                      <td>daniel_alexi@gmail.com</td>
                      <td> <button class="btn btn-outline-primary  el-btn-outline-default">Edit</button><button class="btn btn-outline-danger  el-btn-outline-danger">Delete</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <script src="../assets/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('[data-toggle="room-config"]').on('click', function()
      {
        $('.el-room-layout-designs').addClass('d-none');
        $('.el-room-sizes a').removeClass('active');
        $(this).addClass('active');
        $('#' + $(this).attr('data-target')).removeClass('d-none');
      });
    </script>
  </body>
</html>