<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Device checking</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300|Montserrat:100,300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="../assets/fontello/css/fontello.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="br-innerpage">
    <div class="ed-main-wrapper">
      <div class="ed-left-col">
        <header class="ed-main-header">
          <div class="ed-logo-wrapper"><img src="../img/logo.png"></div>
          <div class="ed-navbar-wrapper">
            <ul class="ed-navbar-left list-inline">
              <li><a class="icon-webconferencing" href="javascript:;"></a></li>
              <li><a class="icon-webinar" href="javascript:;"></a></li>
              <li><a class="icon-virtual-class" href="javascript:;"></a></li>
            </ul>
            <ul class="ed-navbar-right list-inline">
              <li><a class="icon-content-library" href="javascript:;"></a></li>
              <li><a class="icon-screenshare" href="javascript:;"></a></li>
              <li><a class="icon-youtube" href="javascript:;"></a></li>
              <li><a class="icon-fileshare" href="javascript:;"></a></li>
              <li><a class="icon-chart-bar" href="javascript:;"></a></li>
              <li><a class="icon-buzzer" href="javascript:;"></a></li>
              <li class="dropdown caret"><a href="javascript:;">ENG</a></li>
              <li class="dropdown"><a class="icon-menu" href="javascript:;"></a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </header>
        <main class="ed-content-area"></main>
      </div>
      <div class="ed-right-col">
        <div class="ed-video-wrapper">
          <header class="ed-header">
            <ul class="list-inline">
              <li class="dropdown"><a class="icon-session-info" href="javascript:;"></a>
                <div class="dropdown-menu ed-right-block-dropdown">
                  <h4 class="ed-title text-center">Session info</h4>
                  <div class="ed-timer-red" style="width:150px;height:150px;background:red;border-radius:50%;margin:15px auto;padding:10%;">Timer<div class="d-n">
                      <div class="clock-canvas" id="canvas-hours"></div>
                      <div class="clock-canvas" id="canvas-minutes"></div>
                      <div class="clock-canvas" id="canvas-seconds"></div>
                      <div class="clock-canvas" id="canvas-days"></div>
                      <div class="ed-timer-value"><span class="clock-hours"></span><span class="clock-minutes"></span><span class="clock-seconds"></span></div>
                    </div>
                  </div>
                  <div class="text-center">
                    <div class="ed-session-title">Pitch Like A Pro!</div>
                    <div class="ed-author">Dan Williams</div>
                  </div>
                  <div class="ed-time-wrapper">
                    <div class="ed-row">
                      <div class="ed-col-left">Started at</div>
                      <div class="ed-col-right">12.24 PM</div>
                    </div>
                    <div class="ed-row">
                      <div class="ed-col-left">Time Remaining</div>
                      <div class="ed-col-right">00.02.15</div>
                    </div>
                    <div class="ed-row">
                      <div class="ed-col-left">Duration</div>
                      <div class="ed-col-right">1 hour</div>
                    </div>
                  </div>
                  <div class="text-center ed-session-footer">Extend the Session by <a href="#">30 min</a></div>
                  <div class="text-center ed-session-notice">or End Session</div>
                </div>
              </li>
              <li class="dropdown"><a class="icon-session-timer" href="javascript:;"></a>
                <div class="dropdown-menu ed-right-block-dropdown">
                  <h4 class="ed-title text-center">Personal timer</h4>
                  <div class="ed-timer-blue" style="width:150px;height:150px;background:blue;border-radius:50%;margin:15px auto;padding:10%;">Timer<div class="d-n">
                      <div class="clock-canvas" id="canvas-hours"></div>
                      <div class="clock-canvas" id="canvas-minutes"></div>
                      <div class="clock-canvas" id="canvas-seconds"></div>
                      <div class="clock-canvas" id="canvas-days"></div>
                      <div class="ed-timer-value"><span class="clock-hours"></span><span class="clock-minutes"></span><span class="clock-seconds"></span></div>
                    </div>
                  </div>
                  <div class="text-center ed-notice">This timer is ONLY visible by you<br>No other preseters can see this<br>countdown.</div>
                  <div class="ed-btn-wrapper text-center"><button class="ed-btn">Set </button>
                    <div><button class="ed-btn link">Cancel</button></div>
                  </div>
                </div>
              </li>
              <li><a class="icon-rec" href="javascript:;"></a></li>
              <li><a class="icon-buzzer" href="javascript:;"></a></li>
            </ul>
          </header>
          <div class="ed-videos">
            <div class="ed-row v3">
              <div class="ed-col"><video src="../img/dummy.webm"></video></div>
              <div class="ed-col"><video src="../img/dummy.webm"></video></div>
              <div class="ed-col"><video src="../img/dummy.webm"></video></div>
            </div>
            <div class="ed-row v2">
              <div class="ed-col"><video src="../img/dummy.webm"></video></div>
              <div class="ed-col"><video src="../img/dummy.webm"></video></div>
            </div>
          </div>
          <footer class="ed-video-footer"> <a class="icon-camera" href="javascript:;"></a><a class="icon-mute" href="javascript:;"></a><a class="icon-ddfdf" href="javascript:;"></a><a class="icon-cog-alt" href="javascript:;"></a></footer>
        </div>
        <div class="ed-sidebar-block ed-box">
          <header class="ed-header-toggle">
            <div class="ed-join active" target="contact-list-wrapper" data-toggle="chat"><a class="icon-participate" href="javascript:;"></a></div>
            <div class="ed-join" target="chat-wrapper" data-toggle="chat"><a class="icon-chat" href="javascript:;"></a></div>
            <div class="ed-join" target="qa-wrapper" data-toggle="chat"><a class="icon-qestandansw" href="javascript:;"></a></div>
          </header>
          <section class="ed-content-wrapper">
            <div class="ed-content active" id="contact-list-wrapper">
              <ul class="ed-contact-list">
                <li class="ed-contact"> <span class="vcenter ed-avatar-title" style="background:magenta">E</span><span class="vcenter ed-title">Edward Abraham</span>
                  <div class="ed-tools"><a class="text-red icon-hand-rise" href="javascript:;"></a></div>
                </li>
                <li class="ed-contact"> <span class="vcenter ed-avatar-title">A</span><span class="vcenter ed-title">Angelina jollysa Francese</span>
                  <div class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-yellow icon-cog-alt" href="javascript:;"></a></div>
                </li>
                <li class="ed-contact"> <span class="vcenter ed-avatar-title">A</span><span class="vcenter ed-title">Angelina jollysa Francese</span>
                  <div class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-yellow icon-cog-alt" href="javascript:;"></a></div>
                </li>
                <li class="ed-contact"> <span class="vcenter ed-avatar-title">A</span><span class="vcenter ed-title">Angelina jollysa Francese</span>
                  <div class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-yellow icon-cog-alt" href="javascript:;"></a></div>
                </li>
                <li class="ed-contact"> <span class="vcenter ed-avatar-title">A</span><span class="vcenter ed-title">Angelina jollysa Francese</span>
                  <div class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-yellow icon-cog-alt" href="javascript:;"></a></div>
                </li>
                <li class="ed-contact"> <span class="vcenter ed-avatar-title">A</span><span class="vcenter ed-title">Angelina jollysa Francese</span>
                  <div class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-yellow icon-cog-alt" href="javascript:;"></a></div>
                </li>
                <li class="ed-contact"> <span class="vcenter ed-avatar-title">A</span><span class="vcenter ed-title">Angelina jollysa Francese</span>
                  <div class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-yellow icon-cog-alt" href="javascript:;"></a></div>
                </li>
                <li class="ed-contact"> <span class="vcenter ed-avatar-title">A</span><span class="vcenter ed-title">Angelina jollysa Francese</span>
                  <div class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-yellow icon-cog-alt" href="javascript:;"></a></div>
                </li>
              </ul>
            </div>
            <div class="ed-content" id="chat-wrapper">
              <div class="ed-title-wrapper">
                <div class="ed-left vcenter">Private Chat</div>
                <div class="ed-right vcenter">
                  <div class="vcenter">Public Chat</div>
                  <div class="vcenter"> <label class="ed-switch"><input type="checkbox"><span class="slider"> </span></label></div>
                  <div class="vcenter"> <a class="ed-resize icon-resize-full" href="javascript:;"></a></div>
                </div>
              </div>
              <div class="ed-chat-wrapper">
                <ul class="ed-chat-list">
                  <li class="ed-chat"><span class="ed-avatar-title">V</span>
                    <div class="ed-chat-content">
                      <div class="ed-user-title">Raison ab</div>
                      <div class="ed-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                  </li>
                  <li class="ed-chat"><span class="ed-avatar-title">V</span>
                    <div class="ed-chat-content">
                      <div class="ed-user-title">Raison ab</div>
                      <div class="ed-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                  </li>
                  <li class="ed-chat"><span class="ed-avatar-title">V</span>
                    <div class="ed-chat-content">
                      <div class="ed-user-title">Raison ab</div>
                      <div class="ed-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                  </li>
                  <li class="ed-chat"><span class="ed-avatar-title">V</span>
                    <div class="ed-chat-content">
                      <div class="ed-user-title">Raison ab</div>
                      <div class="ed-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                  </li>
                </ul>
                <div class="ed-compose-chat"><input class="vcenter ed-form-control" type="text"><button class="ed-btn vcenter">Send</button></div>
              </div>
            </div>
            <div class="ed-content" id="qa-wrapper">
              <div class="ed-qa-wrapper">
                <div class="ed-title-wrapper">
                  <div class="ed-left vcenter">Open Questions</div>
                  <div class="ed-right vcenter">
                    <div class="vcenter">Answered </div>
                    <div class="ed-tools vcenter"> <a class="vcenter icon-cog-alt" href="javascript:;"></a><a class="vcenter icon-resize-full" href="javascript:;"></a></div>
                  </div>
                </div>
                <ul class="ed-aq-list">
                  <li class="ed-qa">
                    <div class="ed-avatar-title vcenter" style="background:orange">L</div>
                    <div class="ed-msg-wrapper vcenter">
                      <div class="ed-title">Laura Jennifer</div>
                      <div class="ed-msg">What is singleton class and how can we make a class singleton?</div>
                    </div>
                    <footer class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-red icon-mic ed-disabled" href="javascript:;"></a></footer>
                  </li>
                  <li class="ed-qa">
                    <div class="ed-avatar-title vcenter">A</div>
                    <div class="ed-msg-wrapper vcenter">
                      <div class="ed-title">Annie Lore </div>
                      <div class="ed-msg">What is singleton class and how can we make a class singleton?</div>
                    </div>
                    <footer class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a></footer>
                  </li>
                  <li class="ed-qa">
                    <div class="ed-avatar-title vcenter">A</div>
                    <div class="ed-msg-wrapper vcenter">
                      <div class="ed-title">Annie Lore </div>
                      <div class="ed-msg">What is singleton class and how can we make a class singleton?</div>
                    </div>
                    <footer class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a></footer>
                  </li>
                  <li class="ed-qa">
                    <div class="ed-avatar-title vcenter">A</div>
                    <div class="ed-msg-wrapper vcenter">
                      <div class="ed-title">Annie Lore </div>
                      <div class="ed-msg">What is singleton class and how can we make a class singleton?</div>
                    </div>
                    <footer class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a></footer>
                  </li>
                  <li class="ed-qa">
                    <div class="ed-avatar-title vcenter">A</div>
                    <div class="ed-msg-wrapper vcenter">
                      <div class="ed-title">Annie Lore </div>
                      <div class="ed-msg">What is singleton class and how can we make a class singleton?</div>
                    </div>
                    <footer class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a></footer>
                  </li>
                  <li class="ed-qa">
                    <div class="ed-avatar-title vcenter">A</div>
                    <div class="ed-msg-wrapper vcenter">
                      <div class="ed-title">Annie Lore </div>
                      <div class="ed-msg">What is singleton class and how can we make a class singleton?</div>
                    </div>
                    <footer class="ed-tools"><a class="text-green icon-videocam" href="javascript:;"></a><a class="text-blue icon-chaticon" href="javascript:;"></a><a class="text-red icon-mic" href="javascript:;"></a></footer>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
      <footer class="ed-footer">
        <div class="ed-copyright">Powered by<img src="../img/logo.png"></div>
      </footer>
    </div>
    <div class="ed-modal modal fade in" id="modalCheckDevice">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Media Settings</h3><button class="ed-icon-close close" type="button" data-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="ed-device-config-wrapper">
              <div class="ed-left-col">
                <div class="ed-preview text-center"><video class="ed-video" autoplay src="../img/dummy.webm"></video></div>
                <div class="text-red ed-help-block">IMPORTANT: Make sure you see movement in the audio bar below STEP 2 to ensure your MIC is active.</div>
              </div>
              <div class="ed-right-col">
                <div class="ed-form-group"><label class="ed-label">Browser</label><select class="selectpicker" name="">
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                  </select><a class="text-green icon-mic" href="javascript:;"></a></div>
                <div class="ed-form-group"><label class="ed-label">Choose Camera</label><select class="selectpicker" name="">
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                  </select><a class="text-green icon-mic" href="javascript:;"></a></div>
                <div class="ed-form-group"><label class="ed-label">Choose Mice</label><select class="selectpicker" name="">
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                  </select><a class="text-green icon-mic" href="javascript:;"></a></div>
                <div class="ed-form-group"><label class="ed-label">Choose Speaker<a class="text-green icon-mic" href="javascript:;"></a></label><select class="selectpicker" name="">
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                    <option>HP Webcame 1300 (03f0: e 107)</option>
                  </select><a class="text-red icon-mic" href="javascript:;"></a></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="ed-form-group text-right"><button class="ed-btn">Save &amp; Continue</button></div>
          </div>
        </div>
      </div>
    </div>
    <script src="../assets/jquery/jquery-1.11.0.min.js"></script>
    <script src="../assets/jquery-timer/demo/js/kinetic.js"></script>
    <script src="../assets/jquery-timer/jquery.final-countdown.js"></script>
    <script src="../js/main.js"></script>
    <script type="text/javascript"></script>
  </body>
</html>