<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Device checking</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300|Montserrat:100,300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="../assets/fontello/css/fontello.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="br-innerpage">
    <div class="ed-main-wrapper">
      <div class="ed-left-col">
        <header class="ed-main-header">
          <div class="ed-logo-wrapper"><img src="../img/logo.png"></div>
          <div class="ed-navbar-wrapper">
            <ul class="ed-navbar-left list-inline">
              <li><a class="icon-webconferencing" href="javascript:;"></a></li>
              <li><a class="icon-webinar" href="javascript:;"></a></li>
              <li><a class="icon-virtual-class" href="javascript:;"></a></li>
            </ul>
            <ul class="ed-navbar-right list-inline">
              <li><a class="icon-content-library" href="javascript:;"></a></li>
              <li><a class="icon-screenshare" href="javascript:;"></a></li>
              <li><a class="icon-youtube" href="javascript:;"></a></li>
              <li><a class="icon-fileshare" href="javascript:;"></a></li>
              <li><a class="icon-chart-bar" href="javascript:;"></a></li>
              <li><a class="icon-buzzer" href="javascript:;"></a></li>
              <li class="dropdown caret"><a href="javascript:;">ENG</a></li>
              <li class="dropdown"><a class="icon-menu" href="javascript:;"></a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </header>
        <main class="ed-content-area">
          <div class="br-device-checking-wrapper col-lg-10">
            <div class="row">
              <div class="col-lg-7 col-md-6 d-flex flex-column justify-content-center">
                <h1 class="br-welcome-title">Make Every<br>Meeting Count.</h1><a class="br-link" href="conference-room.html">Start Meeting <i class="fa fa-angle-double-right"></i></a>
              </div>
              <div class="col-lg-5 col-md-6">
                <div class="br-device-checking-area"><video class="br-video" autoplay src="../img/dummy.webm"></video>
                  <div class="br-footer text-center"><a class="br-icon-no-video" href="javascript:;"></a><a class="br-icon-no-audio active" href="javascript:;"></a><a class="br-icon-ellipsis" href="#modalCheckDevice" data-toggle="modal"></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="br-modal modal fade" id="modalCheckDevice">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title">CHECK YOUR DEVICE</h3><button class="br-icon-close close" type="button" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <ul class="br-device-config-wrapper">
                    <li class="br-device d-flex">
                      <div class="br-icon br-icon-video"></div>
                      <div class="br-device-dtls">
                        <h4 class="br-title">Camera</h4><select class="selectpicker" name="">
                          <option>HP Webcame 1300 (03f0: e 107)</option>
                          <option>HP Webcame 1300 (03f0: e 107)</option>
                          <option>HP Webcame 1300 (03f0: e 107)</option>
                        </select>
                      </div>
                      <div class="br-preview text-center"><video class="br-video" autoplay src="../img/dummy.webm"></video></div>
                    </li>
                    <li class="br-device d-flex">
                      <div class="br-icon br-icon-audio"></div>
                      <div class="br-device-dtls">
                        <h4 class="br-title">Microphone</h4><select class="selectpicker" name="">
                          <option>Default - Microphone (realtech H1 1)</option>
                          <option>Default - Microphone (realtech H1 1)</option>
                        </select>
                      </div>
                      <div class="br-preview text-center">
                        <div class="br-icon-equalizer"></div>
                      </div>
                    </li>
                    <li class="br-device d-flex">
                      <div class="br-icon br-icon-speaker"></div>
                      <div class="br-device-dtls">
                        <h4 class="br-title">Speaker</h4><select class="selectpicker" name="">
                          <option>Default - Speaker (realtech H1 1realtech H1 1realtech H1 1)</option>
                          <option>Default - Speaker (realtech H1 1realtech H1 1realtech H1 1)</option>
                          <option>Default - Speaker (realtech H1 1realtech H1 1realtech H1 1)</option>
                        </select>
                      </div>
                      <div class="br-preview text-center">
                        <div class="br-icon-play"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div class="ed-right-col">
        <div class="ed-video-wrapper">
          <header class="ed-header">
            <ul class="list-inline">
              <li><a class="icon-session-info" href="javascript:;"></a></li>
              <li><a class="icon-session-timer" href="javascript:;"></a></li>
              <li><a class="icon-rec" href="javascript:;"></a></li>
              <li><a class="icon-buzzer" href="javascript:;"></a></li>
            </ul>
          </header>
          <div class="ed-videos">
            <div class="ed-row v3">
              <div class="ed-col"><video src="../img/dummy.webm"></video></div>
              <div class="ed-col"><video src="../img/dummy.webm"></video></div>
              <div class="ed-col"><video src="../img/dummy.webm"></video></div>
            </div>
            <div class="ed-row v2">
              <div class="ed-col"><video src="../img/dummy.webm"></video></div>
              <div class="ed-col"><video src="../img/dummy.webm"></video></div>
            </div>
          </div>
        </div>
        <div class="ed-sidebar-block ed-box">
          <header class="ed-header-toggle">
            <div class="ed-join" target="join" data-toggle="chat"><a class="icon-participate" href="javascript:;"></a></div>
            <div class="ed-join active" target="public" data-toggle="chat"><a class="icon-chat" href="javascript:;"></a></div>
            <div class="ed-join" target="personal" data-toggle="chat"><a class="icon-qestandansw" href="javascript:;"></a></div>
          </header>
          <section class="ed-content-wrapper">
            <div class="ed-content">
              <div class="et-title-wrapper">
                <div class="el-left vcenter">Private Chat</div>
                <div class="el-right vcenter">
                  <div class="vcenter">Public Chat</div>
                  <div class="vcenter"> <label class="ed-switch"><input type="checkbox"><span class="slider"> </span></label></div>
                  <div class="vcenter"> <a class="ed-resize icon-resize-full" href="javascript:;"></a></div>
                </div>
              </div>
              <div class="ed-chat-wrapper">
                <ul class="ed-chat-list">
                  <li class="ed-chat"><span class="ed-avatar-title">V</span>
                    <div class="ed-chat-content">
                      <div class="ed-user-title">Raison ab</div>
                      <div class="ed-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                  </li>
                  <li class="ed-chat"><span class="ed-avatar-title">V</span>
                    <div class="ed-chat-content">
                      <div class="ed-user-title">Raison ab</div>
                      <div class="ed-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                  </li>
                  <li class="ed-chat"><span class="ed-avatar-title">V</span>
                    <div class="ed-chat-content">
                      <div class="ed-user-title">Raison ab</div>
                      <div class="ed-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                  </li>
                  <li class="ed-chat"><span class="ed-avatar-title">V</span>
                    <div class="ed-chat-content">
                      <div class="ed-user-title">Raison ab</div>
                      <div class="ed-msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>
                  </li>
                </ul>
                <div class="ed-compose-chat"><input class="vcenter ed-form-control" type="text"><button class="ed-btn vcenter">Send</button></div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <footer class="ed-footer">
        <div class="ed-copyright">Powered by<img src="../img/logo.png"></div>
      </footer>
    </div>
    <script src="../assets/jquery/jquery-3.3.1.min.js"></script>
    <script src="../js/main.js"></script>
    <script type="text/javascript"></script>
  </body>
</html>