<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Faculty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/bootstrap-select/css/bootstrap-select.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700,800">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="gm-page-faculty-dtls"></body>
  <header class="gm-header-wrapper container-fluid">
    <div class="gm-search-wrapper">
      <div class="gm-input-wrapper">
        <div class="gm-icon-wrapper"><i class="gm-search-icon fa fa-search"></i></div><input class="form-control gm-web-search" type="text">
        <div class="gm-close-btn-wrapper gm-toggle-search"><a class="gm-close-icon" href="javacript:;"></a></div>
      </div>
    </div>
    <div class="row">
      <div class="gm-logo-wrapper col-xl-3 col-lg-4 col-8"><a href="home.html"><img src="../img/logo.png" alt="Gemteleversity"></a></div>
      <div class="gm-res-btn-wrapper d-lg-none d-flex align-items-center"><button class="gm-header-search-btn btn btn-link my-2 my-sm-0 gm-toggle-search"><i class="gm-search-icon fa fa-search"></i></button><button class="gm-nav-btn navbar-toggler navbar-dark"
          type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span></span><span></span><span></span></button></div>
      <div class="gm-nav-wrapper col-xl-9 col-lg-8 float-right">
        <nav class="navbar navbar-expand-lg sticky-top float-right mt-3 mt-lg-0">
          <div class="collapse navbar-collapse justify-content-md-end w-100 flex-wrap" id="collapsibleNavbar">
            <ul class="navbar-nav mr-lg-3">
              <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="academy.html">Unedited Videos</a></li>
              <li class="nav-item"><a class="nav-link" href="collections.html">ELearning</a></li>
              <li class="nav-item"><a class="nav-link active" href="faculty.html">Faculty</a></li>
              <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
              <li class="nav-item"><a class="nav-link gm-toggle-login" href="javascript:;">Login</a></li>
            </ul><button class="gm-header-search-btn btn btn-link my-2 my-sm-0 d-none d-lg-inline-block gm-toggle-search"><i class="gm-search-icon fa fa-search"></i></button>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <main class="gm-content-wrapper">
    <div class="gm-page-title-bar-wrapper container-fluid d-flex">
      <div class="row flex-grow-1">
        <div class="col-md-4 offset-md-1"><a class="gm-back" href="#"> <i class="fa fa-arrow-left"></i> Go Back</a>
          <h1 class="gm-page-title">Faculty</h1>
          <ul class="gm-title-breadcrumb list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Faculty</a></li>
            <li class="list-inline-item"><span>Profile</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="gm-main-content-area"></div>
    <div class="container">
      <div class="row">
        <div class="gm-profile-dtls-wrapper">
          <figure class="gm-img-wrapper gm-bg-img gm-circle" style="background-image:url('../img/placeholders/doc-3.png')"> <img class="card-img-top" src="../img/placeholders/doc-3.png" alt="Card image cap"></figure>
          <div class="gm-profile-dtls flex-grow-1">
            <h3 class="gm-title">Dr. C.Palanivelu</h3>
            <h4 class="gm-sub-title">MS, MCh, DNB, FACS, FRCS(Hon) Ed.</h4>
            <h5 class="gm-designation">Chairman GEM Hospital and Research Centre</h5>
            <p>Dr Palanivelu was first to introduce Iaparoscopic surgery in south India. He was instrumental in popularizing this new branch of medicine in India. He applied Iaparoscopic technique to all types of surgery including cancer surgery </p>
            <h5 class="gm-section-title">Awards: </h5>
            <p>Dr BC Roy National Awardee under the category of development of specialty medicine namely laparoscopic surgery in 2006.</p>
            <p>First Indian to win Silver Medal in the international Olympic minimal access surgery competition in 2009 in Phoenix USA. </p><a class="gm-read-more" href="javascript:;">... show more</a>
          </div>
          <div class="gm-button-block mt-3 mt-md-0"><button class="btn gm-btn-default"><i class="fa fa-plus-circle"> </i> Follow</button></div>
        </div>
      </div>
      <h3 class="block-title-style-2">6 Videos</h3>
      <div class="row mb-3">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="gm-doc-card card">
            <div class="gm-img-wrapper"><span class="gm-badge-black">56:21</span><img class="card-img-top" src="../img/placeholders/doc-2.png" alt="Card image cap"></div>
            <div class="card-block">
              <h4 class="gm-title card-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
              <div class="gm-reviews"><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-empty fa fa-star"></i></div>
              <div class="gm-meta-dtls">
                <div class="gm-init">P</div>
                <div class="gm-dtls">
                  <h5 class="gm-user">Dr. Parthasarathi R,MS</h5>
                  <div class="gm-dates"><span>28th Apr </span><span>568 Views</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="gm-doc-card card">
            <div class="gm-img-wrapper"><span class="gm-badge-black">56:21</span><img class="card-img-top" src="../img/placeholders/doc-2.png" alt="Card image cap"></div>
            <div class="card-block">
              <h4 class="gm-title card-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
              <div class="gm-reviews"><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-empty fa fa-star"></i></div>
              <div class="gm-meta-dtls">
                <div class="gm-init">P</div>
                <div class="gm-dtls">
                  <h5 class="gm-user">Dr. Parthasarathi R,MS</h5>
                  <div class="gm-dates"><span>28th Apr </span><span>568 Views</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="gm-doc-card card">
            <div class="gm-img-wrapper"><span class="gm-badge-black">56:21</span><img class="card-img-top" src="../img/placeholders/doc-2.png" alt="Card image cap"></div>
            <div class="card-block">
              <h4 class="gm-title card-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
              <div class="gm-reviews"><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-empty fa fa-star"></i></div>
              <div class="gm-meta-dtls">
                <div class="gm-init">P</div>
                <div class="gm-dtls">
                  <h5 class="gm-user">Dr. Parthasarathi R,MS</h5>
                  <div class="gm-dates"><span>28th Apr </span><span>568 Views</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="gm-doc-card card">
            <div class="gm-img-wrapper"><span class="gm-badge-black">56:21</span><img class="card-img-top" src="../img/placeholders/doc-2.png" alt="Card image cap"></div>
            <div class="card-block">
              <h4 class="gm-title card-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
              <div class="gm-reviews"><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-empty fa fa-star"></i></div>
              <div class="gm-meta-dtls">
                <div class="gm-init">P</div>
                <div class="gm-dtls">
                  <h5 class="gm-user">Dr. Parthasarathi R,MS</h5>
                  <div class="gm-dates"><span>28th Apr </span><span>568 Views</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="gm-doc-card card">
            <div class="gm-img-wrapper"><span class="gm-badge-black">56:21</span><img class="card-img-top" src="../img/placeholders/doc-2.png" alt="Card image cap"></div>
            <div class="card-block">
              <h4 class="gm-title card-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
              <div class="gm-reviews"><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-empty fa fa-star"></i></div>
              <div class="gm-meta-dtls">
                <div class="gm-init">P</div>
                <div class="gm-dtls">
                  <h5 class="gm-user">Dr. Parthasarathi R,MS</h5>
                  <div class="gm-dates"><span>28th Apr </span><span>568 Views</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="gm-doc-card card">
            <div class="gm-img-wrapper"><span class="gm-badge-black">56:21</span><img class="card-img-top" src="../img/placeholders/doc-2.png" alt="Card image cap"></div>
            <div class="card-block">
              <h4 class="gm-title card-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
              <div class="gm-reviews"><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-empty fa fa-star"></i></div>
              <div class="gm-meta-dtls">
                <div class="gm-init">P</div>
                <div class="gm-dtls">
                  <h5 class="gm-user">Dr. Parthasarathi R,MS</h5>
                  <div class="gm-dates"><span>28th Apr </span><span>568 Views</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="block-title-style-2">3 Collections</h3>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="gm-doc-card card">
            <div class="gm-img-wrapper"><span class="gm-badge-black">56:21</span><img class="card-img-top" src="../img/placeholders/doc-2.png" alt="Card image cap"></div>
            <div class="card-block">
              <h4 class="gm-title card-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
              <div class="gm-reviews"><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-empty fa fa-star"></i></div>
              <div class="gm-meta-dtls">
                <div class="gm-init">P</div>
                <div class="gm-dtls">
                  <h5 class="gm-user">Dr. Parthasarathi R,MS</h5>
                  <div class="gm-dates"><span>28th Apr </span><span>568 Views</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="gm-doc-card card">
            <div class="gm-img-wrapper"><span class="gm-badge-black">56:21</span><img class="card-img-top" src="../img/placeholders/doc-2.png" alt="Card image cap"></div>
            <div class="card-block">
              <h4 class="gm-title card-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
              <div class="gm-reviews"><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-empty fa fa-star"></i></div>
              <div class="gm-meta-dtls">
                <div class="gm-init">P</div>
                <div class="gm-dtls">
                  <h5 class="gm-user">Dr. Parthasarathi R,MS</h5>
                  <div class="gm-dates"><span>28th Apr </span><span>568 Views</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="gm-doc-card card">
            <div class="gm-img-wrapper"><span class="gm-badge-black">56:21</span><img class="card-img-top" src="../img/placeholders/doc-2.png" alt="Card image cap"></div>
            <div class="card-block">
              <h4 class="gm-title card-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
              <div class="gm-reviews"><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-full fa fa-star"></i><i class="gm-star-empty fa fa-star"></i></div>
              <div class="gm-meta-dtls">
                <div class="gm-init">P</div>
                <div class="gm-dtls">
                  <h5 class="gm-user">Dr. Parthasarathi R,MS</h5>
                  <div class="gm-dates"><span>28th Apr </span><span>568 Views</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="gm-footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-9">
          <ul class="gm-footer-link list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Unedited Videos</a></li>
            <li class="list-inline-item"><a href="#">ELearning</a></li>
            <li class="list-inline-item"><a href="#">Faculty</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Login</a></li>
          </ul>
          <ul class="gm-socl-links list-inline">
            <li class="list-inline-item"><a href="#"> <i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"> <i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"> <i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>&#169; 2018 All rights reserved</p>
          <ul class="gm-footer-link list-inline">
            <li class="list-inline-item"><a href="#">Privacy policy</a></li>
            <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-3 text-sm-right">
          <div class="gm-footer-img-wrapper d-inline-block text-left">
            <div>Powered by:</div><a href="#"> <img src="../img/medikiti-logo-white.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="gm-login-wrapper">
    <div class="gm-overlay-bg"></div>
    <div class="gm-content-wrapper">
      <div class="gm-header">
        <h3 class="block-title-style-2">LOGIN<a class="gm-toggle-login" href="javascript:;"></a></h3>
      </div>
      <div class="gm-form-wrapper">
        <form action="#">
          <div class="form-group"><label for="exampleInputEmail1">Email address</label><input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="ex. John@email.com"></div>
          <div class="form-group"><label for="exampleInputPassword1">Password</label><input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password"></div><button class="btn gm-btn-green gm-btn-submit" type="submit">LOGIN<i
              class="fa fa-angle-right"></i></button>
          <div class="gm-footer row">
            <div class="col-sm-6"><label>Fogot password?</label><a href="#">Recover</a></div>
            <div class="col-sm-6 text-right"><label for="">New to Gemtelversity?</label><a href="#">Create account</a></div>
          </div>
        </form>
      </div>
      <div class="gm-other-login-wrapper">
        <div class="gm-sub-title text-center">- OR USE -</div><button class="btn gm-btn-default btn-lg btn-block">Login using Amasi membership</button>
        <div class="row">
          <div class="col-sm-6"> <button class="btn gm-btn-default btn-lg btn-block"> <i class="fa fa-google"></i>Login using Google</button></div>
          <div class="col-sm-6"> <button class="btn gm-btn-default btn-lg btn-block"> <i class="fa fa-linkedin"></i>Login using Linkedin</button></div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <script src="../assets/jquery/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../assets/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="../assets/typeahead/bootstrap3-typeahead.min.js"></script>
  <script src="../js/main.js"></script>
</html>