<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="br-home">
    <header class="fr-page-header">
      <div class="container">
        <div class="fr-nav-wrapper">
          <div class="fr-logo-wrapper"><a class="fr-logo" href="#"><img src="../img/logo.png"></a></div>
          <nav class="navbar navbar-expand-lg fr-nav"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#">About us </a></li>
                <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="fr-welcome-note-wrapper col-sm-6">
          <h1 class="fr-welcome-title"> <small>immersive</small>VISUAL INTERACTION</h1>
          <div class="fr-note">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div><a class="btn btn-outline fr-btn" href="#">READ MORE</a>
        </div>
      </div>
    </header>
    <section class="fr-why fr-block">
      <div class="container">
        <h2 class="fr-block-title"> <small>Why </small>FutureRoom</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="fr-box"><img class="fr-img-1" src="../img/ico-book.png">
              <h3 class="fr-block-title">Transform e-Learning <br>Experience</h3>
              <div class="fr-desc">The FutureRoom brings the future of learning forward and revolutionize the teaching scenario of your institution to an advanced level.</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="fr-box"><img class="fr-img-1" src="../img/ico-training.png">
              <h3 class="fr-block-title">High Level of<br>Interaction</h3>
              <div class="fr-desc">FutureRoom provides high level of interaction without geographical concerns and helps in expanding student knowledge base from anywhere anytime.</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="fr-box"><img class="fr-img-1" src="../img/ico-erp.png">
              <h3 class="fr-block-title">World-Class <br>Experience</h3>
              <div class="fr-desc">FutureRoom provides more than just education. Upgrade your institution with FutureRoom and increase student engagements &amp; enrollments.</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fr-what fr-block">
      <div class="row no-gutters">
        <div class="col-sm-6 fr-left-block"><img src="../img/preview-thumb.png"></div>
        <div class="col-sm-6 fr-right-block">
          <h3 class="fr-block-title">What is FutureRoom</h3>
          <h2 class="fr-content-title">Transform the digital learning<br>experience with FutureRoom</h2>
          <div class="fr-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</div>
        </div>
      </div>
    </section>
    <section class="fr-offr fr-block">
      <div class="container">
        <h2 class="fr-block-title"> <small>What We </small>Offer</h2>
        <div class="row">
          <div class="col-sm-4 fr-box-wrapper">
            <div class="fr-box">
              <div class="fr-bg" style="background-image:url('../img/ico-hd.png')"></div><img src="../img/ico-hd.png">
              <h3 class="fr-block-title">High Defenition AV <br>Conference</h3>
              <div class="fr-desc">The FutureRoom brings the future of learning forward and revolutionize the teaching scenario of your institution to an advanced level.</div>
            </div>
          </div>
          <div class="col-sm-4 fr-box-wrapper">
            <div class="fr-box">
              <div class="fr-bg" style="background-image:url('../img/ico-ai.png')"></div><img src="../img/ico-ai.png">
              <h3 class="fr-block-title">AI<br>Based Analytics</h3>
              <div class="fr-desc">The FutureRoom brings the future of learning forward and revolutionize the teaching scenario of your institution to an advanced level.</div>
            </div>
          </div>
          <div class="col-sm-4 fr-box-wrapper">
            <div class="fr-box">
              <div class="fr-bg" style="background-image:url('../img/ico-ad.png')"></div><img src="../img/ico-ad.png">
              <h3 class="fr-block-title">Multimedia<br>Content Sharing</h3>
              <div class="fr-desc">The FutureRoom brings the future of learning forward and revolutionize the teaching scenario of your institution to an advanced level.</div>
            </div>
          </div>
          <div class="col-sm-4 fr-box-wrapper">
            <div class="fr-box">
              <div class="fr-bg" style="background-image:url('../img/ico-trans.png')"></div><img src="../img/ico-trans.png">
              <h3 class="fr-block-title">Language<br>Translation</h3>
              <div class="fr-desc">The FutureRoom brings the future of learning forward and revolutionize the teaching scenario of your institution to an advanced level.</div>
            </div>
          </div>
          <div class="col-sm-4 fr-box-wrapper">
            <div class="fr-box">
              <div class="fr-bg" style="background-image:url('../img/ico-pres.png')"></div><img src="../img/ico-pres.png">
              <h3 class="fr-block-title">BreakOut <br>Rooms</h3>
              <div class="fr-desc">The FutureRoom brings the future of learning forward and revolutionize the teaching scenario of your institution to an advanced level.</div>
            </div>
          </div>
          <div class="col-sm-4 fr-box-wrapper">
            <div class="fr-box">
              <div class="fr-bg" style="background-image:url('../img/ico-polling.png')"></div><img src="../img/ico-polling.png">
              <h3 class="fr-block-title">Polls and <br>Surveys</h3>
              <div class="fr-desc">The FutureRoom brings the future of learning forward and revolutionize the teaching scenario of your institution to an advanced level.</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="fr-page-footer">
      <div class="container">
        <div class="fr-subscribe-wrapper text-left">
          <div class="row">
            <div class="col-sm-6">
              <h2 class="fr-block-title"> <span>Subscribe and Stay Tuned</span><img src="../img/ico-msg.png"></h2>
              <p class="fr-dtls">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
            </div>
            <div class="col-sm-6">
              <form class="form-inline" action="#"><input class="form-control" type="email" placeholder="Email address"><button class="btn" type="submit"><img src="../img/ico-send.png"></button></form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="fr-logo-wrapper"><a href="#"><img src="../img/logo-white.png"></a></div>
            <p class="text-justify">FutureRoom an online course selling platform, is a product of Enfin Technologies Pvt Ltd. The company was founded in 2009 and has a remarkable track record in producing software in Edu-tech and Real Time Communication. Enfin combined both its competencies and made a product which is not only technologically far ahead of its competitors but also versatile and extremely helpful in creating value to traditional and new entrepreneurs </p>
          </div>
          <div class="fr-address-wrapper col-sm-4">
            <h3 class="fr-block-title">Contact Us</h3>
            <div class="fr-row"><i class="fr-icon fr-map"></i><span class="fr-dtls">Enfin Technologies Pvt. Ltd.<br>C-24, -2 Floor,<br>Thejaswani Building,<br>Technopark Campus, Trivandrum, 695581,<br>Kerala, India.</span></div>
            <div class="fr-row"><i class="fr-icon fr-mail"></i><span class="fr-dtls">sales@ofabee.com</span></div>
            <div class="fr-row"><i class="fr-icon fr-phone"></i><span class="fr-dtls"> +91 80-8609-5030</span></div>
          </div>
          <div class="fr-contact-wrapper col-sm-4">
            <h3 class="fr-block-title">Write to us</h3>
            <form action="/action_page.php">
              <div class="form-group"><input class="form-control" type="email" placeholder="Email address"></div>
              <div class="form-group"><input class="form-control" type="text" placeholder="Name"></div>
              <div class="form-group"><textarea class="form-control" placeholder="Message"></textarea></div><button class="btn btn-light" type="submit">SEND</button>
            </form>
          </div>
        </div>
      </div>
      <div class="fr-copyright-wrapper">
        <div class="container d-flex justify-content-between"><a href="#">Privacy Policy</a><span>© 2019 FutureRoom. A VENTURE OF Enfin Technologies Pvt. Ltd. All Rights Reserved.</span><a href="#">Tearms &amp; Condition</a></div>
      </div>
    </footer>
    <script src="../assets/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>