<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/bootstrap-select/css/bootstrap-select.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300|Montserrat:100,300" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="br-home" style="background-image:url(../img/landing-03.jpg)">
    <header class="br-page-header">
      <div class="br-logo-wrapper text-center text-sm-left"><a href="home.html"><img src="../img/logo.png" alt="Gemteleversity"></a></div>
    </header>
    <main class="br-home-content-wrapper">
      <h1 class="br-welcome-title">Better meetings <br>are just the beginning</h1>
      <form class="br-start-conference text-center" action="device-checking.html"><input class="br-input d-inline-block" type="text" placeholder="Your Name"><button class="btn br-btn-outline" type="submit">START CONFERENCE</button></form>
    </main>
    <footer class="br-pagefooter">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="br-date-time-wrapper">
            <div class="br-time-wrapper"><span class="br-time"> 10:35 </span><span class="br-format">am</span></div>
            <div class="br-date-wrapper">MON, 5 OCTOBER</div>
          </div>
        </div>
        <div class="br-browser-support col-sm-6 text-right"><span>AVAILABLE ON </span><i class="br-icon fa fa-chrome"></i><i class="br-icon fa fa-firefox"></i></div>
      </div>
    </footer>
  </body>
</html>