<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/bootstrap-select/css/bootstrap-select.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="el-reset-pw">
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="el-left-block col-md-6 d-flex align-items-center flex-column justify-content-center">
          <header class="el-logo-wrapper"><a href="#"><img src="../img/logo.png"></a></header>
          <section class="el-reset-pw-wrapper">
            <h2 class="el-title">Reset Password</h2>
            <div class="el-help-block">Reset Link will sent to your mail</div>
            <form action="#">
              <div class="form-group">
                <div class="el-input-style-1"><label class="control-label" for="email-address">Email address</label><input class="form-control" type="text" name="email-address"></div>
              </div>
              <div class="form-group"><button class="btn btn-primary el-btn-primary" type="submit">Send</button><button class="btn btn-link " type="submit">Cancel</button></div>
            </form>
          </section>
        </div>
        <div class="el-right-block col-md-6"></div>
      </div>
    </div>
    <script src="../assets/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>