<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Videos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700,800">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body class="gm-page-videos"></body>
  <header class="gm-header-wrapper container-fluid">
    <div class="row">
      <div class="gm-logo-wrapper col-xl-3 col-lg-4 col-8"><a href="#"><img src="../img/logo.png" alt="Gemteleversity"></a></div>
      <div class="gm-res-btn-wrapper d-lg-none d-flex"><button class="gm-header-search-btn btn btn-link my-2 my-sm-0"><i class="gm-search-icon fa fa-search"></i></button><button class="gm-nav-btn navbar-toggler navbar-dark" type="button" data-toggle="collapse"
          data-target="#collapsibleNavbar"><span></span><span></span><span></span></button></div>
      <div class="gm-nav-wrapper col-xl-9 col-lg-8 float-right">
        <nav class="navbar navbar-expand-lg sticky-top float-right mt-3 mt-lg-0">
          <div class="collapse navbar-collapse justify-content-md-end w-100" id="collapsibleNavbar">
            <ul class="navbar-nav mr-lg-3">
              <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="academy.html">Unedited Videos</a></li>
              <li class="nav-item"><a class="nav-link" href="collections.html">ELearning</a></li>
              <li class="nav-item"><a class="nav-link" href="faculity.html">Faculty</a></li>
              <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
              <li class="nav-item"><a class="nav-link" href="javascript:;">Login</a></li>
            </ul><button class="gm-header-search-btn btn btn-link my-2 my-sm-0 d-md-none d-lg-inline-block"><i class="gm-search-icon fa fa-search"></i></button>
            <form class="form-inline my-2 my-lg-0 d-none"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"><button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button></form>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <main class="gm-content-wrapper">
    <div class="gm-video-slider-wrapper">
      <div class="container">
        <div class="gm-video-carousel carousel slide" id="demo" data-ride="carousel">
          <!-- The slideshow-->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="gm-video-player" id="player1"></div>
            </div>
            <div class="carousel-item">
              <div class="gm-video-player" id="player2"></div>
            </div>
            <div class="carousel-item">
              <div class="gm-video-player" id="player3"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="gm-video-carousel-controls"><a class="gm-carousel-prev left gm-carousel-control" href="#demo" data-slide="prev"><i class="gm-icon fa fa-angle-left"></i></a><a class="gm-carousel-next right gm-carousel-control" href="#demo"
          data-slide="next"><i class="gm-icon fa fa-angle-right"></i></a></div>
    </div>
    <div class="gm-main-content-area"></div>
    <div class="gm-home-content-wrapper">
      <div class="container">
        <div class="row">
          <div class="gm-video-discussion-wrapper col-lg-9 col-md-8">
            <div class="gm-header"><a href="#"> <i class="fa fa-arrow-left"></i>Go back</a>
              <h1 class="gm-video-title"> Live from GEM OT (20 March '18): Laparoscopic Gastrectomy</h1>
              <div class="gm-review-wrapper"><span class="gm-left"><i class="fa fa-star gm-star-full"></i><span class="gm-ratings">3/5</span></span><span class="gm-right"><a class="gm-set-rating" href="javascript:;"><i class="fa fa-star gm-star-empty"></i><span>RATE
                      THIS </span></a></span></div>
            </div>
          </div>
          <aside class="col-lg-3 col-md-4">
            <h3 class="block-title-style-1">Watch next</h3>
            <div class="gm-watch-list-block-wrapper">
              <div class="gm-watch-list-block">
                <figure><img class="img-fluid" src="../img/placeholders/watch-list-1.png">
                  <h4 class="gm-block-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
                  <div class="gm-name">Dr. Parthasarathi R,MS</div>
                  <div class="gm-date">28th April 2018</div>
                </figure>
              </div>
              <div class="gm-watch-list-block">
                <figure><img class="img-fluid" src="../img/placeholders/watch-list-1.png">
                  <h4 class="gm-block-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
                  <div class="gm-name">Dr. Parthasarathi R,MS</div>
                  <div class="gm-date">28th April 2018</div>
                </figure>
              </div>
              <div class="gm-watch-list-block">
                <figure><img class="img-fluid" src="../img/placeholders/watch-list-1.png">
                  <h4 class="gm-block-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
                  <div class="gm-name">Dr. Parthasarathi R,MS</div>
                  <div class="gm-date">28th April 2018</div>
                </figure>
              </div>
              <div class="gm-watch-list-block">
                <figure><img class="img-fluid" src="../img/placeholders/watch-list-1.png">
                  <h4 class="gm-block-title">Professional fellow program in management of diabetic foot-conditions (fmdf)</h4>
                  <div class="gm-name">Dr. Parthasarathi R,MS</div>
                  <div class="gm-date">28th April 2018</div>
                </figure>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </main>
  <footer class="gm-footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-8 col-md-9">
          <ul class="gm-footer-link list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Unedited Videos</a></li>
            <li class="list-inline-item"><a href="#">ELearning</a></li>
            <li class="list-inline-item"><a href="#">Faculty</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Login</a></li>
          </ul>
          <ul class="gm-socl-links list-inline">
            <li class="list-inline-item"><a href="#"> <i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"> <i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"> <i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p>&#169; 2018 All rights reserved</p>
          <ul class="gm-footer-link list-inline">
            <li class="list-inline-item"><a href="#">Privacy policy</a></li>
            <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>
        <div class="col-xl-5 col-lg-4 col-md-3 text-sm-right">
          <div class="gm-footer-img-wrapper d-inline-block text-left">
            <div>Powered by:</div><a href="#"> <img src="../img/medikiti-logo-white.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="../assets/jquery/jquery-3.3.1.min.js"></script>
  <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://player.vimeo.com/api/player.js"></script>
  <script>
    var options = {
      id: 59777392,
      height: 540,
      loop: true
    };
    var player1 = new Vimeo.Player('player1', options);
    var player2 = new Vimeo.Player('player2', options);
    var player3 = new Vimeo.Player('player3', options);
  </script>
</html>