<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="el-videowall-wrapper">
      <div class="el-col-1 el-col">
        <div class="el-chat-wrapper el-row-2">
          <h2 class="el-box-title">Chat</h2>
          <ul class="el-chat-list">
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I <div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?! How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
            <li class="el-chat sent">
              <profile-pic></profile-pic>
              <figure class="el-avatar"><img _ngcontent-c9="" alt="" src="../img/avatar-dummy.jpg"></figure>
              <div class="el-msg-wrapper">
                <h3 class="el-name">Alan Tucker</h3>
                <div class="el-msg">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<div class="el-time">Just now</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="el-raised-hands-wrapper el-row-1">
          <h2 class="el-box-title">Raised Hands (7)</h2>
          <ul class="el-hands-list">
            <li>
              <figure class="el-avatar"><img src="../img/avatar-dummy.jpg">
                <figcaption>1</figcaption>
              </figure>
              <div class="el-avatar-dtls">
                <h3 class="el-name">Salman</h3>
                <div class="el-time"> 5 min ago</div>
              </div>
            </li>
            <li>
              <figure class="el-avatar"><img src="../img/avatar-dummy.jpg">
                <figcaption>1</figcaption>
              </figure>
              <div class="el-avatar-dtls">
                <h3 class="el-name">Salman</h3>
                <div class="el-time"> 5 min ago</div>
              </div>
            </li>
            <li>
              <figure class="el-avatar"><img src="../img/avatar-dummy.jpg">
                <figcaption>1</figcaption>
              </figure>
              <div class="el-avatar-dtls">
                <h3 class="el-name">Salman</h3>
                <div class="el-time"> 5 min ago</div>
              </div>
            </li>
            <li>
              <figure class="el-avatar"><img src="../img/avatar-dummy.jpg">
                <figcaption>1</figcaption>
              </figure>
              <div class="el-avatar-dtls">
                <h3 class="el-name">Salman</h3>
                <div class="el-time"> 5 min ago</div>
              </div>
            </li>
            <li>
              <figure class="el-avatar"><img src="../img/avatar-dummy.jpg">
                <figcaption>1</figcaption>
              </figure>
              <div class="el-avatar-dtls">
                <h3 class="el-name">Salman</h3>
                <div class="el-time"> 5 min ago</div>
              </div>
            </li>
            <li>
              <figure class="el-avatar"><img src="../img/avatar-dummy.jpg">
                <figcaption>1</figcaption>
              </figure>
              <div class="el-avatar-dtls">
                <h3 class="el-name">Salman</h3>
                <div class="el-time"> 5 min ago</div>
              </div>
            </li>
            <li>
              <figure class="el-avatar"><img src="../img/avatar-dummy.jpg">
                <figcaption>1</figcaption>
              </figure>
              <div class="el-avatar-dtls">
                <h3 class="el-name">Salman</h3>
                <div class="el-time"> 5 min ago</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="el-col-2 el-col">
        <div class="el-row-1">
          <!--.el-user-video-wrapper.el-people-1.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <!--.el-user-video-wrapper.el-people-2.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")
.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <div class="el-user-video-wrapper el-people-6">
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
          </div>
        </div>
        <div class="el-row-1">
          <!--.el-user-video-wrapper.el-people-1.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <!--.el-user-video-wrapper.el-people-2.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")
.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <div class="el-user-video-wrapper el-people-6">
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
          </div>
        </div>
        <div class="el-row-1">
          <!--.el-user-video-wrapper.el-people-1.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <!--.el-user-video-wrapper.el-people-2.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")
.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <div class="el-user-video-wrapper el-people-6">
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="el-col-3 el-col">
        <div class="el-row-1">
          <!--.el-user-video-wrapper.el-people-1.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <!--.el-user-video-wrapper.el-people-2.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")
.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <div class="el-user-video-wrapper el-people-6">
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
          </div>
        </div>
        <div class="el-row-1">
          <!--.el-user-video-wrapper.el-people-1.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <!--.el-user-video-wrapper.el-people-2.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")
.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <div class="el-user-video-wrapper el-people-6">
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
          </div>
        </div>
        <div class="el-row-1">
          <div class="el-presenter-wrapper">Presenter</div>
        </div>
      </div>
      <div class="el-col-4 el-col">
        <div class="el-row-1">
          <!--.el-user-video-wrapper.el-people-1.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <!--.el-user-video-wrapper.el-people-2.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")
.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <div class="el-user-video-wrapper el-people-6">
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
          </div>
        </div>
        <div class="el-row-1">
          <!--.el-user-video-wrapper.el-people-1.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <!--.el-user-video-wrapper.el-people-2.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")
.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <div class="el-user-video-wrapper el-people-6">
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
          </div>
        </div>
        <div class="el-row-1">
          <div class="el-presenter-screen-wrapper">Screeen</div>
        </div>
      </div>
      <div class="el-col-5 el-col">
        <div class="el-row-1">
          <!--.el-user-video-wrapper.el-people-1.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <!--.el-user-video-wrapper.el-people-2.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")
.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <div class="el-user-video-wrapper el-people-6">
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
          </div>
        </div>
        <div class="el-row-1">
          <!--.el-user-video-wrapper.el-people-1.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <!--.el-user-video-wrapper.el-people-2.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")
.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <div class="el-user-video-wrapper el-people-6">
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
          </div>
        </div>
        <div class="el-row-1">
          <!--.el-user-video-wrapper.el-people-1.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <!--.el-user-video-wrapper.el-people-2.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")
.el-people
    .el-video-wrapper
        img(src="../img/avatar-dummy.jpg")-->
          <div class="el-user-video-wrapper el-people-6">
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
            <div class="el-people">
              <div class="el-video-wrapper"><img src="../img/avatar-dummy.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="el-col-6 el-col">
        <div class="el-row-1">
          <div class="el-room-dtls-wrapper">
            <h2 class="el-box-title">Room 09- SP JA</h2>
            <div class="el-attende-count">
              <div class="el-title">60</div>
              <div class="el-help-block">ATTENDEES</div>
            </div>
            <div class="el-session-dtls1">
              <div class="el-label">Session Name</div>
              <div class="el-title">Advance Java Programing Lauguage</div>
            </div>
            <div class="el-session-dtls2">
              <div class="el-label">Session Duration</div>
              <div class="el-timer">01.25.32</div>
            </div>
          </div>
        </div>
        <div class="el-row-1">
          <div class="el-polls-graphics-wrapper">Pir chart</div>
        </div>
        <div class="el-row-1">
          <div class="el-polls-answerd-wrapper">Graph cjart</div>
        </div>
      </div>
    </div>
  </body>
</html>