extends partials/layout.pug
block vars
    -var pageTitle = "E-Learning"
    -var curnt_menu = 'elearning'
    -var body_class = "gm-page-colect-dtls"
block breadcrumb
    
    li.list-inline-item
        span Collection
block pageContent
    .container
        .gm-colect-dtls-header.row.align-items-center.mb-5
            .gm-img-wrapper.gm-bg-img(style="background-image:url(../img/placeholders/doc-2.png)")
                img(src="../img/placeholders/doc-2.png" alt="")
            .gm-title-wrapper.pr-3.pl-3
                h4.gm-colect-title Live from GEM OT (20 March '18): Laparoscopic Gastrectomy
                .gm-review-wrapper
                    span.gm-left
                        i.fa.fa-star.gm-star-full
                        span.gm-ratings 3/5
                    span.gm-right
                        a.gm-set-rating(href="javascript:;")
                            i.fa.fa-star.gm-star-empty
                            span RATE THIS 
            .gm-options
                button.gm-btn-default.btn.btn-default 
                    i.fa.fa-share-alt.mr-1
                    | Share
        .gm-vdo-colect-list
            
            h3.block-title-style-1 10 Videos
            .row
                mixin doctorCard
                    .col-lg-3.col-md-4.col-sm-6
                        .gm-doc-card.card
                            .gm-img-wrapper
                                span.gm-badge-black 56:21
                                img.card-img-top(src='../img/placeholders/doc-1.png', alt='Card image cap')
                            .card-block
                                h4.gm-title.card-title Professional fellow program in management of diabetic foot-conditions (fmdf)
                                .gm-reviews
                                    i.gm-star-full.fa.fa-star
                                    i.gm-star-full.fa.fa-star
                                    i.gm-star-full.fa.fa-star
                                    i.gm-star-full.fa.fa-star
                                    i.gm-star-empty.fa.fa-star
                                .gm-meta-dtls
                                    .gm-init P
                                    .gm-dtls
                                        h5.gm-user Dr. Parthasarathi R,MS
                                        .gm-dates
                                            span 28th Apr 
                                            span 568 Views
                +doctorCard
                +doctorCard
                +doctorCard
                +doctorCard
                +doctorCard
                +doctorCard
                +doctorCard
                +doctorCard
                +doctorCard
                +doctorCard

            