extends partials/layout.pug
block vars
    -var pageTitle = "Elearning"
    -var curnt_menu = 'collections'
    -var body_class = ""
block pageContent
    .container
        .row
            aside.gm-sidebar-left.gm-filter-wrapper.col-lg-3.col-md-4
                header.gm-filter-header
                    span.gm-filter-status Filters: 
                        span.gm-on ON
                        span.gm-off.d-none OFF
                    a.gm-clear-all(href="javascript:;") Clear all
                section.gm-filter-block
                    h3.block-title-style-1 Topics
                        a.gm-tools(href="javascript:;") Reset
                    ul.gm-filter-list
                        li.active
                            span.gm-title Bariatric Surgery
                            span.gm-count 8
                        mixin list1(name,count)
                            li
                                span.gm-title=name
                                span.gm-count= count
                        +list1('Colorectal Surgery', 12)
                        +list1('Hepato-Pancreat',3)
                        +list1('Hernia Surgery',3)
                        +list1('Laparoscopic Cholecystect.',4)
                        +list1('Proctocology',15)
                        +list1('Upper GI Surgery',5)

                section.gm-filter-block
                    h3.block-title-style-1 Filters
                        a.gm-tools(href="javascript:;") Reset
                    ul.gm-filter-list
                        li
                            label.gm-filter-checkbox.form-check-label(for='inlineCheckbox1')
                                input#inlineCheckbox1(type='checkbox', value='option1')
                                span.gm-checkbox
                                | Bariatric Surgery
                        li
                            label.gm-filter-checkbox.form-check-label(for='inlineCheckbox2')
                                input#inlineCheckbox2(type='checkbox', value='option1')
                                span.gm-checkbox 
                                | Colorectal Surgery
                        li
                            label.gm-filter-checkbox.form-check-label(for='inlineCheckbox3')
                                input#inlineCheckbox3(type='checkbox', value='option1')
                                span.gm-checkbox 
                                | Hepato-Pancreat
                        li
                            label.gm-filter-checkbox.form-check-label(for='inlineCheckbox8') 
                                input#inlineCheckbox8(type='checkbox', value='option1')
                                span.gm-checkbox
                                | Hernia SurgerySurgery
                        li
                            label.gm-filter-checkbox.form-check-label(for='inlineCheckbox4') 
                                input#inlineCheckbox4(type='checkbox', value='option1')
                                span.gm-checkbox
                                | Laparoscopic Cholecystectom..
                        li
                            label.gm-filter-checkbox.form-check-label(for='inlineCheckbox5') 
                                input#inlineCheckbox5(type='checkbox', value='option1' disabled)
                                span.gm-checkbox
                                | Proctocology
                        li
                            label.gm-filter-checkbox.form-check-label(for='inlineCheckbox6')
                                input#inlineCheckbox6(type='checkbox', value='option1' disabled)
                                span.gm-checkbox 
                                | Upper GI Surgery
                section.gm-filter-block
                    h3.block-title-style-1 Tags
                    ul.gm-filter-list
                        mixin list2(name)
                            li
                                a(href="#").gm-tagtitle=name
                        +list2('OT Archives')
                        +list2('Surgical Videos')
                        +list2('Uncut Video')
                        +list2('Video Lecture')
                        +list2('Diabetic')
                        +list2('Program')
                        +list2('IPA')

                    
            .col-lg-9.col-md-8
                header.gm-videos-header
                    .pull-right
                        select(name="")
                            option Sort by Date
                            option Sort by Date
                            option Sort by Date
                    .clearfix
                    
                    h3.block-title-style-1 Collections
                    .gm-vdo-collection-wrapper.row
                        
                        .col-lg-4.col-md-5.col-sm-6
                            .gm-doc-card.card
                                .gm-img-wrapper
                                    span.gm-badge-black 56:21
                                    span.gm-history
                                        i.fa.fa-clock-o
                                    img.card-img-top(src='../img/placeholders/doc-1.png', alt='Card image cap')
                                    .gm-video-overlay
                                    i.gm-play-icon.fa.fa-play-circle-o
                                .card-block
                                    h4.gm-title.card-title Professional fellow program in management of diabetic foot-conditions (fmdf)
                                    .gm-reviews.mt-3
                                        i.gm-star-full.fa.fa-star
                                        i.gm-star-full.fa.fa-star
                                        i.gm-star-full.fa.fa-star
                                        i.gm-star-full.fa.fa-star
                                        i.gm-star-empty.fa.fa-star
                                    .gm-meta-dtls
                                        .gm-vdo-count  3 Videos
                        mixin doctorCard
                            .col-lg-4.col-md-5.col-sm-6
                                .gm-doc-card.card
                                    .gm-img-wrapper
                                        span.gm-badge-black 56:21
                                        img.card-img-top(src='../img/placeholders/doc-1.png', alt='Card image cap')
                                        .gm-video-overlay
                                        i.gm-play-icon.fa.fa-play-circle-o
                                    .card-block
                                        h4.gm-title.card-title Professional fellow program in management of diabetic foot-conditions (fmdf)
                                        .gm-reviews
                                            i.gm-star-full.fa.fa-star
                                            i.gm-star-full.fa.fa-star
                                            i.gm-star-full.fa.fa-star
                                            i.gm-star-full.fa.fa-star
                                            i.gm-star-empty.fa.fa-star
                                        .gm-meta-dtls
                                            .gm-vdo-count  3 Videos

                        +doctorCard
                        +doctorCard
                        +doctorCard
                        +doctorCard
                        +doctorCard
                        +doctorCard
                        +doctorCard
                        +doctorCard
                        +doctorCard
                        +doctorCard
                        +doctorCard

                    .text-center
                        button.btn.gm-btn-green LOAD MORE
                            i.fa.fa-angle-down