extends partials/layout.pug
block vars
    -var pageTitle = "Dashboard account"
    -var body_class = ""
    -var curnt_menu = 'dc_ac'
    -var pageInnerTitle = 'Account Settings'
            
block pageContent
    .container
        .row
            .el-profile-wrapper.el-box.col-md-8.offset-md-2.mt-5.mb-5
                section.el-avatar-upload-wrapper
                    figure
                        img(src="../img/avatar.jpg")
                        a(href="javascript:;").el-icon.el-icon-camera &#xe002;
                section.el-profile-dtls.text-center
                    h3.el-name Priya Malhotra
                    p.el-email priyamalhotra09@gmail.com
                    .el-region-wrapper
                        .el-coutry-list.dropdown.d-inline-block.mr-2
                            .el-selected.dropdown-toggle(data-toggle="dropdown" data-target="country-list")
                                span.el-flag ##
                                span.el-code IND
                                span.caret-down
                            ul#country-list.dropdown-menu
                                li aaaa
                                li aaaa
                                li aaaa
                                li aaaa

                        .el-timezone-list.dropdown.d-inline-block
                            .el-selected.dropdown-toggle(data-toggle="dropdown" data-target="country-list")
                                span.el-code (GMT+5.30)
                                span.caret-down
                            ul#country-list.dropdown-menu
                                li aaaa
                                li aaaa
                                li aaaa
                                li aaaa
                hr.el-hr.col-10.offset-1
                section.el-change-pw-wrapper
                        form.form.mb-3
                            .row.mb-4
                                .col-md-8.offset-2
                                    h3.el-title
                                        .el-icon &#xe001;
                                        | Change Password
                            .form-group.row
                                label.col-md-4.col-lg-3.offset-2.control-label Current Password
                                .el-input-style-2.col-md-4
                                    input.form-control(type="password")
                            .form-group.row
                                label.col-md-4.col-lg-3.offset-2.control-label New Password
                                .el-input-style-2.col-md-4
                                    input.form-control(type="password")
                                a(href="javascript:;").el-icon.el-link.el-show-pw &#xe009;
                                a(href="javascript:;").el-icon.el-link.el-hide-pw.d-none &#xe008;
                            .form-group.row
                                label.col-md-4.col-lg-3.offset-2.control-label Confirm Password
                                .el-input-style-2.col-md-4
                                    input.form-control(type="password")
                            .form-group.row
                                .col-md-4.offset-5
                                    button(type="submit" class="btn btn-primary pull-right el-btn-primary") SAVE


                    
