extends partials/layout.pug

block vars
    -var pageTitle = "Device checking"
    -var body_class = "br-innerpage"

block pageContent
    .br-device-checking-wrapper.col-md-10.col-offset-md-1
        .row
            .col-md7.col-sm-6
                h1.br-welcome-title Better meetings 
            .col-md5.col-sm-6