extends partials/layout.pug
block vars
    -var pageTitle = "Faculty"
    -var curnt_menu = 'faculty'
    -var body_class = "gm-page-faculty-dtls"
    -var customTitleBar = true
block TitleBarblock

    h1.gm-page-title #{pageTitle}
    ul.gm-title-breadcrumb.list-inline
    

        li.list-inline-item
            a(href="#") Home

        li.list-inline-item
            span Faculty
            
block pageContent
    .container
        .row.mt-5        
            mixin doctorCard
                .col-sm-6
                    .gm-doc-card-2.card                    
                        .gm-img-wrapper.text-center
                            img.card-img-top.rounded-circle(src='../img/placeholders/doc-3.png', alt='Card image cap')
                        .card-block
                            .gm-title Dr. C.Palanivelu
                            .gm-sub-title MS, MCh, DNB, FACS, FRCS(Hon) Ed.
                            .gm-description Chairman GEM Hospital and Research Centre
                           
                           
                            .gm-meta-dtls
                                .gm-left-block
                                    span 7 Videos
                                    span Courses
                                .gm-right-block
                                    a(href="faculty-dtls.html") View Profile
                                    i.fa.fa-angle-right

                                
                                
            +doctorCard
            +doctorCard
            +doctorCard
            +doctorCard
            +doctorCard
            +doctorCard
            