doctype html
html(lang='en')
    block vars
        -var pageTitle = "Home"
        -var curnt_menu ="home"
    head
        title #{pageTitle}
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='../assets/bootstrap/css/bootstrap.min.css')
        link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700,800" )
        link(rel='stylesheet', href="../css/main.css")
    body
    header.gm-header-wrapper.container-fluid
        .row
            .gm-logo-wrapper.col-xl-3.col-lg-4.col-8
                a(href="#")
                    img(src="../img/logo.png" alt="Gemteleversity")   

            .gm-res-btn-wrapper.d-lg-none.d-flex
                button.gm-header-search-btn.btn.btn-link.my-2.my-sm-0
                    i.gm-search-icon.fa.fa-search
                button.gm-nav-btn.navbar-toggler.navbar-dark(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
                    span
                    span
                    span
            .gm-nav-wrapper.col-xl-9.col-lg-8.float-right       
                nav.navbar.navbar-expand-lg.sticky-top.float-right.mt-3.mt-lg-0
                    #collapsibleNavbar.collapse.navbar-collapse.justify-content-md-end.w-100
                        ul.navbar-nav.mr-lg-3
                            li.nav-item
                                a.nav-link(href='home.html', class=(curnt_menu=='home')? 'active':'') Home
                            li.nav-item
                                a.nav-link(href='academy.html', class=(curnt_menu=='academy')? 'active':'') Unedited Videos
                            li.nav-item
                                a.nav-link(href='collections.html', class=(curnt_menu=='collections')? 'active':'') ELearning
                            li.nav-item
                                a.nav-link(href='faculity.html', class=(curnt_menu=='faculty')? 'active':'') Faculty
                            li.nav-item
                                a.nav-link(href='about.html', class=(curnt_menu=='about')? 'active':'') About
                            li.nav-item
                                a.nav-link(href='javascript:;', class=(curnt_menu=='login')? 'active':'') Login
                        button.gm-header-search-btn.btn.btn-link.my-2.my-sm-0.d-md-none.d-lg-inline-block
                            i.gm-search-icon.fa.fa-search
                        form.form-inline.my-2.my-lg-0.d-none
                            input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                            button.btn.btn-outline-success.my-2.my-sm-0(type='submit')
                                i.fa.fa-search




    main.gm-content-wrapper
        .gm-home-slider-wrapper
            .container
                #demo.gm-carousel.carousel.slide(data-ride='carousel')
                    // The slideshow
                    .carousel-inner
                        .carousel-item.active
                            img(src='../img/placeholders/banner-1.png', alt='Los Angeles')
                        .carousel-item
                            img(src='../img/placeholders/banner-2.png', alt='Chicago')
                        .carousel-item
                            img(src='../img/placeholders/banner-3.png', alt='New York')
                    .gm-carousel-controls
                        a.gm-carousel-prev(href='#demo', data-slide='prev')
                            i.fa.fa-angle-left
                        ul.gm-carousel-indicators.carousel-indicators
                            li.active(data-target='#demo', data-slide-to='0')
                            li(data-target='#demo', data-slide-to='1')
                            li(data-target='#demo', data-slide-to='2')
                        a.gm-carousel-next(href='#demo', data-slide='next')
                            i.fa.fa-angle-right
        .gm-main-content-area
        .gm-home-content-wrapper
            .container
                .row.mb-5
                    .col-md-7.col-lg-8.mb-sm-3.mb-md-0
                        .gm-notification-block-1
                            .row.no-gutters.h-100
                                .gm-bg-img.col-md-6.col-lg-5.col-sm-4(style="background-image:url(../img/placeholders/note-1.png)")
                                    .gm-live-badge
                                        span.gm-badge-red LIVE
                                    img(src="../img/placeholders/note-1.png")
                                .col-md-6.col-lg-7.col-sm-8.gm-content-wrapper
                                    h2.block-title
                                        small GEM OT
                                        br
                                        | Watch laparoscopic & robotic surgeries
                                    p A First of its kind live surgical experience everyday between 9am to 11am

                                    button.gm-btn-light.btn.btn-light
                                        | Watch now
                                        i.fa.fa-angle-right


                    .col-md-5.col-lg-4.mb-sm-3.mb-md-0
                        .gm-notification-block-2
                            .row.no-gutters
                                #demo2.gm-carousel.carousel.slide(data-ride='carousel')
                                    // The slideshow
                                    .carousel-inner
                                        .carousel-item.active
                                            .gm-img-wrapper.gm-bg-img(style="background-image:url(../img/placeholders/banner-4.png)")
                                                .gm-upcoming.gm-badge-red Upcoming
                                                img(src='../img/placeholders/banner-4.png', alt='Los Angeles')
                                            .gm-caption
                                                h3.block-title Watch laparoscopic &amp; robotic surgeries
                                                p.block-dtls Tomorrow 9am to 11am
                                                .gm-live-badge
                                                    span.gm-badge-red LIVE


                                        .carousel-item
                                            .gm-img-wrapper.gm-bg-img(style="background-image:url(../img/placeholders/banner-5.png)")
                                                .gm-upcoming.gm-badge-red Upcoming
                                                img(src='../img/placeholders/banner-5.png', alt='Chicago')
                                            .gm-caption
                                                h3.block-title Watch laparoscopic &amp; robotic surgeries
                                                p.block-dtls Tomorrow 9am to 11am
                                                .gm-live-badge
                                                    span.gm-badge-red LIVE

                                    .gm-carousel-controls.gm-style-1
                                        a.gm-carousel-prev(href='#demo2', data-slide='prev')
                                            i.fa.fa-angle-left
                                        ul.gm-carousel-indicators.carousel-indicators
                                            li.active(data-target='#demo2', data-slide-to='0')
                                            li(data-target='#demo2', data-slide-to='1')
                                        a.gm-carousel-next(href='#demo2', data-slide='next')
                                            i.fa.fa-angle-right
                        
                .row.pt-3.mb-5
                    .col-md-7.col-lg-8
                        h3.block-title-style-1 Recent
                        .row
                            .col-lg-4.col-md-6
                                .gm-doc-card.card
                                    .gm-img-wrapper
                                        span.gm-badge-black 56:21
                                        span.gm-history
                                            i.fa.fa-clock-o
                                        img.card-img-top(src='../img/placeholders/doc-1.png', alt='Card image cap')
                                    .card-block
                                        h4.gm-title.card-title Professional fellow program in management of diabetic foot-conditions (fmdf)
                                        .gm-reviews
                                            i.gm-star-full.fa.fa-star
                                            i.gm-star-full.fa.fa-star
                                            i.gm-star-full.fa.fa-star
                                            i.gm-star-full.fa.fa-star
                                            i.gm-star-empty.fa.fa-star
                                        .gm-meta-dtls
                                            .gm-init P
                                            .gm-dtls
                                                h5.gm-user Dr. Parthasarathi R,MS
                                                .gm-dates
                                                    span 28th Apr 
                                                    span 568 Views
                            mixin doctorCard
                                .col-lg-4.col-md-6
                                    .gm-doc-card.card
                                        .gm-img-wrapper
                                            span.gm-badge-black 56:21
                                            img.card-img-top(src='../img/placeholders/doc-1.png', alt='Card image cap')
                                        .card-block
                                            h4.gm-title.card-title Professional fellow program in management of diabetic foot-conditions (fmdf)
                                            .gm-reviews
                                                i.gm-star-full.fa.fa-star
                                                i.gm-star-full.fa.fa-star
                                                i.gm-star-full.fa.fa-star
                                                i.gm-star-full.fa.fa-star
                                                i.gm-star-empty.fa.fa-star
                                            .gm-meta-dtls
                                                .gm-init P
                                                .gm-dtls
                                                    h5.gm-user Dr. Parthasarathi R,MS
                                                    .gm-dates
                                                        span 28th Apr 
                                                        span 568 Views

                            +doctorCard
                            +doctorCard
                            
                    aside.col-md-5.col-lg-4
                        h3.block-title-style-1 Most watched surgeries
                        ul.gm-most-watched-list

                            mixin list
                                li.row.no-gutters
                                    .gm-img-wrapper.col-4
                                        img(src="../img/placeholders/banner-5.png").img-fluid
                                    .gm-dtls-block.col-8
                                        h4 Live from GEM OT (10-feb-18) 
                                        .gm-subtitle laparoscopic acute cholecy...
                                        .gm-desc Dr. Parthasarathi R,MS
                            +list
                            +list
                            +list
                            +list
                            +list
                .row.mb-5
                    .col-md-7.col-lg-8
                        h3.block-title-style-1 Most Popular
                        .row
                            +doctorCard
                            +doctorCard
                            +doctorCard
                    aside.col-md-5.col-lg-4                    
                        .gm-notification-block-3.h-100
                            #demo3.gm-carousel.carousel.slide.h-100(data-ride='carousel')
                                // The slideshow
                                .carousel-inner
                                    .carousel-item.active.h-100
                                        .gm-img-wrapper.gm-bg-img.h-100(style="background-image:url(../img/placeholders/banner-6.png)")
                                            img(src='../img/placeholders/banner-4.png', alt='Los Angeles')


                                    .carousel-item.h-100
                                        .gm-img-wrapper.gm-bg-img.h-100(style="background-image:url(../img/placeholders/banner-6.png)")
                                            img(src='../img/placeholders/banner-5.png', alt='Chicago')

                                .gm-carousel-controls.gm-style-1
                                    a.gm-carousel-prev(href='#demo3', data-slide='prev')
                                        i.fa.fa-angle-left
                                    ul.gm-carousel-indicators.carousel-indicators
                                        li.active(data-target='#demo3', data-slide-to='0')
                                        li(data-target='#demo3', data-slide-to='1')
                                    a.gm-carousel-next(href='#demo3', data-slide='next')
                                        i.fa.fa-angle-right
                        

    footer.gm-footer-wrapper

        .container
            .row
                .col-lg-7.col-lg-8.col-md-9
                    ul.gm-footer-link.list-inline
                        li.list-inline-item
                            a(href='#') Home
                        li.list-inline-item
                            a(href='#') Unedited Videos
                        li.list-inline-item
                            a(href='#') ELearning
                        li.list-inline-item
                            a(href='#') Faculty
                        li.list-inline-item
                            a(href='#') About
                        li.list-inline-item
                            a(href='#') Login
                    ul.gm-socl-links.list-inline
                        li.list-inline-item
                            a(href='#') 
                                i.fa.fa-facebook
                        li.list-inline-item
                            a(href='#') 
                                i.fa.fa-twitter
                        li.list-inline-item
                            a(href='#') 
                                i.fa.fa-youtube-play
                    p &#169; 2018 All rights reserved
                    ul.gm-footer-link.list-inline
                        li.list-inline-item
                            a(href='#') Privacy policy
                        li.list-inline-item
                            a(href='#') Terms and Conditions


                .col-lg-5.col-lg-4.col-md-3.text-sm-right
                    .gm-footer-img-wrapper.d-inline-block.text-left
                        div Powered  by:
                        a(href="#") 
                            img(src="../img/medikiti-logo-white.png" alt="")

    script(src="../assets/jquery/jquery-3.3.1.min.js")
    script(src="../assets/bootstrap/js/bootstrap.min.js")
    block scripts