extends partials/layout.pug

block vars
    -var pageTitle = "Device checking"
    -var body_class = ""

block pageContent
    .ed-whiteboard-wrapper
        .ed-top-navbar
            ul.ed-tab-list
                li.active
                    | Board 1
                    a(href="javascript:;") x
                li
                    | Board 2
                    a(href="javascript:;") x
                li
                    | Board 3
                    a(href="javascript:;") x
                li.ed-add
                    a(href="javascript:;") +
        .ed-side-navbar
            ul.ed-board-nav-list
                li
                    a(href="javascript:;").icon-buzzer
                li
                    a(href="javascript:;").icon-buzzer
                li
                    a(href="javascript:;").icon-buzzer
                li
                    a(href="javascript:;").icon-buzzer
                li
                    a(href="javascript:;").icon-buzzer
                    ul
                        li
                            a(href="javascript:;").icon-buzzer
                        li
                            a(href="javascript:;").icon-buzzer
                        li
                            a(href="javascript:;").icon-buzzer

                li
                    a(href="javascript:;").icon-buzzer
                li
                    a(href="javascript:;").icon-buzzer
                li
                    a(href="javascript:;").icon-buzzer
                li
                    a(href="javascript:;").icon-buzzer
                li
                    a(href="javascript:;").icon-buzzer
                li
                    a(href="javascript:;").icon-buzzer
                li
                    a(href="javascript:;").icon-buzzer
        .ed-white-board-content-area
            
