doctype html
html(lang='en')
    block vars
    head
        title #{pageTitle}
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='../assets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='../assets/bootstrap-select/css/bootstrap-select.min.css')
        link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Lato:100,300|Montserrat:100,300,400,500" rel="stylesheet" )
        link(rel='stylesheet', href="../css/main.css")
    body.br-home
        header.br-page-header  

        main.br-home-content-wrapper
            .br-logo-wrapper.text-center
                a(href="home.html")
                    img(src="../img/logo.png" alt="Gemteleversity") 
            h1.br-welcome-title Lets your best   work shine through.
            a(href="home-invite.html").btn.br-btn-outline START CONFERENCE
        footer.br-pagefooter
            .row.align-items-center
                .col-sm-6
                    .br-date-time-wrapper
                        .br-time-wrapper
                            span.br-time   10:35 
                            span.br-format am
                        .br-date-wrapper
                            | MON, 5 OCTOBER
                //.br-browser-support.col-sm-6.text-right
                    span AVAILABLE ON 
                    i.br-icon.fa.fa-chrome
                    i.br-icon.fa.fa-firefox
        script(src="../assets/jquery/jquery-3.3.1.min.js")
        script(src='../assets/bootstrap/js/bootstrap.min.js')