extends partials/layout.pug
block vars
    -var pageTitle = "Search result"
    -var curnt_menu = 'elearning'
    -var body_class = ""
    -var customTitleBar = true
block TitleBarblock
    a.gm-back(href="#") 
        i.fa.fa-arrow-left
        |  Go Back
    h1.gm-page-title #{pageTitle}
    ul.gm-title-breadcrumb.list-inline
    

        li.list-inline-item
            span Search result for : 
                em Bariatric
block pageContent
    .container.pt-3.mt-5
        
        h3.block-title-style-2 Library / Bariatric (4)
        .row
            mixin doctorCard
                .col-lg-3.col-md-4.col-sm-6
                    .gm-doc-card.card
                        .gm-img-wrapper
                            span.gm-badge-black 56:21
                            img.card-img-top(src='../img/placeholders/doc-1.png', alt='Card image cap')
                        .card-block
                            h4.gm-title.card-title Professional fellow program in management of diabetic foot-conditions (fmdf)
                            .gm-reviews
                                i.gm-star-full.fa.fa-star
                                i.gm-star-full.fa.fa-star
                                i.gm-star-full.fa.fa-star
                                i.gm-star-full.fa.fa-star
                                i.gm-star-empty.fa.fa-star
                            
                            .gm-text 7 Videos
                                
            +doctorCard
            +doctorCard
            +doctorCard
            +doctorCard
        h3.block-title-style-2.mt-3 Collection (1)
        .row
            +doctorCard
            +doctorCard
            +doctorCard
        h3.block-title-style-2.mt-3 Faculity (1)
        .row

            .col-lg-3.col-md-4.col-sm-6
                .gm-doc-card.card
                    .gm-img-wrapper.gm-bg-img.gm-circle(style="background-image:url('../img/placeholders/doc-3.png')")                    
                        img.card-img-top(src='../img/placeholders/doc-3.png', alt='Card image cap')
                    .card-block
                        h4.gm-title.card-title Dr. C.Palanivelu
                        .gm-text Chairman GEM Hospital and Research Centre
                        a.gm-view-profile(href="#")
                            span View Profile
                            i.fa.fa-angle-right
