extends partials/layout.pug
block vars
    -var pageTitle = "In Progress"
    -var curnt_menu = 'elearning'
    -var body_class = "gm-page-colect-dtls"
block breadcrumb
    
    li.list-inline-item
        span Collection
block pageContent
    .container
    
            