doctype html
html(lang='en')
    head
        title Login
        meta(charset='utf-8')
        //- meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet" )
        link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700" rel="stylesheet" )
        link(rel='stylesheet', href="../css/main.css")
    body
        .el-videowall-wrapper
            .el-col-1.el-col
                .el-chat-wrapper.el-row-2
                        h2.el-box-title Chat
                        ul.el-chat-list
                            li.el-chat.sent
                                profile-pic
                                figure.el-avatar
                                    img(_ngcontent-c9='', alt='', src='../img/avatar-dummy.jpg')
                                .el-msg-wrapper
                                    h3.el-name Alan Tucker
                                    .el-msg
                                        | How the hell am I  
                                        .el-time Just now
                            li.el-chat.sent
                                profile-pic
                                figure.el-avatar
                                    img(_ngcontent-c9='', alt='', src='../img/avatar-dummy.jpg')
                                .el-msg-wrapper
                                    h3.el-name Alan Tucker
                                    .el-msg
                                        | How the hell am I supposed to get a jury to believe you when I am not even sure that I do?! How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!
                                        .el-time Just now
                            mixin chats
                                li.el-chat.sent
                                    profile-pic
                                    figure.el-avatar
                                        img(_ngcontent-c9='', alt='', src='../img/avatar-dummy.jpg')
                                    .el-msg-wrapper
                                        h3.el-name Alan Tucker
                                        .el-msg
                                            | How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!
                                            .el-time Just now
                            +chats
                            +chats
                            +chats
                            +chats
                            +chats
                            +chats
                            +chats
                            +chats
                            +chats
                            +chats
                            +chats
                            +chats
                            +chats
                .el-raised-hands-wrapper.el-row-1
                    h2.el-box-title Raised Hands (7)
                    ul.el-hands-list                        
                        mixin hands
                            li
                                figure.el-avatar
                                    img( src='../img/avatar-dummy.jpg')
                                    figcaption 1
                                .el-avatar-dtls
                                    h3.el-name Salman
                                    .el-time  5 min ago

                        +hands
                        +hands
                        +hands
                        +hands
                        +hands
                        +hands
                        +hands

            .el-col-2.el-col
                mixin videos
                    //.el-user-video-wrapper.el-people-1
                        .el-people
                            .el-video-wrapper
                                img(src="../img/avatar-dummy.jpg")
                    //.el-user-video-wrapper.el-people-2
                        .el-people
                            .el-video-wrapper
                                img(src="../img/avatar-dummy.jpg")
                        .el-people
                            .el-video-wrapper
                                img(src="../img/avatar-dummy.jpg")
                    .el-user-video-wrapper.el-people-6
                        .el-people
                            .el-video-wrapper
                                img(src="../img/avatar-dummy.jpg")
                        .el-people
                            .el-video-wrapper
                                img(src="../img/avatar-dummy.jpg")
                        .el-people
                            .el-video-wrapper
                                img(src="../img/avatar-dummy.jpg")
                        .el-people
                            .el-video-wrapper
                                img(src="../img/avatar-dummy.jpg")
                        .el-people
                            .el-video-wrapper
                                img(src="../img/avatar-dummy.jpg")
                        .el-people
                            .el-video-wrapper
                                img(src="../img/avatar-dummy.jpg")
                .el-row-1
                    +videos
                .el-row-1
                    +videos
                .el-row-1
                    +videos
            .el-col-3.el-col
                .el-row-1
                    +videos
                .el-row-1
                    +videos
                .el-row-1
                    .el-presenter-wrapper
                        | Presenter
            .el-col-4.el-col
                .el-row-1
                    +videos
                .el-row-1
                    +videos
                .el-row-1
                    .el-presenter-screen-wrapper
                        | Screeen
            .el-col-5.el-col
                .el-row-1
                    +videos
                .el-row-1
                    +videos
                .el-row-1
                    +videos
            .el-col-6.el-col
                .el-row-1
                    .el-room-dtls-wrapper
                        h2.el-box-title Room  09- SP JA
                        .el-attende-count 
                            .el-title 60
                            .el-help-block ATTENDEES
                        .el-session-dtls1
                            .el-label Session Name
                            .el-title Advance Java Programing Lauguage
                        .el-session-dtls2
                            .el-label Session Duration
                            .el-timer 01.25.32

                .el-row-1
                    .el-polls-graphics-wrapper
                        |Pir chart
                .el-row-1
                    .el-polls-answerd-wrapper
                        | Graph cjart
                        
