doctype html
html(lang='en')
    block vars
        -var pageTitle = "Videos"
        -var curnt_menu ="video"
    head
        title #{pageTitle}
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='../assets/bootstrap/css/bootstrap.min.css')
        link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700,800" )
        link(rel='stylesheet', href="../css/main.css")
    body.gm-page-videos
    header.gm-header-wrapper.container-fluid
        .row
            .gm-logo-wrapper.col-xl-3.col-lg-4.col-8
                a(href="#")
                    img(src="../img/logo.png" alt="Gemteleversity")   

            .gm-res-btn-wrapper.d-lg-none.d-flex
                button.gm-header-search-btn.btn.btn-link.my-2.my-sm-0
                    i.gm-search-icon.fa.fa-search
                button.gm-nav-btn.navbar-toggler.navbar-dark(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
                    span
                    span
                    span
            .gm-nav-wrapper.col-xl-9.col-lg-8.float-right       
                nav.navbar.navbar-expand-lg.sticky-top.float-right.mt-3.mt-lg-0
                    #collapsibleNavbar.collapse.navbar-collapse.justify-content-md-end.w-100
                        ul.navbar-nav.mr-lg-3
                            li.nav-item
                                a.nav-link(href='home.html', class=(curnt_menu=='home')? 'active':'') Home
                            li.nav-item
                                a.nav-link(href='academy.html', class=(curnt_menu=='academy')? 'active':'') Unedited Videos
                            li.nav-item
                                a.nav-link(href='collections.html', class=(curnt_menu=='collections')? 'active':'') ELearning
                            li.nav-item
                                a.nav-link(href='faculity.html', class=(curnt_menu=='faculty')? 'active':'') Faculty
                            li.nav-item
                                a.nav-link(href='about.html', class=(curnt_menu=='about')? 'active':'') About
                            li.nav-item
                                a.nav-link(href='javascript:;', class=(curnt_menu=='login')? 'active':'') Login
                        button.gm-header-search-btn.btn.btn-link.my-2.my-sm-0.d-md-none.d-lg-inline-block
                            i.gm-search-icon.fa.fa-search
                        form.form-inline.my-2.my-lg-0.d-none
                            input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                            button.btn.btn-outline-success.my-2.my-sm-0(type='submit')
                                i.fa.fa-search




    main.gm-content-wrapper
        .gm-video-slider-wrapper
            .container
                #demo.gm-video-carousel.carousel.slide(data-ride='carousel')
                    // The slideshow
                    .carousel-inner
                        .carousel-item.active
                            #player1.gm-video-player
                        .carousel-item
                            #player2.gm-video-player
                        .carousel-item
                            #player3.gm-video-player
            .gm-video-carousel-controls
                a.gm-carousel-prev.left.gm-carousel-control(href='#demo', data-slide='prev')
                    i.gm-icon.fa.fa-angle-left
                a.gm-carousel-next.right.gm-carousel-control(href='#demo', data-slide='next')
                    i.gm-icon.fa.fa-angle-right
        .gm-main-content-area
        .gm-home-content-wrapper
            .container
                .row
                    .gm-video-discussion-wrapper.col-lg-9.col-md-8
                        .gm-header
                            a(href="#") 
                                i.fa.fa-arrow-left
                                | Go back
                            h1.gm-video-title  Live from GEM OT (20 March '18): Laparoscopic Gastrectomy
                            .gm-review-wrapper
                                span.gm-left
                                    i.fa.fa-star.gm-star-full
                                    span.gm-ratings 3/5
                                span.gm-right
                                    a.gm-set-rating(href="javascript:;")
                                        i.fa.fa-star.gm-star-empty
                                        span RATE THIS 

                    aside.col-lg-3.col-md-4
                        h3.block-title-style-1 Watch next
                        .gm-watch-list-block-wrapper
                            mixin block1
                                .gm-watch-list-block
                                    figure
                                        img.img-fluid(src="../img/placeholders/watch-list-1.png")              
                                        h4.gm-block-title Professional fellow program in management of diabetic foot-conditions (fmdf)
                                        .gm-name Dr. Parthasarathi R,MS
                                        .gm-date 28th April 2018
                            +block1
                            +block1
                            +block1
                            +block1

    footer.gm-footer-wrapper

        .container
            .row
                .col-xl-7.col-lg-8.col-md-9
                    ul.gm-footer-link.list-inline
                        li.list-inline-item
                            a(href='#') Home
                        li.list-inline-item
                            a(href='#') Unedited Videos
                        li.list-inline-item
                            a(href='#') ELearning
                        li.list-inline-item
                            a(href='#') Faculty
                        li.list-inline-item
                            a(href='#') About
                        li.list-inline-item
                            a(href='#') Login
                    ul.gm-socl-links.list-inline
                        li.list-inline-item
                            a(href='#') 
                                i.fa.fa-facebook
                        li.list-inline-item
                            a(href='#') 
                                i.fa.fa-twitter
                        li.list-inline-item
                            a(href='#') 
                                i.fa.fa-youtube-play
                    p &#169; 2018 All rights reserved
                    ul.gm-footer-link.list-inline
                        li.list-inline-item
                            a(href='#') Privacy policy
                        li.list-inline-item
                            a(href='#') Terms and Conditions


                .col-xl-5.col-lg-4.col-md-3.text-sm-right
                    .gm-footer-img-wrapper.d-inline-block.text-left
                        div Powered  by:
                        a(href="#") 
                            img(src="../img/medikiti-logo-white.png" alt="")

    script(src="../assets/jquery/jquery-3.3.1.min.js")
    script(src="../assets/bootstrap/js/bootstrap.min.js")
    script(src="https://player.vimeo.com/api/player.js")
    script.
        var options = {
            id: 59777392,
            height:540,
            loop: true
        };

        var player1 = new Vimeo.Player('player1', options);
        var player2 = new Vimeo.Player('player2', options);
        var player3 = new Vimeo.Player('player3', options);
        