/*--------------------------
//Extends
--------------------------------*/
/*--------------------------
// Mixins
--------------------------------*/
/*--------------------------
// Website colors
--------------------------------*/
h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.gm-circle {
  border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 1px 1px 5px #838383;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #40d5bb;
  background: linear-gradient(to bottom, #40d5bb 0%, #1694d7 55%, #00aeff 100%);
  box-shadow: 0px 9px 12px 0px rgba(131, 131, 131, 0.4);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: 2px 3px 25px rgba(131, 131, 131, 0);
}

body div ::-webkit-scrollbar {
  width: 6px;
}

.br-input {
  background: rgba(0, 0, 0, 0.25);
  border: none;
  color: #fff;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 11px 30px;
  outline: none;
  box-shadow: 2px 3px 12px 0px rgba(10, 22, 30, 0.4);
}

.br-btn-outline {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 30px;
  box-shadow: 2px 3px 12px 0px rgba(10, 22, 30, 0.4);
}

.br-home {
  background-image: url("../img/landing-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.br-home-content-wrapper {
  margin: auto;
  text-align: center;
  height: 175px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.br-home-content-wrapper .br-welcome-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 41px;
  margin: auto  auto 30px auto;
  max-width: 500px;
}

.br-home-content-wrapper .br-start-conference .br-input {
  margin-right: 10px;
  width: 450px;
  max-width: 100%;
}

.br-innerpage {
  background-image: url("../img/meeting-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.br-innerpage .br-browser-support {
  color: #393939;
}

.br-innerpage .br-browser-support .br-icon {
  color: #e8e8e8;
}

.br-bg-left-btm {
  background: url("../img/meeting-bg-left.png") no-repeat;
  background-position: left bottom;
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.br-bg-right-top {
  background: url("../img/meeting-bg-right.png") no-repeat;
  background-position: right top;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
}

.br-page-header {
  padding: 30px 30px 0 30px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
}

.br-pagefooter {
  padding: 0 30px;
  margin: auto;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}

.br-time-wrapper {
  font-weight: 300;
  font-size: 50px;
}

.br-time-wrapper .br-format {
  font-size: 40px;
}

.br-date-wrapper {
  font-weight: 100;
  font-size: 22px;
}

.br-browser-support span {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding-right: 25px;
  color: #838383;
}

.br-browser-support .br-icon {
  color: #e8e8e8;
}

.br-browser-support .fa-chrome {
  padding-right: 25px;
}

/*# sourceMappingURL=main.css.map */
