.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.in .modal-dialog {
  transform: translate(0, 0);
}

.modal.fade.in {
  opacity: 1;
  display: block;
}

.modal:after {
  content: '';
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  margin: auto;
  z-index: 1;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: 100;
}

.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.fade.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.ed-icon-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 710px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

/*--------------------------
//Extends
--------------------------------*/
/*--------------------------
// Mixins
--------------------------------*/
.ed-box, .ed-video-wrapper, .ed-main-wrapper > div.ed-left-col .ed-content-area {
  box-shadow: 0 0 5px 1px rgba(221, 221, 221, 0.48);
}

/*--------------------------
// Website colors
--------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img, video {
  max-width: 100%;
}

.ed-circle {
  border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 1px 1px 5px #838383;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #40d5bb;
  background: linear-gradient(to bottom, #40d5bb 0%, #1694d7 55%, #00aeff 100%);
  box-shadow: 0px 3px 5px 0px rgba(131, 131, 131, 0.4);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: 2px 3px 25px rgba(131, 131, 131, 0);
}

body div ::-webkit-scrollbar {
  width: 6px;
}

.list-inline > li {
  display: inline-block;
}

.clearfix:after {
  content: '';
  display: table;
  float: none;
  clear: both;
  height: 0;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
}

.ed-switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 13px;
}

.ed-switch input {
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
  box-shadow: none;
}

.ed-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 11px;
}

.ed-switch .slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.ed-switch input:checked + .slider {
  background-color: #27c5ff;
}

.ed-switch input:checked + .slider:before {
  transform: translateX(10px);
}

.ed-box {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,ffffff+100 */
  background: #fefefe;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefefe 0%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 10px;
}

.ed-form-control {
  display: block;
  width: auto;
  padding: 6px 15px;
  border: none;
  border-radius: 27px;
  outline: none;
  box-shadow: none;
}

.ed-btn {
  background: #27c5ff;
  color: #fff;
  border: none;
  border-radius: 14px;
  box-shadow: none;
  font-size: 11px;
  outline: none;
  padding: 9px 20px;
  font-weight: 500;
}

.ed-btn:focus, .ed-btn:active {
  box-shadow: none;
  outline: none;
}

.ed-btn.link {
  background: none;
  color: #b5b5b5;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 600;
}

.text-red {
  color: #ff0030;
}

.text-green {
  color: #00d683;
}

.text-blue {
  color: #00b5f1;
}

.text-yellow {
  color: #f19900;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-f {
  display: -ms-flexbox;
  display: flex;
}

.d-if {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.text-center {
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown > .dropdown-menu {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 1px 4px 4px 1px rgba(221, 221, 221, 0.61);
  min-width: 240px;
  z-index: 999;
  top: 100%;
  left: 0;
  border-radius: 0 0 10px 10px;
}

.dropdown.right > .dropdown-menu {
  left: auto;
  right: 0;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.ed-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .35;
}

.select2.select2-container {
  min-width: 100%;
  border-radius: 0;
}

.select2.select2-container .select2-selection {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
}

.ed-main-header .ed-logo-wrapper {
  float: left;
}

.ed-main-header .ed-navbar-wrapper {
  float: right;
  max-width: calc(100% - 150px);
  text-align: right;
}

.ed-main-header .ed-navbar-wrapper > ul {
  display: inline-block;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-left li {
  width: 70px;
  padding: 3px;
  text-align: center;
  background: #fff;
  border-radius: 18px;
  border: 1px solid #16b1e4;
  margin-right: 8px;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-left li a {
  font-size: 19px;
  color: #16b1e4;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-right {
  background: #fff;
  height: 50px;
  padding: 0 20px;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 68px 9px 0px 0px;
  position: relative;
  box-shadow: 3px -3px 5px 0px #ddd;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-right::before {
  content: '';
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f6f7fc;
  position: absolute;
  left: 0;
  bottom: 0;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-right li {
  width: 60px;
  text-align: center;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-right li a {
  color: #16b1e4;
}

#modalCheckingDevice .modal-footer .ed-form-group {
  margin-right: 30px;
}

.ed-device-config-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ed-device-config-wrapper .ed-left-col {
  width: 45%;
  padding-right: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}

.ed-device-config-wrapper .ed-left-col .ed-preview {
  -ms-flex: 1;
  flex: 1;
}

.ed-device-config-wrapper .ed-left-col .ed-preview .ed-video {
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
}

.ed-device-config-wrapper .ed-left-col .ed-help-block {
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  margin: 10px;
}

.ed-device-config-wrapper .ed-right-col {
  width: 55%;
}

.ed-device-config-wrapper .ed-right-col .ed-form-group {
  margin-bottom: 20px;
  padding-right: 30px;
  position: relative;
}

.ed-device-config-wrapper .ed-right-col .ed-form-group .ed-label {
  display: block;
  font-weight: 600;
  color: #0095cc;
  font-size: 13px;
  margin-bottom: 12px;
}

.ed-device-config-wrapper .ed-right-col .ed-form-group .ed-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 18px;
  margin: auto;
}

.ed-video-wrapper {
  border-radius: 10px;
  background: #fff;
  height: 38%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.ed-video-wrapper .ed-header > ul {
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  height: 50px;
  padding: 0;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 10px 10px 0 0;
}

.ed-video-wrapper .ed-header > ul:hover {
  background: #f8f8f8;
}

.ed-video-wrapper .ed-header > ul > li {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.ed-video-wrapper .ed-header > ul > li:hover {
  background: #fff;
}

.ed-video-wrapper .ed-header > ul > li a {
  color: #16b1e4;
}

.ed-video-wrapper .ed-header > ul > li a.icon-rec {
  color: #f20000;
}

.ed-video-wrapper .ed-header > ul > li:first-child {
  border-radius: 10px 0 0 0;
}

.ed-video-wrapper .ed-header > ul > li:last-child {
  border-radius: 0 10px 0 0;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-title {
  font-size: 15px;
  font-weight: bold;
  margin: 15px auto;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-notice {
  font-size: 9px;
  color: #808080;
  line-height: 1.3;
  margin: 30px auto 15px auto;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-btn-wrapper .ed-btn {
  margin-bottom: 10px;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-session-title {
  font-size: 15px;
  color: #434343;
  margin: 15px auto 10px auto;
  font-weight: 500;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-author {
  font-size: 10px;
  color: #808080;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-time-wrapper {
  margin: 15px auto;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-time-wrapper .ed-row {
  margin: 0 15px 10px 15px;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-time-wrapper .ed-row:after {
  content: '';
  display: table;
  clear: both;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-time-wrapper .ed-row > div {
  width: 50%;
  float: left;
  padding: 7px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-time-wrapper .ed-row > div.ed-col-right {
  background: #f9f9f9;
  text-align: center;
  border-radius: 5px;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-session-footer {
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  margin: 10px auto;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-session-footer a {
  font-weight: bold;
}

.ed-video-wrapper .ed-header .ed-right-block-dropdown .ed-session-notice {
  background: none;
  color: #b5b5b5;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ed-video-wrapper .ed-video-footer {
  position: absolute;
  bottom: 0;
  height: 38px;
  background: rgba(255, 255, 255, 0.7);
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s ease-in;
}

.ed-video-wrapper .ed-video-footer a {
  font-size: 16px;
  color: #686868;
  text-decoration: none;
}

.ed-video-wrapper .ed-video-footer a:hover {
  color: #333;
}

.ed-video-wrapper:hover .ed-video-footer {
  opacity: 1;
}

.ed-videos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1;
  flex: 1;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.ed-videos .ed-row {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex: 1;
  flex: 1;
}

.ed-videos .ed-row .ed-col {
  display: block;
  overflow: hidden;
}

.ed-videos .ed-row .ed-col video {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 100%;
  width: 100%;
}

.ed-videos .ed-row.v3 .ed-col {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.ed-videos .ed-row.v2 .ed-col {
  -ms-flex: 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.ed-sidebar-block {
  height: 45vh;
  position: absolute;
  bottom: 4%;
  left: 0;
  right: 0;
}

.ed-sidebar-block .ed-header-toggle {
  background: #f5f5f5;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.ed-sidebar-block .ed-header-toggle a {
  font-size: 22px;
  color: #b8bcbe;
  text-decoration: none;
}

.ed-sidebar-block .ed-header-toggle > div {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  text-align: center;
  border-right: 1px solid #efefef;
  padding: 10px;
  cursor: pointer;
}

.ed-sidebar-block .ed-header-toggle > div.active {
  background: #fff;
}

.ed-sidebar-block .ed-header-toggle > div.active a {
  color: #16b1e4;
}

.ed-sidebar-block .ed-header-toggle > div:last-child {
  border: none;
}

.ed-sidebar-block .ed-content-wrapper .ed-content {
  display: none;
}

.ed-sidebar-block .ed-content-wrapper .ed-content.active {
  display: block;
}

#qa-wrapper .ed-title-wrapper {
  background: #fff;
  box-shadow: 0 7px 21px 5px rgba(221, 221, 221, 0.55);
  font-size: 13px;
  font-weight: 500;
  padding: 10px 5px 10px 20px;
}

#qa-wrapper .ed-title-wrapper .ed-left {
  width: 41%;
  padding: 5px 0;
  color: #d2d2d2;
  border-right: 1px solid #ddd;
}

#qa-wrapper .ed-title-wrapper .ed-right {
  color: #434343;
  padding: 5px 0 5px 5px;
}

#qa-wrapper .ed-title-wrapper .ed-right > div:not(:last-child) {
  margin-right: 5px;
}

#qa-wrapper .ed-title-wrapper .ed-right .ed-resize {
  color: #40d5bb;
}

#qa-wrapper .ed-qa-wrapper {
  position: relative;
}

#qa-wrapper .ed-qa-wrapper .ed-aq-list {
  max-height: 30vh;
  overflow: auto;
  padding: 30px 20px 50px 20px;
}

#qa-wrapper .ed-qa-wrapper .ed-qa {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 15px;
}

#qa-wrapper .ed-qa-wrapper .ed-qa .ed-avatar-title {
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #16b1e4;
  font-family: 'Lato', sans-serif;
  width: 35px;
  text-align: center;
  height: 35px;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -ms-flex-pack: center;
  justify-content: center;
}

#qa-wrapper .ed-qa-wrapper .ed-qa .ed-msg-wrapper {
  display: inline-block;
  max-width: calc(100% - 40px);
  background: #f4f4f4;
  border-radius: 7px;
  padding: 10px;
}

#qa-wrapper .ed-qa-wrapper .ed-qa .ed-msg-wrapper .ed-title {
  font-size: 11px;
  color: #7b7b7b;
  font-weight: 500;
  margin-bottom: 4px;
}

#qa-wrapper .ed-qa-wrapper .ed-qa .ed-msg-wrapper .ed-msg {
  font-size: 11px;
  color: #7b7b7b;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

#qa-wrapper .ed-qa-wrapper .ed-qa .ed-tools {
  text-align: right;
  margin: 10px auto 5px auto;
  font-size: 12px;
}

#qa-wrapper .ed-qa-wrapper .ed-qa .ed-tools > a:not(:last-child) {
  margin-right: 5px;
}

#qa-wrapper .ed-qa-wrapper .ed-compose-chat {
  background: #fff;
  z-index: 1;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 20px 0 20px;
}

#qa-wrapper .ed-qa-wrapper .ed-compose-chat:after {
  content: '';
  display: table;
  clear: both;
  float: none;
}

#qa-wrapper .ed-qa-wrapper .ed-compose-chat .ed-form-control {
  background: #f3f3f3;
  float: left;
  width: 190px;
  max-width: calc(100% - 110px);
  font-size: 10px;
  font-weight: 300;
  color: #9e9e9e;
  padding: 10px 15px;
}

#qa-wrapper .ed-qa-wrapper .ed-compose-chat .ed-btn {
  float: right;
}

#chat-wrapper .ed-title-wrapper {
  background: #fff;
  box-shadow: 0 7px 21px 5px rgba(221, 221, 221, 0.55);
  font-size: 13px;
  font-weight: 500;
  padding: 10px 20px;
}

#chat-wrapper .ed-title-wrapper .ed-left {
  width: 45%;
  padding: 5px 0;
  color: #d2d2d2;
  border-right: 1px solid #ddd;
}

#chat-wrapper .ed-title-wrapper .ed-right {
  color: #434343;
  padding: 5px 0 5px 10px;
}

#chat-wrapper .ed-title-wrapper .ed-right > div:not(:last-child) {
  margin-right: 5px;
}

#chat-wrapper .ed-title-wrapper .ed-right .ed-resize {
  color: #40d5bb;
}

.ed-chat-wrapper {
  position: relative;
}

.ed-chat-wrapper .ed-chat-list {
  max-height: 30vh;
  overflow: auto;
  padding: 30px 20px 50px 20px;
}

.ed-chat-wrapper .ed-chat {
  margin-bottom: 15px;
}

.ed-chat-wrapper .ed-chat .ed-avatar-title {
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #16b1e4;
  font-family: 'Lato', sans-serif;
  width: 35px;
  text-align: center;
  height: 35px;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -ms-flex-pack: center;
  justify-content: center;
}

.ed-chat-wrapper .ed-chat .ed-chat-content {
  display: inline-block;
  max-width: calc(100% - 40px);
  background: #f4f4f4;
  border-radius: 7px;
  padding: 10px;
}

.ed-chat-wrapper .ed-chat .ed-chat-content .ed-user-title {
  font-size: 11px;
  color: #7b7b7b;
  font-weight: 500;
  margin-bottom: 4px;
}

.ed-chat-wrapper .ed-chat .ed-chat-content .ed-msg {
  font-size: 11px;
  color: #7b7b7b;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.ed-chat-wrapper .ed-compose-chat {
  background: #fff;
  z-index: 1;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 20px 0 20px;
}

.ed-chat-wrapper .ed-compose-chat:after {
  content: '';
  display: table;
  clear: both;
  float: none;
}

.ed-chat-wrapper .ed-compose-chat .ed-form-control {
  background: #f3f3f3;
  float: left;
  width: 190px;
  max-width: calc(100% - 110px);
  font-size: 10px;
  font-weight: 300;
  color: #9e9e9e;
  padding: 10px 15px;
}

.ed-chat-wrapper .ed-compose-chat .ed-btn {
  float: right;
}

.ed-contact-list {
  padding: 0 10px 0 15px;
  max-height: 37vh;
  overflow: auto;
}

.ed-contact-list .ed-contact {
  padding: 10px 0;
  position: relative;
}

.ed-contact-list .ed-contact .ed-avatar-title {
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #16b1e4;
  font-family: 'Lato', sans-serif;
  width: 35px;
  text-align: center;
  height: 35px;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 10px;
}

.ed-contact-list .ed-contact .ed-title {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #434343;
  font-weight: 600;
}

.ed-contact-list .ed-contact .ed-tools {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  padding: 0 10px 0 40px;
  background: #fff;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+28,ffffff+100&0+0,1+28,1+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 28%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
}

.ed-contact-list .ed-contact .ed-tools > a {
  margin: 0 2px;
}

html, body {
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f6f7fc;
}

.ed-main-wrapper {
  width: 94%;
  margin: 3vh auto auto auto;
  height: 97vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ed-main-wrapper > div {
  -webkit-box-flex: 0;
  height: calc(97vh - 80px);
  margin-bottom: 20px;
}

.ed-main-wrapper > div.ed-left-col {
  -ms-flex: 0 0 73%;
  flex: 0 0 73%;
  max-width: 73%;
  border-radius: 10px;
}

.ed-main-wrapper > div.ed-left-col .ed-content-area {
  border-radius: 10px 0 10px 10px;
  background: #fff;
  height: calc(97vh - 150px);
}

.ed-main-wrapper > div.ed-right-col {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
}

.ed-main-wrapper .ed-footer {
  width: 100%;
  height: 50px;
}

.ed-main-wrapper .ed-footer .ed-copyright {
  text-align: center;
}

.ed-main-wrapper .ed-footer .ed-copyright img {
  width: 60px;
  vertical-align: middle;
  margin-left: 5px;
}

/*# sourceMappingURL=main.css.map */
