/*--------------------------
//Extends
--------------------------------*/
/*--------------------------
// Mixins
--------------------------------*/
/*--------------------------
// Website colors
--------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ed-circle {
  border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 1px 1px 5px #838383;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #40d5bb;
  background: linear-gradient(to bottom, #40d5bb 0%, #1694d7 55%, #00aeff 100%);
  box-shadow: 0px 9px 12px 0px rgba(131, 131, 131, 0.4);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: 2px 3px 25px rgba(131, 131, 131, 0);
}

body div ::-webkit-scrollbar {
  width: 6px;
}

.list-inline > li {
  display: inline-block;
}

.clearfix:after {
  content: '';
  display: table;
  float: none;
  clear: both;
  height: 0;
}

.ed-main-header .ed-logo-wrapper {
  float: left;
}

.ed-main-header .ed-navbar-wrapper {
  float: right;
  max-width: calc(100% - 150px);
  text-align: right;
}

.ed-main-header .ed-navbar-wrapper > ul {
  display: inline-block;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-left li {
  width: 70px;
  padding: 3px;
  text-align: center;
  background: #fff;
  border-radius: 18px;
  border: 1px solid #16b1e4;
  margin-right: 8px;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-left li a {
  font-size: 19px;
  color: #16b1e4;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-right {
  background: #fff;
  height: 50px;
  padding: 0 20px;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 68px 9px 0px 0px;
  position: relative;
  box-shadow: 3px -3px 5px 0px #ddd;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-right::before {
  content: '';
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f6f7fc;
  position: absolute;
  left: 0;
  bottom: 0;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-right li {
  width: 60px;
  text-align: center;
}

.ed-main-header .ed-navbar-wrapper > ul.ed-navbar-right li a {
  color: #16b1e4;
}

.br-device-checking-wrapper {
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 991px) {
  .br-device-checking-wrapper {
    height: 330px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.br-device-checking-wrapper .br-welcome-title {
  font-size: 46px;
  font-weight: 100;
  margin-bottom: 30px;
  color: #414141;
}

.br-device-checking-wrapper .br-link {
  color: #212121;
  font-size: 19px;
  font-weight: 400;
}

.br-device-checking-wrapper .br-link i {
  position: relative;
  left: 0;
  transition: all 0.3s ease;
}

.br-device-checking-wrapper .br-link:hover {
  text-decoration: none;
}

.br-device-checking-wrapper .br-link:hover i {
  left: 10px;
}

.br-device-checking-wrapper .br-device-checking-area {
  display: inline-block;
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 3px 12px 0px rgba(57, 57, 57, 0.4);
}

.br-device-checking-wrapper .br-video {
  width: 365px;
  height: 255px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.br-device-checking-wrapper .br-footer > a {
  margin: 0 10px;
}

.br-modal {
  font-family: 'Montserrat', sans-serif;
}

.br-modal .modal-content {
  border-radius: 15px;
}

.br-modal .modal-header {
  border-radius: 15px 15px 0 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+1,ffffff+33 */
  background: #f1f1f1;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(4deg, #f1f1f1 7%, white 52%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.br-modal .modal-header .br-icon-close {
  position: relative;
  top: 10px;
  right: 10px;
  bottom: auto;
  left: auto;
}

.br-modal .modal-title {
  font-weight: 400;
  font-size: 15px;
}

.br-device-config-wrapper {
  list-style: none;
  padding: 0;
}

.br-device-config-wrapper .br-device {
  margin-bottom: 15px;
}

.br-device-config-wrapper .br-device-dtls {
  width: calc(100% - 130px);
  padding-right: 30px;
  padding-left: 15px;
}

.br-device-config-wrapper .br-device-dtls .br-title {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.br-device-config-wrapper .br-device-dtls .bootstrap-select {
  min-width: 100%;
  font-size: 13px;
  font-weight: 300;
  color: #1f1f1f;
}

.br-device-config-wrapper .br-device-dtls .bootstrap-select .dropdown-toggle {
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  font-weight: 300;
  color: #1f1f1f;
  border-radius: 0;
}

.br-device-config-wrapper .br-device-dtls .bootstrap-select .dropdown-toggle:after {
  border-top-color: #ddd;
}

.br-device-config-wrapper .br-device-dtls .bootstrap-select .dropdown-toggle:focus {
  outline: none;
}

.br-device-config-wrapper .br-device-dtls .bootstrap-select .dropdown-toggle .filter-option {
  padding-left: 0;
}

.br-device-config-wrapper .br-device-dtls .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  text-overflow: ellipsis;
}

.br-device-config-wrapper .br-device-dtls .bootstrap-select .dropdown-menu {
  border-radius: 0;
  max-width: 100%;
}

.br-device-config-wrapper .br-device-dtls .bootstrap-select .dropdown-menu .dropdown-item.active,
.br-device-config-wrapper .br-device-dtls .bootstrap-select .dropdown-menu .dropdown-item:hover {
  background-color: #c9c9c9;
}

.br-device-config-wrapper .br-device-dtls .bootstrap-select .dropdown-menu li a {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.br-device-config-wrapper .br-preview {
  width: 90px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.br-device-config-wrapper .br-preview .br-video {
  max-width: 100%;
  border-radius: 8px;
}

.ed-video-wrapper {
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 2px 2px #ddd;
}

.ed-video-wrapper .ed-header ul {
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  height: 50px;
  padding: 0 20px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.ed-video-wrapper .ed-header ul a {
  color: #16b1e4;
}

.ed-video-wrapper .ed-header ul a.icon-rec {
  color: #f20000;
}

.ed-videos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ed-videos .ed-row {
  height: 15.5vh;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.ed-videos .ed-row .ed-col {
  display: block;
  overflow: hidden;
}

.ed-videos .ed-row .ed-col video {
  height: 15.5vh;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.ed-videos .ed-row.v3 .ed-col {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.ed-videos .ed-row.v2 .ed-col {
  -ms-flex: 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

html, body {
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background: #f6f7fc;
}

.ed-main-wrapper {
  width: 94%;
  margin: 3vh auto auto auto;
  height: 97vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ed-main-wrapper > div {
  -webkit-box-flex: 0;
  height: calc(97vh - 80px);
  margin-bottom: 20px;
}

.ed-main-wrapper > div.ed-left-col {
  -ms-flex: 0 0 73%;
  flex: 0 0 73%;
  max-width: 73%;
  border-radius: 10px;
}

.ed-main-wrapper > div.ed-left-col .ed-content-area {
  border-radius: 10px 0 10px 10px;
  background: #fff;
  height: calc(97vh - 150px);
  box-shadow: 0 0 2px 2px #ddd;
}

.ed-main-wrapper > div.ed-right-col {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.ed-main-wrapper .ed-footer {
  width: 100%;
  height: 50px;
}

.ed-main-wrapper .ed-footer .ed-copyright {
  text-align: center;
}

.ed-main-wrapper .ed-footer .ed-copyright img {
  width: 60px;
  vertical-align: middle;
  margin-left: 5px;
}

/*# sourceMappingURL=main.css.map */
