h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.gm-btn-light {
    background: $clr-white;
    color: $clr-blue;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.gm-btn-default {
    background: $clr-white;
    font-size: 13px;
    font-weight: 600;
    color: $clr-text-grey-2;
    min-width: 150px;
    text-align: center;
    border: 1px solid transparentize($clr-text-grey, .5);
}

.gm-bg-img {
    background-size: cover;
    background-position: center;
    >img {
        opacity: 0;
    }
}

.gm-circle {
    @include border-radius(50%);
}

.gm-live-badge {
    &:before {
        content: "●";
        color: $clr-red;
        display: inline-block;
        margin-right: 5px;
    }
}

.gm-badge-red, .gm-badge-black {
    padding: 2px 5px;
    font-weight: 500;
    @include border-radius(3px);
}

.gm-badge-red {
    background: $clr-red;
    color: $clr-white;
    font-size: 13px;
}

.gm-badge-black {
    font-size: 12px;
    color: $clr-white;
    background: transparentize($clr-black, .1);
}

.block-title-style-1, .block-title-style-2 {
    color: $clr-text-grey-2;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    &:after {
        content: '';
        display: block;
        height: 3px;
        width: 160px;
        background: $clr-blue;
        margin-top: 9px;
    }
}

.block-title-style-2 {
    &:after {
        width: 440px;
    }
}

.gm-star-full {
    color: $clr-blue;
    background: rgb(0, 174, 255);
    background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gm-star-empty {
    color: transparentize($clr-text-grey, .5);
}

.gm-doc-card {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid transparentize($clr-text-grey, .8);
    @include border-radius(0);
    @include box-shadow(2px 3px 25px transparentize($clr-text-grey, 0.6));
    .gm-badge-black {
        z-index: 101;
        @include position(absolute, auto, 10px, 10px, auto);
    }
    .gm-history {
        color: $clr-white;
        z-index: 101;
        @include position(absolute, 10px, 10px, auto, auto);
    }
    .gm-img-wrapper {
        position: relative;
        margin-bottom: 20px;
        &.gm-bg-img.gm-circle {
            width: 180px;
            height: 180px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .gm-title {
        color: $clr-black;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .gm-meta-dtls {
        margin-top: 15px;
        display: flex;
        .gm-init {
            color: $clr-white;
            font-size: 14px;
            font-weight: 600;
            min-width: 35px;
            height: 35px;
            text-align: center;
            padding-top: 9px;
            margin-bottom: 5px;
            @include border-radius(50%);
            background: rgb(0, 174, 255);
            background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
            @include box-shadow(2px 3px 25px transparentize($clr-green, 0.6));
        }
        .gm-dtls {
            padding-left: 10px;
            color: $clr-text-grey;
            .gm-user {
                font-size: 13px;
                margin-bottom: 2px;
            }
            .gm-dates {
                font-size: 12px;
                font-weight: 500;
                span:not(:last-child) {
                    &:after {
                        content: "▪"
                    }
                }
            }
        }
        .gm-vdo-count {
            font-size: 13px;
            font-weight: 600;
            color: $clr-text-grey;
        }
    }
    .gm-text {
        font-size: 13px;
        color: $clr-text-grey;
    }
    .gm-view-profile {
        float: right;
        color: $clr-black;
        font-size: 14px;
        font-weight: 500;
        margin-top: 30px;
        &:hover {
            text-decoration: none;
        }
        >span {
            border-bottom: 3px solid $clr-blue;
        }
        i {
            vertical-align: middle;
            color: $clr-blue;
            margin-left: 5px;
            font-size: 18px;
        }
    }
    .gm-img-wrapper {
        cursor: pointer;
        .gm-video-overlay {
            z-index: 99;
            background: transparentize($clr-black, .4);
            opacity: 0;
            @include transition(all .3s ease);
            @include position(absolute, 0, 0, 0, 0);
        }
        .gm-play-icon {
            color: $clr-white;
            font-size: 40px;
            height: 37px;
            width: 34px;
            margin: auto;
            z-index: 100;
            @include transition(all .3s ease);
            opacity: 0;
            @include position(absolute, -75px, 0, 0, 0);
        }
    }
    &:hover {
        @include box-shadow(2px 3px 25px transparentize($clr-text-grey, 0.4));
        .gm-video-overlay {
            opacity: 1;
        }
        .gm-play-icon {
            opacity: 1;
            top: 0;
        }
    }
}

.gm-header-options {
    float: right;
    font-size: 14px;
    font-weight: 500;
    color: $clr-black;
    margin-top: 5px;
    i {
        color: $clr-green;
        margin-left: 5px;
        font-size: 22px;
        position: relative;
        top: 2px;
    }
    &:after {
        content: '';
        display: block;
        border-bottom: 3px solid $clr-green;
        margin-right: 14px;
    }
}

.gm-carousel-controls.gm-style-1 {
    margin: 20px auto auto auto;
    color: transparentize($clr-text-grey, .6);
    .gm-carousel-indicators li:not(.active):not(:hover) {
        background-color: transparentize($clr-text-grey, .6);
    }
    a:not(:hover) {
        color: transparentize($clr-text-grey, .6);
    }
    .gm-carousel-indicators li {
        width: 8px;
        height: 8px;
        font-size: 18px;
        margin: 0 1px;
    }
    a i {
        font-size: 18px;
    }
}

.gm-btn-green {
    font-size: 14px;
    font-weight: 600;
    color: $clr-white;
    @include border-radius(5px);
    background: rgb(0, 174, 255);
    background: -moz-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    background: linear-gradient(to right, rgba(0, 174, 255, 1) 0%, rgba(0, 174, 255, 1) 48%, rgba(64, 213, 187, 1) 100%);
    @include box-shadow(2px 3px 25px transparentize($clr-green, 0.6));
    i {
        margin-left: 5px;
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 1px 1px 5px opacify($clr-text-grey-2, .2);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(64, 213, 187);
    background: -moz-linear-gradient(top, rgba(64, 213, 187, 1) 0%, rgba(22, 148, 215, 1) 55%, rgba(0, 174, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(64, 213, 187, 1) 0%, rgba(22, 148, 215, 1) 55%, rgba(0, 174, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(64, 213, 187, 1) 0%, rgba(22, 148, 215, 1) 55%, rgba(0, 174, 255, 1) 100%);
    @include box-shadow(0px 9px 12px 0px transparentize($clr-text-grey, 0.6));
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    @include box-shadow(2px 3px 25px transparentize($clr-text-grey, 1));
}

body div ::-webkit-scrollbar {
    width: 6px;
}


/* doctor style 2 */

.gm-doc-card-2 {
    padding: 20px 20px 60px 20px;
    margin-bottom: 30px;
    border: 1px solid transparentize($clr-text-grey, .8);
    @include border-radius(0);
    @include box-shadow(2px 3px 25px transparentize($clr-text-grey, 0.6));
    .gm-img-wrapper {
        margin-bottom: 35px;
        >img {
            width: 180px;
            height: 180px;
            object-fit: cover;
            object-position: center;
        }
    }
    .card-block {
        min-height: 90px;
    }
    .gm-title {
        font-size: 14px;
        font-weight: 600;
    }
    .gm-sub-title {
        font-size: 13px;
        font-weight: 600;
        color: $clr-text-grey-2;
    }
    .gm-description {
        color: $clr-text-grey;
        font-size: 13px;
        font-weight: 600;
    }
    .gm-meta-dtls {
        padding: 0 20px 20px 20px;
        @include position(absolute, auto, 0, 0, 0);
        .gm-left-block {
            float: left;
            font-size: 13px;
            font-weight: 600;
            color: $clr-text-grey;
            >span:not(:last-child) {
                &:after {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    height: 13px;
                    width: 2px;
                    background: transparentize($clr-text-grey, .3);
                    margin: 0 5px;
                }
            }
        }
        .gm-right-block {
            float: right;
            >a {
                font-size: 14px;
                font-weight: 500;
                color: $clr-black;
                border-bottom: 2px solid $clr-green;
                &:hover {
                    text-decoration: none;
                }
            }
            i {
                color: $clr-green;
                font-size: 22px;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }
    .gm-img-wrapper {
        cursor: pointer;
        .gm-video-overlay {
            z-index: 99;
            background: transparentize($clr-black, .4);
            opacity: 0;
            @include transition(all .3s ease);
            @include position(absolute, 0, 0, 0, 0);
        }
        .gm-play-icon {
            color: $clr-white;
            font-size: 40px;
            height: 37px;
            width: 34px;
            margin: auto;
            z-index: 100;
            @include transition(all .3s ease);
            opacity: 0;
            @include position(absolute, -75px, 0, 0, 0);
        }
    }
    &:hover {
        @include box-shadow(2px 3px 25px transparentize($clr-text-grey, 0.4));
        .gm-video-overlay {
            opacity: 1;
        }
        .gm-play-icon {
            opacity: 1;
            top: 0;
        }
    }
}

.bootstrap-select {
    font-weight: 500;
    font-size: 14px;
    .btn, .dropdown-menu {
        font-weight: 500;
        font-size: 14px;
        background: $clr-white;
    }
}

.gm-filter-wrapper-sm {
    .gm-filter {
        margin-left: 5px;
        background: $clr-blue;
        color: $clr-white;
        padding: 3px 7px;
        font-size: 18px;
    }
}