/*--------------------------
// Website colors
--------------------------------*/

$clr-white: #fff;
$clr-bg: #fff;
$clr-black-base: #000;
$clr-black: #333;
$clr-primary: #333;
$clr-grey: #ddd;
$clr-grey-light: #eeeeee;
$clr-grey-dark: #999999;
$clr-border: #c2cad8;
$clr-header-text: #a7b5c6;
$clr-success: #36c6d3;
$clr-green: #26C281;