/*--------------------------
// Website colors
--------------------------------*/

$clr-blue: #16b1e4;
$clr-black: #434343;
$clr-white: #fff;
$clr-green: #40d5bb;
$clr-red:#f20000;
$clr-grey:#838383;
$clr-off-white:#e8e8e8;