/*--------------------------
// Website colors
--------------------------------*/

$clr-blue-dark: #274a73;
$clr-grey: #6c727a;
$clr-grey-light: #f3f3f3;
$clr-white: #fff;
$clr-black-light: #4d4c50;
$clr-blue: #480fb9;
$clr-red:#ff5252;
$clr-off-white:#e8e8e8;