/*--------------------------
// Website colors
--------------------------------*/

$clr-blue-dark: #274a73;
$clr-grey: #6c727a;
$clr-white: #fff;
$clr-blue: #480fb9;
$clr-red:#ff5252;
$clr-off-white:#e8e8e8;