@import '_utilities/_mixins';
@import '_utilities/_variables';
@import '_utilities/_helper';
@import '_partials/_components';
html,body{
    min-height:100%;
    
}
body {
    font-family: 'Lato', sans-serif;
    background: #f6f7fc;
}
.ed-main-wrapper{
    width:94%;
    margin:3vh auto auto auto;
    height: 97vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >div{
        -webkit-box-flex: 0;
        height: calc(97vh - 80px);
        margin-bottom: 20px;
        &.ed-left-col{
            
            -ms-flex: 0 0 73%;
            flex: 0 0 73%;
            max-width: 73%;
            border-radius: 10px;
            .ed-content-area{
                border-radius:10px 0 10px 10px;
                background: #fff;
                height: calc(97vh - 150px);
                @include box-shadow(0 0 2px 2px #ddd);

            }
        }
        &.ed-right-col{
            
            -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }
        
    }
    .ed-footer{
        
        width: 100%;
        height: 50px;
        .ed-copyright{
            text-align: center;
            img{
                width:60px;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }
}